.o-text {
  &.--is-wysiwyg {
    > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  h1 {
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(xl) {
      margin-bottom: 2rem;
    }
  }

  h2 {
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(xl) {
      margin-bottom: 2rem;
    }
  }

  h3 {
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(xl) {
      margin-bottom: 2rem;
    }
  }

  h4 {
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(xl) {
      margin-bottom: 1.75rem;
    }
  }

  h5 {
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(xl) {
      margin-bottom: 1.75rem;
    }
  }

  h6 {
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(xl) {
      margin-bottom: 1.5rem;
    }
  }

  a {
    @include plain-visited() {
      color: var(--oo-color-primary);
      text-decoration: underline currentColor;
      transition: text-decoration 0.25s ease-in-out;
    }

    @include hover-focus-active() {
      text-decoration-color: transparent;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1.5rem;

    li {
      list-style-type: none;
      position: relative;

      &:before {
        content: '';
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        left: -1.5rem;
        top: calc(($global-line-height / 2) - (0.5rem / 2));
        width: 0.5rem;
        height: 0.5rem;
        color: var(--oo-color-primary);
        background: currentColor;
      }

      ul {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      li {
        &:before {
          border: 2px solid currentColor;
          background: transparent;
        }
      }
    }
  }

  ol {
    list-style-type: none;
    counter-reset: numbers;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1.5rem;

    li {
      position: relative;
      counter-increment: numbers;

      &:before {
        content: counters(numbers, '.') ' ';
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        color: var(--oo-color-primary);
        font-family: $font-family-text-bold;
        font-weight: $font-weight-text-bold;
        left: -1.5rem;
      }

      ol {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      li {
        &:before {
          left: -2rem;
        }

        li {
          &:before {
            left: -3rem;
          }
        }
      }
    }
  }

  /* Positions */
  .--text-align-center & {
    :is(ul, ol) {
      padding-left: 0;
      li {
        &:before {
          position: relative;
          margin-right: 1rem;
          left: unset;
          top: unset;
        }
      }
    }

    ul {
      li {
        &:before {
          @include media-breakpoint-up(xl) {
            top: -0.125rem;
          }
        }
      }
    }

    blockquote {
      padding-left: 0;
      &:before {
        position: relative;
        display: inline-block;
        margin-right: 0.5rem;
        margin-top: 0;
        left: unset;
        top: 0.5rem;
      }
    }
  }

  /* Backgrounds */
  .--bg-light & {
    :is(h1, h2, h3, h4, h5, h6) {
      color: var(--oo-color-light-headline, var(--oo-color-headline));
    }

    :is(p, li, ol, pre, blockquote, dt, dd, dfn) {
      color: var(--oo-color-light-text, var(--oo-color-text));
    }

    a {
      color: var(--oo-color-light-primary);
    }

    :is(ul, ol) {
      li {
        &:before,
        &::marker {
          color: var(--oo-color-light-primary);
        }
      }
    }

    mark {
      color: var(--oo-color-light-contrast-primary);
      background-color: var(--oo-color-light-primary, var(--oo-color-primary));
    }

    blockquote {
      &:before {
        background-color: var(
          --oo-color-light-primary,
          var(--oo-color-primary)
        );
      }
    }
  }

  .--bg-dark & {
    :is(h1, h2, h3, h4, h5, h6) {
      color: var(--oo-color-dark-headline, var(--oo-color-headline));
    }

    :is(p, li, ol, pre, blockquote, dt, dd, dfn) {
      color: var(--oo-color-dark-text, var(--oo-color-text));
    }

    a {
      color: var(--oo-color-dark-primary);
    }

    :is(ul, ol) {
      li {
        &:before,
        &::marker {
          color: var(--oo-color-dark-primary);
        }
      }
    }

    mark {
      color: var(--oo-color-dark-contrast-primary);
      background-color: var(--oo-color-dark-primary, var(--oo-color-primary));
    }

    blockquote {
      &:before {
        background-color: var(--oo-color-dark-primary, var(--oo-color-primary));
      }
    }
  }

  .--bg-primary & {
    :is(h1, h2, h3, h4, h5, h6) {
      color: var(--oo-color-primary-headline, var(--oo-color-headline));
    }

    :is(p, li, ol, pre, blockquote, dt, dd, dfn) {
      color: var(--oo-color-primary-text, var(--oo-color-text));
    }

    a {
      color: var(--oo-color-primary-primary);
    }

    :is(ul, ol) {
      li {
        &:before,
        &::marker {
          color: var(--oo-color-primary-primary);
        }
      }
    }

    mark {
      color: var(--oo-color-primary-contrast-primary);
      background-color: var(
        --oo-color-primary-primary,
        var(--oo-color-primary)
      );
    }

    blockquote {
      &:before {
        background-color: var(
          --oo-color-primary-primary,
          var(--oo-color-primary)
        );
      }
    }
  }

  .--bg-secondary & {
    :is(h1, h2, h3, h4, h5, h6) {
      color: var(--oo-color-secondary-headline, var(--oo-color-headline));
    }

    :is(p, li, ol, pre, blockquote, dt, dd, dfn) {
      color: var(--oo-color-secondary-text, var(--oo-color-text));
    }

    a {
      color: var(--oo-color-secondary-primary);
    }

    :is(ul, ol) {
      li {
        &:before,
        &::marker {
          color: var(--oo-color-secondary-primary);
        }
      }
    }

    mark {
      color: var(--oo-color-secondary-contrast-primary);
      background-color: var(
        --oo-color-secondary-primary,
        var(--oo-color-primary)
      );
    }

    blockquote {
      &:before {
        background-color: var(
          --oo-color-secondary-primary,
          var(--oo-color-primary)
        );
      }
    }
  }

  .--bg-header & {
    :is(h1, h2, h3, h4, h5, h6) {
      color: var(--oo-color-header-text, var(--oo-color-text));
    }

    :is(p, li, ol, pre, blockquote, dt, dd, dfn, a) {
      color: var(--oo-color-header-text, var(--oo-color-text));
    }

    a {
      color: var(--oo-color-header-text, var(--oo-color-text));
    }

    :is(ul, ol) {
      li {
        &:before,
        &::marker {
          color: var(--oo-color-header-primary);
        }
      }
    }

    mark {
      color: var(--oo-color-header-contrast-primary);
      background-color: var(--oo-color-header-primary, var(--oo-color-primary));
    }

    blockquote {
      &:before {
        background-color: var(
          --oo-color-header-primary,
          var(--oo-color-primary)
        );
      }
    }
  }

  .--bg-footer & {
    :is(h1, h2, h3, h4, h5, h6) {
      color: var(--oo-color-footer-text, var(--oo-color-text));
    }

    :is(p, li, ol, pre, blockquote, dt, dd, dfn) {
      color: var(--oo-color-footer-text, var(--oo-color-text));
    }

    a {
      color: var(--oo-color-footer-primary, var(--oo-color-primary));
    }

    :is(ul, ol) {
      li {
        &:before,
        &::marker {
          color: var(--oo-color-footer-primary);
        }
      }
    }

    mark {
      color: var(--oo-color-footer-contrast-primary);
      background-color: var(--oo-color-footer-primary, var(--oo-color-primary));
    }

    blockquote {
      &:before {
        background-color: var(
          --oo-color-footer-primary,
          var(--oo-color-primary)
        );
      }
    }
  }

  .--bg-transparent & {
    :is(h1, h2, h3, h4, h5, h6) {
      color: var(--oo-color-headline);
    }

    :is(p, li, ol, pre, blockquote, dt, dd, dfn) {
      color: var(--oo-color-text);
    }

    a {
      color: var(--oo-color-primary);
    }

    :is(ul, ol) {
      li {
        &:before,
        &::marker {
          color: var(--oo-color-primary);
        }
      }
    }

    mark {
      color: var(--oo-color-contrast-primary);
      background-color: var(--oo-color-primary);
    }

    blockquote {
      &:before {
        background-color: var(--oo-color-primary);
      }
    }
  }
}
