$form-min-width: 180px;
$form-height: 2.375rem;
$form-margin: 0; // Margin
$form-padding: 0.625rem 0.75rem; // Padding
$form-padding-top: 0.375rem; // Padding
$form-padding-right: 0.5rem; // Padding
$form-select-size: 20px; // Size of the select arrow
$form-control-size: 20px; // Size of the checkbox and radio button (1)
$form-border: 1px solid var(--oo-color-mix-bg-text-50);
$form-radius: 8px; // Input border radius
$form-duration: 0.25s; // Transition duration
$form-timing: ease-in-out; // Transition timing
$form-svg-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
$form-svg-radio: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='currentColor' d='M256%2C464c114.9%2C0%2C208-93.1%2C208-208c0-114.9-93.1-208-208-208C141.1%2C48%2C48%2C141.1%2C48%2C256C48%2C370.9%2C141.1%2C464%2C256%2C464z'/%3E%3C/svg%3E");
$form-svg-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
$form-color: var(--oo-color-text);
$form-color-bg: var(--oo-color-mix-bg-text-10);
$form-bg: var(--oo-color-mix-bg-text-10);
$form-placeholder: var(--oo-color-mix-bg-text-30);
$form-primary: var(--oo-color-primary);
$form-primary-contrast: var(--oo-color-contrast-primary);
$form-primary-hover: var(--oo-color-mix-primary-contrast-20);
$form-shadow: none;
$form-shadow-active: 0px;
// $form-shadow: 2px 2px 0 var(--oo-color-transparent-text-10);
// $form-shadow-active: 2px 2px 0 var(--oo-color-transparent-text-20);

// BG Variations
$form-light-primary: var(--oo-color-light-primary, var(--oo-color-primary));
$form-light-primary-contrast: var(--oo-color-light-contrast-primary);
$form-light-primary-hover: var(--oo-color-light-mix-primary-contrast-20);
$form-light-shadow: 0px;
$form-light-shadow-focus: 0px;

$form-dark-primary: var(--oo-color-dark-primary, var(--oo-color-primary));
$form-dark-primary-contrast: var(--oo-color-dark-contrast-primary);
$form-dark-primary-hover: var(--oo-color-dark-mix-primary-contrast-20);
$form-dark-shadow: 0px;
$form-dark-shadow-focus: 0px;

$form-primary-primary: var(--oo-color-primary-primary, var(--oo-color-primary));
$form-primary-primary-contrast: var(--oo-color-primary-contrast-primary);
$form-primary-primary-hover: var(--oo-color-primary-mix-primary-contrast-20);
$form-primary-shadow: 0px;
$form-primary-shadow-focus: 0px;

$form-secondary-primary: var(--oo-color-secondary-primary,
    var(--oo-color-primary));
$form-secondary-primary-contrast: var(--oo-color-secondary-contrast-primary);
$form-secondary-primary-hover: var(--oo-color-secondary-mix-primary-contrast-20);
$form-secondary-shadow: 2px 2px 0 var(--oo-color-secondary-transparent-text-10);
$form-secondary-shadow-focus: 0px;

$form-footer-color: var(--oo-color-footer-text, var(--oo-color-text));
$form-footer-primary: var(--oo-color-footer-primary, var(--oo-color-primary));
$form-footer-primary-contrast: var(--oo-color-footer-contrast-primary);
$form-footer-primary-hover: var(--oo-color-footer-mix-primary-contrast-20);

/* Input */
.o-input {
  $o-input: &;
  appearance: none;
  box-sizing: border-box;
  min-width: $form-min-width;
  width: 100%;
  height: $form-height;
  margin: $form-margin;
  padding: $form-padding;
  outline: none;
  resize: vertical;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: $form-color;
  background: $form-bg;
  border: $form-border;
  border-radius: $form-radius;
  box-shadow: $form-shadow;
  transition: box-shadow $form-duration $form-timing;
  -moz-appearance: textfield;

  @include focus() {
    outline: 2px solid $form-primary;
  }

  &::placeholder {
    color: $form-placeholder;
    opacity: 1; // Reset opacity for Firefox
  }

  .--is--popup & {
    background-color: transparent;

    .--bg-light & {
      color: var(--oo-color-light-text);
      box-shadow: $form-light-shadow;

      &:focus {
        box-shadow: $form-light-shadow-focus;
      }
    }

    .--bg-dark & {
      color: var(--oo-color-dark-text);
      box-shadow: $form-dark-shadow;

      &:focus {
        box-shadow: $form-dark-shadow-focus;
      }
    }

    .--bg-primary & {
      color: var(--oo-color-primary-text);
      box-shadow: $form-primary-shadow;

      &:focus {
        box-shadow: $form-primary-shadow-focus;
      }
    }

    .--bg-secondary & {
      color: var(--oo-color-secondary-text);
      box-shadow: $form-secondary-shadow;

      &:focus {
        box-shadow: $form-secondary-shadow-focus;
      }
    }
  }

  .--bg-light & {}

  .--bg-dark & {}

  .--bg-primary & {}

  .--bg-secondary & {}

  .--bg-footer & {}
}

/* Select */
.o-select,
#onofficeSortListSelector {
  appearance: none;
  box-sizing: border-box;
  min-width: $form-min-width;
  width: 100%;
  height: $form-height;
  margin: $form-margin;
  padding: $form-padding;
  padding-right: calc(#{$form-padding-right} + calc(#{$form-padding-right} / 2) + #{$form-select-size});
  outline: none;
  resize: vertical;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: $form-color;
  background: $form-bg;
  border: $form-border;
  border-radius: $form-radius;
  box-shadow: $form-shadow;
  transition: box-shadow $form-duration $form-timing;

  @include focus() {
    outline: 2px solid $form-primary;
  }

  option[value=''] {
    color: $form-placeholder;
  }

  &.--single {
    background-image: $form-svg-arrow;
    background-size: $form-select-size;
    background-repeat: no-repeat;
    background-position: calc(100% - #{$form-padding-right}) center;
    height: $form-height;
  }

  &.--multiple {
    height: $form-height;
  }

  .--bg-light & {}

  .--bg-dark & {}

  .--bg-primary & {}

  .--bg-secondary & {}

  .--bg-footer & {}
}

#onofficeSortListSelector {
  width: auto;
}

/* Select2 */
.select2 {
  min-width: $form-min-width;
  width: 100% !important;
}

.select2-container--default {
  .select2-dropdown {
    color: $form-color;
    background: $form-bg;
    border: $form-border;
    border-radius: $form-radius;
    box-shadow: $form-shadow-active;
    margin: 0;
  }

  .select2-results {
    border: $form-border;
    border-radius: $form-radius;

    &__options {}

    &__option {
      padding: $form-padding;
      hyphens: auto;
      display: grid;
      grid-template-columns: 0.5rem 1fr;
      gap: 0.5rem;
      padding: 0.75rem;

      &:before {
        content: '●';
        color: $form-primary;
        line-height: $global-line-height;
      }

      &[aria-selected='true'],
      &--selected {
        background-color: $form-color-bg;

        &:before {
          color: $form-primary;
        }
      }

      &--highlighted[aria-selected] {
        background-color: $form-primary;
        color: $form-primary-contrast;

        &:before {
          color: $form-primary-contrast;
        }
      }

      &.level-0 {
        font-family: $font-family-text-bold;
        font-weight: $font-weight-text-bold;
      }

      &.level-1 {
        padding-left: 2rem;
      }

      &.level-2 {
        padding-left: 4rem;
      }

      &.level-3 {
        padding-left: 8rem;
      }

      &.level-4 {
        padding-left: 10rem;
      }

      &.level-5 {
        padding-left: 12rem;
      }

      @include active() {
        background-color: var(--oo-color-lighten-primary-90); // 10% of primary
      }
    }
  }

  .select2-search {
    $search: '.select2-search';

    &--inline {
      #{$search}__field {
        margin: 0;
        line-height: inherit;
        height: $mobile-global-line-height;
        font-family: inherit;

        @include media-breakpoint-up(xl) {
          height: $desktop-global-line-height;
        }
      }
    }

    &__field {
      font-family: inherit;
      font-size: 100%;
      line-height: inherit;
      color: $form-color;

      &::placeholder {
        color: $form-placeholder;
        opacity: 1; // Reset opacity for Firefox
      }
    }
  }

  .select2-selection {
    $selection: '.select2-selection';

    color: $form-color;
    background: $form-bg;
    border: $form-border;
    border-radius: $form-radius !important;
    box-shadow: $form-shadow;
    height: $form-height;
    padding: $form-padding;
    display: flex;
    align-items: center;

    @include focus() {
      outline: 2px solid $form-primary;
    }

    @include focus-within() {
      #{$selection}__arrow {
        b {
          background: $form-primary;
        }
      }
    }

    @include media-breakpoint-up(xl) {
      height: $form-height;
    }

    // Single -------------------------------------------------------------- //
    &--single {
      padding-right: calc(#{$form-padding-right} + calc(#{$form-padding-right} / 2) + #{$form-select-size});

      #{$selection}__rendered {
        color: inherit;
        padding: 0;
      }

      #{$selection}__clear {
        float: none;
        margin: 0;
        margin-right: 0.25rem;
        font-family: $font-family-text-bold;
        font-weight: $font-weight-text;
        color: $form-primary;
        position: static;
        border: none;
        font-size: 1.5rem;
        border-radius: $border-radius-small;

        span {
          display: flex;
        }
      }

      #{$selection}__arrow {
        width: calc(#{$form-padding-right} + calc(#{$form-padding-right} / 2) + #{$form-select-size});
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        b {
          position: relative;
          top: auto;
          left: auto;
          display: inline-block;
          width: $form-select-size;
          height: $form-select-size;
          margin: $form-margin;
          border: $form-border;
          border-radius: $form-radius;
          background: $form-color;
          mask: $form-svg-arrow;
          mask-repeat: no-repeat;
          mask-size: $form-select-size;
          mask-position: center;
        }
      }

      #{$selection}__placeholder {
        color: $form-placeholder;
      }
    }

    // Multiple -------------------------------------------------------------- //
    &--multiple {
      #{$selection}__rendered {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      #{$selection}__choice {
        border: none;
        padding: 0;
        margin: 0 0.5rem 0 0;
        background: none;
        cursor: default;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &__display {
          padding: 0;
        }

        &__remove {
          margin: 0;
          margin-right: 0.25rem;
          font-family: $font-family-text-bold;
          font-weight: $font-weight-text;
          color: $form-primary;
          position: static;
          border: none;
          font-size: 1.5rem;
          border-radius: $border-radius-small;

          span {
            display: flex;
          }
        }
      }
    }
  }

  &.select2-container--open {
    .select2-selection--single {
      box-shadow: $form-shadow-active;
    }
  }

  &.select2-container--focus {
    .select2-selection--multiple {
      border: $form-border;
      box-shadow: $form-shadow-active;
    }
  }

  .--bg-light & {}

  .--bg-dark & {}

  .--bg-primary & {}

  .--bg-secondary & {}

  .--bg-footer & {}
}

/* Textarea */
.o-textarea {
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  min-height: 9rem;
  max-height: 60vh;
  height: calc($mobile-global-line-height * 3);
  margin: $form-margin;
  padding: $form-padding;
  outline: none;
  resize: vertical;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: $form-color;
  background: $form-bg;
  border: $form-border;
  border-radius: $form-radius;
  box-shadow: $form-shadow;
  transition: box-shadow $form-duration $form-timing;

  @include media-breakpoint-up(xl) {
    height: calc($desktop-global-line-height * 3);
  }

  @include focus() {
    outline: 2px solid $form-primary;
  }

  &::placeholder {
    color: $form-placeholder;
    opacity: 1; // Reset opacity for Firefox
  }

  .--bg-light & {}

  .--bg-dark & {}

  .--bg-primary & {}

  .--bg-secondary & {}

  .--bg-footer & {}
}

/* Label */
.o-label {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  color: inherit;

  /* markup styling */
  a {
    color: $form-primary;
    border-bottom: 1px solid $form-primary;

    @include visited-active() {
      color: $form-primary;
      border-color: $form-primary;
    }

    @include hover-focus() {
      border-color: transparent;
      color: var(--oo-color-mix-primary-contrast-20);
    }
  }

  .--bg-light & {
    a {
      color: $form-light-primary;
      border-color: $form-light-primary;

      @include visited-active() {
        color: $form-light-primary;
        border-color: $form-light-primary;
      }

      @include hover-focus() {
        border-color: transparent;
        color: var(--oo-color-light-mix-primary-contrast-20);
      }
    }
  }

  .--bg-dark & {
    a {
      color: $form-dark-primary;
      border-color: $form-dark-primary;

      @include visited-active() {
        color: $form-dark-primary;
        border-color: $form-dark-primary;
      }

      @include hover-focus() {
        border-color: transparent;
        color: var(--oo-color-dark-mix-primary-contrast-20);
      }
    }
  }

  .--bg-primary & {
    a {
      color: $form-primary-primary;
      border-color: $form-primary-primary;

      @include visited-active() {
        color: $form-primary-primary;
        border-color: $form-primary-primary;
      }

      @include hover-focus() {
        border-color: transparent;
        color: var(--oo-color-primary-mix-primary-contrast-20);
      }
    }
  }

  .--bg-secondary & {
    a {
      color: $form-secondary-primary;
      border-color: $form-secondary-primary;

      @include visited-active() {
        color: $form-secondary-primary;
        border-color: $form-secondary-primary;
      }

      @include hover-focus() {
        border-color: transparent;
        color: var(--oo-color-secondary-mix-primary-contrast-20);
      }
    }
  }

  .--bg-footer & {
    a {
      color: $form-footer-primary;
      border-color: $form-footer-primary;

      @include visited-active() {
        color: $form-footer-primary;
        border-color: $form-footer-primary;
      }

      @include hover-focus() {
        border-color: transparent;
        color: var(--oo-color-footer-mix-primary-contrast-20);
      }
    }
  }

  .--bg-transparent & {
    a {
      color: $form-primary;
      border-color: $form-primary;

      @include visited-active() {
        color: $form-primary;
        border-color: $form-primary;
      }

      @include hover-focus() {
        border-color: transparent;
        color: var(--oo-color-mix-primary-contrast-20);
      }
    }
  }
}

/* Control */
.o-control {
  $o-control: &;
  position: relative;
  margin: 0;
  box-sizing: border-box;

  // Input -------------------------------------------------------------- //
  &__input {
    position: absolute;
    opacity: 0;
    appearance: none;
    margin: 0;
    left: 0;
    top: calc(50% - #{calc($form-control-size / 2)});
    width: $form-control-size;
    height: $form-control-size;
    pointer-events: none;
  }

  // Label -------------------------------------------------------------- //
  &__label {
    display: flex;
    align-items: center;
    position: relative;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    &::before,
    &::after {
      content: '';
      display: block;
      width: $form-control-size;
      height: $form-control-size;
      border-radius: $border-radius-small;
    }

    &::before {
      border: $form-border;
      flex-shrink: 0;
      margin-right: 0.5rem;
      background: $form-bg;
      box-shadow: $form-shadow;
      transition: box-shadow $form-duration $form-timing;
    }

    &::after {
      position: absolute;
      left: 0;
      background-color: $form-primary;
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
      transform: scale(0);
      transition: transform $form-duration $form-timing;
    }
  }

  &__input[type='radio']+&__label::before {
    border-radius: 100%;
  }

  &__input[type='radio']+&__label::after {
    mask: $form-svg-radio;
    mask-repeat: no-repeat;
    mask-size: $form-select-size;
    mask-position: center;
  }

  &__input[type='checkbox']+&__label::after {
    border: $form-border;
    mask: $form-svg-checkbox;
    mask-repeat: no-repeat;
    mask-size: $form-select-size;
    mask-position: center;
  }

  &__input:focus+&__label::before {
    box-shadow: $form-shadow-active;
  }

  &__input:checked+&__label::before {
    background-color: $form-primary;
  }

  &__input:checked+&__label::after {
    transform: scale(1);
  }

  &__input[type='checkbox']:checked+&__label::after {
    background: #fff;
  }

  .--is--popup & {
    &__label {
      &::before {
        background-color: transparent;

        .--bg-light & {
          box-shadow: $form-light-shadow;

          &:focus {
            box-shadow: $form-light-shadow-focus;
          }
        }

        .--bg-dark & {
          box-shadow: $form-dark-shadow;

          &:focus {
            box-shadow: $form-dark-shadow-focus;
          }
        }

        .--bg-primary & {
          box-shadow: $form-primary-shadow;

          &:focus {
            box-shadow: $form-primary-shadow;
          }
        }

        .--bg-secondary & {
          box-shadow: $form-secondary-shadow;

          &:focus {
            box-shadow: $form-secondary-shadow;
          }
        }
      }

      &::after {
        .--bg-light & {
          background-color: var(--oo-color-light-text);
        }

        .--bg-dark & {
          background-color: var(--oo-color-dark-text);
        }

        .--bg-primary & {
          background-color: var(--oo-color-primary-text);
        }

        .--bg-secondary & {
          background-color: var(--oo-color-secondary-text);
        }
      }
    }
  }

  .--bg-light & {}

  .--bg-dark & {}

  .--bg-primary & {}

  .--bg-secondary & {}

  .--bg-footer & {}
}

/* Fieldset */
.o-fieldset {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;

  .--is-range & {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 0;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0 2rem;
    }
  }
}

.o-legend {}