$form-height: 2.375rem;
$form-margin: 0; // Margin
$form-padding: 0.6875rem 1rem; // Padding
$form-padding-top: 1rem; // Padding top
$form-padding-right: 1rem; // Padding right
$form-remove-wrapper: 1rem; // Size of the remove background
$form-remove-size: 1rem; // Size of the remove icon
$form-select-size: 0.75rem; // Size of the select arrow icon
$form-control-wrapper: 1.5rem; // Size of the checkbox and radio button
$form-control-icon: 0.75rem; // Size of the checkbox and radio button icon
$form-checkbox-icon: 0.75rem; // Size of the checkbox icon
$form-border: 2px solid;
$form-border-color: var(--oo-color-mix-bg-contrast-60);
$form-outline: 0.5px solid transparent;
$form-outline-dropdown: 3px solid var(--oo-color-text);
$form-focus: var(--oo-color-text);
$form-duration: 0.25s; // Transition duration
$form-timing: ease-in-out; // Transition timing
$form-svg-close: url('data:image/svg+xml,%3Csvg%20id%3D%22Ebene_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20viewBox%3D%220%200%2016%2016%22%3E%3C!--%20Generator%3A%20Adobe%20Illustrator%2029.4.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%202.1.0%20Build%20152)%20%20--%3E%3Cdefs%3E%3Cstyle%3E%20%20%20%20%20%20.st0%20%7B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%20%20%20%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20id%3D%22Pfad_14899%22%20class%3D%22st0%22%20d%3D%22M8%2C0C3.58%2C0%2C0%2C3.58%2C0%2C8s3.58%2C8%2C8%2C8%2C8-3.58%2C8-8S12.42%2C0%2C8%2C0ZM6.29%2C5.5c-.21-.22-.57-.23-.79-.01-.22.21-.23.57-.01.79%2C0%2C0%2C0%2C0%2C.01.01l1.71%2C1.71-1.71%2C1.71c-.22.21-.23.57-.01.79.21.22.57.23.79.01%2C0%2C0%2C0%2C0%2C.01-.01l1.71-1.71%2C1.71%2C1.71c.21.22.57.23.79.01.22-.21.23-.57.01-.79%2C0%2C0%2C0%2C0-.01-.01l-1.71-1.71%2C1.71-1.71c.21-.22.21-.58-.01-.79-.22-.21-.56-.21-.77%2C0l-1.71%2C1.71-1.71-1.71Z%22%2F%3E%3C%2Fsvg%3E');
$form-svg-arrow: url('data:image/svg+xml,%3Csvg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2014%208%22%3E%3Cdefs%3E%3Cstyle%3E%20%20%20%20%20%20.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20none%3B%20%20%20%20%20%20%20%20stroke%3A%20%23737373%3B%20%20%20%20%20%20%20%20stroke-linecap%3A%20round%3B%20%20%20%20%20%20%20%20stroke-linejoin%3A%20round%3B%20%20%20%20%20%20%20%20vector-effect%3D%22non-scaling-stroke%22%3B%20%20%20%20%20%20%20%20stroke-width%3A%202px%3B%20%20%20%20%20%20%7D%20%20%20%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22Layer_1-2%22%20data-name%3D%22Layer%201%22%3E%3Cpath%20id%3D%22Path_14873%22%20data-name%3D%22Path%2014873%22%20class%3D%22cls-1%22%20d%3D%22M1%2C1l6%2C6L13%2C1%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
$form-svg-checkbox: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2012%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222px%22%3E%3Cpath%20d%3D%22M1%2C7l4%2C4L15%2C1%22%2F%3E%3C%2Fsvg%3E');
$form-color: var(--oo-color-text);
$form-bg: var(--oo-color-mix-bg-text-02, var(--oo-color-bg));
$form-placeholder: var(--oo-color-mix-bg-contrast-60);
$form-primary: var(--oo-color-primary);
$form-primary-contrast: var(--oo-color-contrast-primary);
$form-invalid-color: #e53935;
$form-invalid-color-encoded: str-replace('#{$form-invalid-color}', '#', '%23');
$form-valid-color: #43a047;

// BG Variations
$form-light-color: var(--oo-color-light-text, var(--oo-color-text));
$form-light-bg: var(
  --oo-color-light-mix-bg-text-02,
  var(--oo-color-light-bg, var(--oo-color-bg))
);
$form-light-border-color: var(--oo-color-light-mix-bg-contrast-60);
$form-light-focus: var(--oo-color-light-text, var(--oo-color-text));
$form-light-placeholder: var(--oo-color-light-mix-bg-contrast-60);
$form-light-primary: var(--oo-color-light-primary, var(--oo-color-primary));
$form-light-outline-dropdown: 3px solid var(--oo-color-light-text);

$form-dark-color: var(--oo-color-dark-text, var(--oo-color-text));
$form-dark-bg: var(
  --oo-color-dark-mix-bg-text-02,
  var(--oo-color-dark-bg, var(--oo-color-bg))
);
$form-dark-border-color: var(--oo-color-dark-mix-bg-contrast-60);
$form-dark-focus: var(--oo-color-dark-text, var(--oo-color-text));
$form-dark-placeholder: var(--oo-color-dark-mix-bg-contrast-60);
$form-dark-primary: var(--oo-color-dark-primary, var(--oo-color-primary));
$form-dark-outline-dropdown: 3px solid var(--oo-color-dark-text);

$form-primary-color: var(--oo-color-primary-text, var(--oo-color-text));
$form-primary-bg: var(
  --oo-color-primary-mix-bg-text-02,
  var(--oo-color-primary-bg, var(--oo-color-bg))
);
$form-primary-border-color: var(--oo-color-primary-mix-bg-contrast-60);
$form-primary-focus: var(--oo-color-primary-text, var(--oo-color-text));
$form-primary-placeholder: var(--oo-color-primary-mix-bg-contrast-60);
$form-primary-primary: var(--oo-color-primary-primary, var(--oo-color-primary));
$form-primary-outline-dropdown: 3px solid var(--oo-color-primary-text);

$form-secondary-color: var(--oo-color-secondary-text, var(--oo-color-text));
$form-secondary-bg: var(
  --oo-color-secondary-mix-bg-text-02,
  var(--oo-color-secondary-bg, var(--oo-color-bg))
);
$form-secondary-border-color: var(--oo-color-secondary-mix-bg-contrast-60);
$form-secondary-focus: var(--oo-color-secondary-text, var(--oo-color-text));
$form-secondary-placeholder: var(--oo-color-secondary-mix-bg-contrast-60);
$form-secondary-primary: var(
  --oo-color-secondary-primary,
  var(--oo-color-primary)
);
$form-secondary-outline-dropdown: 3px solid var(--oo-color-secondary-text);

$form-footer-color: var(--oo-color-footer-text, var(--oo-color-text));
$form-footer-bg: var(--oo-color-footer-bg, var(--oo-color-bg));
$form-footer-border-color: var(--oo-color-footer-mix-bg-contrast-60);
$form-footer-focus: var(--oo-color-footer-text, var(--oo-color-text));
$form-footer-placeholder: var(--oo-color-footer-mix-bg-contrast-60);
$form-footer-primary: var(--oo-color-footer-primary, var(--oo-color-primary));
$form-footer-outline-dropdown: 3px solid var(--oo-color-footer-text);

/* Input */
.o-input {
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  margin: $form-margin;
  padding: $form-padding;
  resize: vertical;
  font-family: inherit;
  font-size: 1rem;
  line-height: $global-line-height;
  color: $form-color;
  background-color: $form-bg;
  border: $form-border $form-border-color;
  outline: $form-outline;
  -moz-appearance: textfield;
  transition: outline-color $form-duration $form-timing,
    border-color $form-duration $form-timing;

  @include focus-all() {
    outline-color: $form-focus;
    border-color: $form-focus;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-clear-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Remove spin buttons in Chrome, Safari */
    margin: 0; /* Remove any margin (optional) */
  }

  &::placeholder {
    color: $form-placeholder;
    font-weight: $font-weight-text;
    opacity: 1; // Reset opacity for Firefox
  }

  .--bg-light & {
    background-color: $form-light-bg;
    border-color: $form-light-border-color;
    color: $form-light-color;

    @include focus-all() {
      outline-color: $form-light-focus;
      border-color: $form-light-focus;
    }

    &::-webkit-calendar-picker-indicator {
      background-color: $form-light-color;
    }

    &::placeholder {
      color: $form-light-placeholder;
    }
  }

  .--bg-dark & {
    background-color: $form-dark-bg;
    border-color: $form-dark-border-color;
    color: $form-dark-color;

    @include focus-all() {
      outline-color: $form-dark-focus;
      border-color: $form-dark-focus;
    }

    &::-webkit-calendar-picker-indicator {
      background-color: $form-dark-color;
    }

    &::placeholder {
      color: $form-dark-placeholder;
    }
  }

  .--bg-primary & {
    background-color: $form-primary-bg;
    border-color: $form-primary-border-color;
    color: $form-primary-color;

    @include focus-all() {
      outline-color: $form-primary-focus;
      border-color: $form-primary-focus;
    }

    &::-webkit-calendar-picker-indicator {
      background-color: $form-primary-color;
    }

    &::placeholder {
      color: $form-primary-placeholder;
    }
  }

  .--bg-secondary & {
    background-color: $form-secondary-bg;
    border-color: $form-secondary-border-color;
    color: $form-secondary-color;

    @include focus-all() {
      outline-color: $form-secondary-focus;
      border-color: $form-secondary-focus;
    }

    &::-webkit-calendar-picker-indicator {
      background-color: $form-secondary-color;
    }

    &::placeholder {
      color: $form-secondary-placeholder;
    }
  }

  .--bg-footer & {
    background-color: $form-footer-bg;
    border-color: $form-footer-border-color;
    color: $form-footer-color;

    @include focus-all() {
      outline-color: $form-footer-focus;
      border-color: $form-footer-focus;
    }

    &::placeholder {
      color: $form-footer-placeholder;
    }
  }

  .--bg-transparent & {
    background-color: $form-bg;
    border-color: $form-border-color;
    color: $form-color;

    @include focus-all() {
      outline-color: $form-focus;
      border-color: $form-focus;
    }

    &::placeholder {
      color: $form-placeholder;
    }
  }
}

.c-form.--validated {
  .o-textarea:invalid,
  .o-input:invalid {
    padding-right: 2.5rem;
    border-color: $form-invalid-color;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M1 21h22L12 2 1 21z' fill='none' stroke='#{$form-invalid-color-encoded}' stroke-width='2'/><line x1='12' y1='8' x2='12' y2='14' stroke='#{$form-invalid-color-encoded}' stroke-width='2'/><circle cx='12' cy='17' r='1.5' fill='#{$form-invalid-color-encoded}'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1.25rem;
    outline: none;
  }

  .o-textarea:required:valid,
  .o-input:required:valid {
    padding-right: 2.5rem;
    border-color: $form-valid-color; /* Use a variable for your success/valid color */
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%2328a745' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1.25rem;
    outline: none;
  }

  .o-select.is-invalid.invalid.ts-wrapper {
    padding-right: 2.5rem;
    border-color: $form-invalid-color;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M1 21h22L12 2 1 21z' fill='none' stroke='#{$form-invalid-color-encoded}' stroke-width='2'/><line x1='12' y1='8' x2='12' y2='14' stroke='#{$form-invalid-color-encoded}' stroke-width='2'/><circle cx='12' cy='17' r='1.5' fill='#{$form-invalid-color-encoded}'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1.25rem;
    outline: none;
  }
}

.c-form.--validated {
  .o-select.required.has-items.ts-wrapper {
    padding-right: 2.5rem;
    border-color: $form-valid-color;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%2328a745' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1.25rem;
    outline: none;
  }
}

.c-form__error-message {
  position: absolute;
  bottom: -1.5rem; /* Adjust this value as needed */
  right: 0;
  color: $form-invalid-color;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.o-control {
  .c-form__error-message {
    right: unset;
    left: 0;
  }
}

.c-form.--validated {
  .c-form__error-message.is-visible {
    opacity: 1;
  }
}

.c-form .o-label {
  position: relative;
}

/* Select */
.o-select,
.c-property-list__sort select {
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  margin: $form-margin;
  padding: $form-padding;
  resize: vertical;
  font-family: inherit;
  font-size: 100%;
  line-height: $global-line-height;
  color: $form-color;
  background-color: $form-bg;
  border: $form-border $form-border-color;
  outline: $form-outline;
  transition: outline-color $form-duration $form-timing,
    border-color $form-duration $form-timing;

  @include focus-all() {
    outline-color: $form-focus;
    border-color: $form-focus;
  }

  option {
    &[value=''] {
      color: $form-placeholder;
    }
  }

  &.--single {
    background-image: $form-svg-arrow;
    background-size: $form-select-size;
    background-repeat: no-repeat;
    background-position: calc(100% - $form-padding-right) center;
    padding-right: calc(($form-padding-right * 2) + $form-select-size);
  }

  &.--multiple {
    max-height: $form-height;
  }

  .--bg-light & {
    background-color: $form-light-bg;
    border-color: $form-light-border-color;
    color: $form-light-color;

    @include focus-all() {
      outline-color: $form-light-focus;
      border-color: $form-light-focus;
    }

    option {
      &[value=''] {
        color: $form-light-placeholder;
      }
    }
  }

  .--bg-dark & {
    background-color: $form-dark-bg;
    border-color: $form-dark-border-color;
    color: $form-dark-color;

    @include focus-all() {
      outline-color: $form-dark-focus;
      border-color: $form-dark-focus;
    }

    option {
      &[value=''] {
        color: $form-dark-placeholder;
      }
    }
  }

  .--bg-primary & {
    background-color: $form-primary-bg;
    border-color: $form-primary-border-color;
    color: $form-primary-color;

    @include focus-all() {
      outline-color: $form-primary-focus;
      border-color: $form-primary-focus;
    }

    option {
      &[value=''] {
        color: $form-primary-placeholder;
      }
    }
  }

  .--bg-secondary & {
    background-color: $form-secondary-bg;
    border-color: $form-secondary-border-color;
    color: $form-secondary-color;

    @include focus-all() {
      outline-color: $form-secondary-focus;
      border-color: $form-secondary-focus;
    }

    option {
      &[value=''] {
        color: $form-secondary-placeholder;
      }
    }
  }

  .--bg-footer & {
    background-color: $form-footer-bg;
    border-color: $form-footer-border-color;
    color: $form-footer-color;

    @include focus-all() {
      outline-color: $form-footer-focus;
      border-color: $form-footer-focus;
    }

    option {
      &[value=''] {
        color: $form-footer-placeholder;
      }
    }
  }

  .--bg-transparent & {
    background-color: $form-bg;
    border-color: $form-border-color;
    color: $form-color;

    @include focus-all() {
      outline-color: $form-focus;
      border-color: $form-focus;
    }

    option {
      &[value=''] {
        color: $form-placeholder;
      }
    }
  }
}

// TomSelect
.ts-wrapper,
.ts-wrapper.single,
.ts-wrapper.multi {
  &.o-select {
    position: relative;
    padding: unset;
    height: 3.375rem;
    max-height: 3.375rem;
    border: $form-border $form-border-color;
    outline: $form-outline;
    transition: outline-color $form-duration $form-timing,
      border-color $form-duration $form-timing;
  }

  &.focus {
    outline-color: $form-focus;
    border-color: $form-focus;
  }

  @include focus-all() {
    outline-color: $form-focus;
    border-color: $form-focus;
  }

  .ts-control {
    height: 100%;
    background-color: $form-bg;
    color: $form-color;
    border: none;
    border-radius: 0;
    line-height: 1.5rem;
    padding: $form-padding;

    &::after {
      content: '';
      position: absolute;
      right: 1rem;
      top: 50% !important;
      transform: translateY(-50%)!important;
      width: 0.75rem;
      height: 0.375rem;
      background-color: $form-color;
      mask: $form-svg-arrow;
      mask-repeat: no-repeat;
      mask-size: $form-select-size;
      mask-position: center;
    }

    &:not(.rtl) {
      padding-right: 2.75rem !important; // requires !important because Tomselect uses it
    }

    > .ts-control-inner {
      position: relative;
      display: inline-block;
      width: 100%;
      background-color: unset;
      white-space: nowrap;
      padding: unset;
      margin: unset;
      border: unset;
      border-radius: 0;

      input {
        max-width: 100%;
        height: 100%;
        vertical-align: middle;
        min-width: 100%;
        border: none;
        line-height: $global-line-height;
        font-size: 1rem;

        &::placeholder {
          color: $form-placeholder;
          font-weight: $font-weight-text;
          opacity: 1; // Reset opacity for Firefox
        }

        @include focus-all() {
          outline: unset;
        }
      }
    }
  }

  .ts-items {
    display: inline-block;
    max-width: calc(100% - 2.75rem);
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 30px;
  }

  .ts-item {
    display: inline;
    max-width: 100%;
    height: 100%;
    padding: unset !important;
    margin: 0 1.5rem 0 0;
    border: 0;
    cursor: default;

    &-remove {
      margin: 0 0.5rem 0 0;
      padding: 0;
      width: $form-remove-wrapper;
      height: $form-remove-wrapper;
      font-size: 0;
      border: 0;
      background-color: transparent;
      position: relative;
      top: -0.125rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      transition: background-color $form-duration $form-timing;
      cursor: pointer;

      &:before {
        content: '';
        display: inline-block;
        width: $form-remove-size;
        height: $form-remove-size;
        background-color: $form-color;
        mask: $form-svg-close;
        mask-repeat: no-repeat;
        mask-size: $form-remove-size;
        mask-position: center;
        transition: background-color $form-duration $form-timing;
      }
    }
  }

  .ts-dropdown {
    color: $form-color;
    background-color: $form-bg;
    outline: $form-outline-dropdown;
    border-radius: 0;
    border: none;
    overflow: hidden;
    margin: 0;
    text-align: left;

    &__item {
      display: flex;
      flex-direction: row;
      font-size: 1rem;
      min-height: 2.25rem;
      padding: 0.25rem 0.75rem;

      &.o-control {
        margin-top: unset;
      }

      &.active {
        background-color: $form-bg;
        color: $form-color;
        text-decoration: underline;
      }

      &.level-0 {
        font-family: $font-family-text-bold;
        font-weight: $font-weight-text-bold;
      }

      &.level-1 {
        padding-left: 1.5rem;
      }

      &.level-2 {
        padding-left: 3rem;
      }

      &.level-3 {
        padding-left: 4.5rem;
      }

      &.level-4 {
        padding-left: 6rem;
      }

      &.level-5 {
        padding-left: 7.5rem;
      }
    }

    &__label {
      &::before {
        margin-top: unset;
      }

      &::after {
        margin-top: unset;
      }
    }

    &__text {
      display: block;
      align-self: center;
      height: 100%;
      line-height: $global-line-height;
    }
  }

  &.has-items {
    .ts-control {
      padding: $form-padding;

      input {
        min-width: 3.5rem;

        &::placeholder {
          color: transparent;
        }
      }

      .ts-control-inner {
        .ts-items {
          width: 100%;
          max-width: none;
        }
      }
    }
  }

  .ts-dropdown-content {
    padding: 0.5rem 0;
  }

  .--bg-light & {
    border-color: $form-light-border-color;

    &.focus {
      outline-color: $form-light-focus;
      border-color: $form-light-focus;

      .ts-control {
        &::after {
          background-color: $form-light-color;
        }
      }
    }

    .ts-dropdown {
      color: $form-light-color;
      background-color: $form-light-bg;
      outline: $form-light-outline-dropdown;

      &__item {
        &.active {
          text-decoration: underline;
          background-color: $form-light-bg;
          color: $form-light-color;
        }
      }
    }

    .ts-items {
      color: $form-light-color;
    }

    .ts-item {
      &-remove {
        @include hover-focus-active() {
          &:before {
            background-color: $form-light-border-color;
          }
        }

        &::before {
          background-color: $form-light-color;
        }
      }
    }

    .ts-control {
      color: $form-light-color;
      background-color: $form-light-bg;
      border-color: $form-light-border-color;

      &::after {
        // dropdown chevron
        background-color: $form-light-border-color;
      }

      input {
        color: $form-light-color;
        background-color: $form-light-bg;
        border-color: $form-light-border-color;
        &::placeholder {
          color: $form-light-placeholder;
        }
      }
    }

    &.has-items {
      .ts-control {
        input {
          &::placeholder {
            color: transparent;
          }
        }

        .ts-control-inner {
          .ts-items {
            width: 100%;
            max-width: none;
          }
        }
      }
    }
  }

  .--bg-dark & {
    border-color: $form-dark-border-color;

    &.focus {
      outline-color: $form-dark-focus;
      border-color: $form-dark-focus;

      .ts-control {
        &::after {
          background-color: $form-dark-color;
        }
      }
    }
    .ts-dropdown {
      color: $form-dark-color;
      background-color: $form-dark-bg;
      outline: $form-dark-outline-dropdown;

      &__item {
        &.active {
          text-decoration: underline;
          background-color: $form-dark-bg;
          color: $form-dark-color;
        }
      }
    }
    .ts-items {
      color: $form-dark-color;
    }
    .ts-item {
      &-remove {
        @include hover-focus-active() {
          &:before {
            background-color: $form-dark-border-color;
          }
        }

        &::before {
          background-color: $form-dark-color;
        }
      }
    }
    .ts-control {
      color: $form-dark-color;
      background-color: $form-dark-bg;
      border-color: $form-dark-border-color;

      &::after {
        // dropdown chevron
        background-color: $form-dark-border-color;
      }

      input {
        color: $form-dark-color;
        background-color: $form-dark-bg;
        border-color: $form-dark-border-color;
        &::placeholder {
          color: $form-dark-placeholder;
        }
      }
    }

    &.has-items {
      .ts-control {
        input {
          &::placeholder {
            color: transparent;
          }
        }

        .ts-control-inner {
          .ts-items {
            width: 100%;
            max-width: none;
          }
        }
      }
    }
  }

  .--bg-primary & {
    border-color: $form-primary-border-color;

    &.focus {
      outline-color: $form-primary-focus;
      border-color: $form-primary-focus;

      .ts-control {
        &::after {
          background-color: $form-primary-color;
        }
      }
    }
    .ts-dropdown {
      color: $form-primary-color;
      background-color: $form-primary-bg;
      outline: $form-primary-outline-dropdown;

      &__item {
        &.active {
          text-decoration: underline;
          background-color: $form-primary-bg;
          color: $form-primary-color;
        }
      }
    }
    .ts-items {
      color: $form-primary-color;
    }
    .ts-item {
      &-remove {
        @include hover-focus-active() {
          &:before {
            background-color: $form-primary-border-color;
          }
        }

        &::before {
          background-color: $form-primary-color;
        }
      }
    }
    .ts-control {
      color: $form-primary-color;
      background-color: $form-primary-bg;
      border-color: $form-primary-border-color;

      &::after {
        // dropdown chevron
        background-color: $form-primary-border-color;
      }

      input {
        color: $form-primary-color;
        background-color: $form-primary-bg;
        border-color: $form-primary-border-color;
        &::placeholder {
          color: $form-primary-placeholder;
        }
      }
    }

    &.has-items {
      .ts-control {
        input {
          &::placeholder {
            color: transparent;
          }
        }

        .ts-control-inner {
          .ts-items {
            width: 100%;
            max-width: none;
          }
        }
      }
    }
  }

  .--bg-secondary & {
    border-color: $form-secondary-border-color;

    &.focus {
      outline-color: $form-secondary-focus;
      border-color: $form-secondary-focus;

      .ts-control {
        &::after {
          background-color: $form-secondary-color;
        }
      }
    }

    .ts-dropdown {
      color: $form-secondary-color;
      background-color: $form-secondary-bg;
      outline: $form-secondary-outline-dropdown;

      &__item {
        &.active {
          text-decoration: underline;
          background-color: $form-secondary-bg;
          color: $form-secondary-color;
        }
      }
    }
    .ts-items {
      color: $form-secondary-color;
    }
    .ts-item {
      &-remove {
        @include hover-focus-active() {
          &:before {
            background-color: $form-secondary-border-color;
          }
        }

        &::before {
          background-color: $form-secondary-color;
        }
      }
    }
    .ts-control {
      color: $form-secondary-color;
      background-color: $form-secondary-bg;
      border-color: $form-secondary-border-color;

      &::after {
        // dropdown chevron
        background-color: $form-secondary-border-color;
      }

      input {
        color: $form-secondary-color;
        background-color: $form-secondary-bg;
        border-color: $form-secondary-border-color;
        &::placeholder {
          color: $form-secondary-placeholder;
        }
      }
    }

    &.has-items {
      .ts-control {
        input {
          &::placeholder {
            color: transparent;
          }
        }

        .ts-control-inner {
          .ts-items {
            width: 100%;
            max-width: none;
          }
        }
      }
    }
  }

  .--bg-footer & {
    border-color: $form-footer-border-color;

    &.focus {
      outline-color: $form-footer-focus;
      border-color: $form-footer-focus;

      .ts-control {
        &::after {
          background-color: $form-footer-color;
        }
      }
    }

    .ts-dropdown {
      color: $form-footer-color;
      background-color: $form-footer-bg;
      outline: $form-footer-outline-dropdown;

      &__item {
        &.active {
          text-decoration: underline;
          background-color: $form-footer-bg;
          color: $form-footer-color;
        }
      }
    }
    .ts-items {
      color: $form-footer-color;
    }
    .ts-item {
      &-remove {
        @include hover-focus-active() {
          &:before {
            background-color: $form-footer-border-color;
          }
        }

        &::before {
          background-color: $form-footer-color;
        }
      }
    }
    .ts-control {
      color: $form-footer-color;
      background-color: $form-footer-bg;
      border-color: $form-footer-border-color;

      &::after {
        // dropdown chevron
        background-color: $form-footer-border-color;
      }

      input {
        color: $form-footer-color;
        background-color: $form-footer-bg;
        border-color: $form-footer-border-color;
        &::placeholder {
          color: $form-footer-placeholder;
        }
      }
    }

    &.has-items {
      .ts-control {
        input {
          &::placeholder {
            color: transparent;
          }
        }

        .ts-control-inner {
          .ts-items {
            width: 100%;
            max-width: none;
          }
        }
      }
    }
  }

  .--bg-transparent & {
    border-color: $form-border-color;

    &.focus {
      outline-color: $form-focus;
      border-color: $form-focus;

      .ts-control {
        &::after {
          background-color: $form-color;
        }
      }
    }

    .ts-dropdown {
      color: $form-color;
      background-color: $form-bg;

      &__item {
        &.active {
          text-decoration: underline;
          background-color: $form-bg;
          color: $form-color;
        }
      }
    }
    .ts-items {
      color: $form-color;
    }
    .ts-item {
      &-remove {
        @include hover-focus-active() {
          &:before {
            background-color: $form-border-color;
          }
        }
      }
    }
    .ts-control {
      color: $form-color;
      background-color: $form-bg;
      border-color: $form-border-color;

      &::after {
        // dropdown chevron
        background-color: $form-border-color;
      }

      input {
        color: $form-color;
        background-color: $form-bg;
        border-color: $form-border-color;
        &::placeholder {
          color: $form-placeholder;
        }
      }
    }

    &.has-items {
      .ts-control {
        input {
          &::placeholder {
            color: transparent;
          }
        }

        .ts-control-inner {
          .ts-items {
            width: 100%;
            max-width: none;
          }
        }
      }
    }
  }
}

/* Textarea */
.o-textarea {
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  margin: $form-margin;
  padding: $form-padding;
  min-height: calc(($global-line-height * 5) + ($form-padding-top * 2));
  max-height: 60vh;
  resize: vertical;
  font-family: inherit;
  font-size: 100%;
  line-height: $global-line-height;
  color: $form-color;
  background-color: $form-bg;
  border: $form-border $form-border-color;
  outline: $form-outline;
  transition: outline-color $form-duration $form-timing,
    border-color $form-duration $form-timing;

  @include focus-all() {
    outline-color: $form-focus;
    border-color: $form-focus;
  }

  &::placeholder {
    color: $form-placeholder;
    font-weight: $font-weight-text;
    opacity: 1; // Reset opacity for Firefox
  }

  .--bg-light & {
    background-color: $form-light-bg;
    border-color: $form-light-border-color;
    color: $form-light-color;

    @include focus-all() {
      outline-color: $form-light-focus;
      border-color: $form-light-focus;
    }

    &::placeholder {
      color: $form-light-placeholder;
    }
  }

  .--bg-dark & {
    background-color: $form-dark-bg;
    border-color: $form-dark-border-color;
    color: $form-dark-color;

    @include focus-all() {
      outline-color: $form-dark-focus;
      border-color: $form-dark-focus;
    }

    &::placeholder {
      color: $form-dark-placeholder;
    }
  }

  .--bg-primary & {
    background-color: $form-primary-bg;
    border-color: $form-primary-border-color;
    color: $form-primary-color;

    @include focus-all() {
      outline-color: $form-primary-focus;
      border-color: $form-primary-focus;
    }

    &::placeholder {
      color: $form-primary-placeholder;
    }
  }

  .--bg-secondary & {
    background-color: $form-secondary-bg;
    border-color: $form-secondary-border-color;
    color: $form-secondary-color;

    @include focus-all() {
      outline-color: $form-secondary-focus;
      border-color: $form-secondary-focus;
    }

    &::placeholder {
      color: $form-secondary-placeholder;
    }
  }

  .--bg-footer & {
    background-color: $form-footer-bg;
    border-color: $form-footer-border-color;
    color: $form-footer-color;

    @include focus-all() {
      outline-color: $form-footer-focus;
      border-color: $form-footer-focus;
    }

    &::placeholder {
      color: $form-footer-placeholder;
    }
  }

  .--bg-transparent & {
    background-color: $form-bg;
    border-color: $form-border-color;
    color: $form-color;

    @include focus-all() {
      outline-color: $form-focus;
      border-color: $form-focus;
    }

    &::placeholder {
      color: $form-placeholder;
    }
  }
}

/* Label */
.o-label {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 0;
  color: inherit;

  /* markup styling */
  a {
    @include plain-visited() {
      color: $form-primary;
      text-decoration: underline currentColor;
      transition: text-decoration 0.25s ease-in-out;
    }

    @include hover-focus-active() {
      text-decoration-color: transparent;
    }
  }

  .--bg-light & {
    a {
      color: $form-light-primary;
    }
  }

  .--bg-dark & {
    a {
      color: $form-dark-primary;
    }
  }

  .--bg-primary & {
    a {
      color: $form-primary-primary;
    }
  }

  .--bg-secondary & {
    a {
      color: $form-secondary-primary;
    }
  }

  .--bg-footer & {
    a {
      color: $form-footer-primary;
    }
  }

  .--bg-transparent & {
    a {
      color: $form-primary;
    }
  }
}

/* Control */
.o-control {
  $o-control: &;

  position: relative;
  margin: 0;
  box-sizing: border-box;

  &:not(& ~ &) {
    margin-top: 0.5rem;
    @include media-breakpoint-up(xl) {
      margin-top: 1rem;
    }
  }

  // Input -------------------------------------------------------------- //
  &__input {
    position: absolute;
    opacity: 0;
    appearance: none;
    margin: 0;
    left: 0;
    top: 0.125rem;
    width: $form-control-wrapper;
    height: $form-control-wrapper;
    pointer-events: none;
  }

  // Label -------------------------------------------------------------- //
  &__label {
    display: flex;
    align-items: flex-start;
    position: relative;
    hyphens: auto;

    &:before {
      content: '';
      width: $form-control-wrapper;
      height: $form-control-wrapper;
      flex-shrink: 0;
      margin-right: 1rem;
      background-color: $form-bg;
      position: relative;
      border: $form-border $form-border-color;
      outline: $form-outline;
      outline-width: 2px;
      transition: outline $form-duration $form-timing,
        border $form-duration $form-timing,
        background-color $form-duration $form-timing;
    }

    &:after {
      content: '';
      display: block;
      width: $form-control-icon;
      height: $form-control-icon;
      position: absolute;
      left: calc(($form-control-wrapper / 2) - ($form-control-icon / 2));
      top: calc(($form-control-wrapper / 2) - ($form-control-icon / 2));
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      transform: scale(0);
      mask: $form-svg-checkbox;
      mask-repeat: no-repeat;
      mask-size: $form-checkbox-icon;
      mask-position: center;
      transition: transform $form-duration $form-timing,
        background-color $form-duration $form-timing;
    }
  }

  &__input[type='radio'] + &__label {
    &:before {
      border-radius: 100%;
    }
    &:after {
      mask: none;
      background-color: $form-color;
      border-radius: 100%;
    }
  }

  &__input:checked + &__label {
    &:after {
      transform: scale(1);
    }
    &::before {
      border-color: $form-color;
    }
  }

  &__input:focus + &__label,
  &__input:focus-visible + &__label {
    &:before {
      outline-color: $form-focus;
      border-color: $form-focus;
    }
  }

  .--bg-light & {
    #{$o-control}__label {
      &:before {
        background-color: $form-light-bg;
        border-color: $form-light-border-color;
      }

      &:after {
        background-color: $form-light-color;
      }
    }

    #{$o-control}__input[type='radio'] + #{$o-control}__label {
      &:after {
        background-color: $form-light-primary;
      }
    }

    #{$o-control}__input:checked + #{$o-control}__label {
      &:before {
        border-color: $form-light-color;
      }
    }

    #{$o-control}__input:focus + #{$o-control}__label {
      &:before {
        outline-color: $form-light-focus;
        border-color: $form-light-focus;
      }
    }
  }

  .--bg-dark & {
    #{$o-control}__label {
      &:before {
        background-color: $form-dark-bg;
        border-color: $form-dark-border-color;
      }

      &:after {
        background-color: $form-dark-color;
      }
    }

    #{$o-control}__input[type='radio'] + #{$o-control}__label {
      &:after {
        background-color: $form-dark-primary;
      }
    }

    #{$o-control}__input:checked + #{$o-control}__label {
      &:before {
        border-color: $form-dark-color;
      }
    }

    #{$o-control}__input:focus + #{$o-control}__label {
      &:before {
        outline-color: $form-dark-focus;
        border-color: $form-dark-focus;
      }
    }
  }

  .--bg-primary & {
    #{$o-control}__label {
      &:before {
        background-color: $form-primary-bg;
        border-color: $form-primary-border-color;
      }

      &:after {
        background-color: $form-primary-color;
      }
    }

    #{$o-control}__input[type='radio'] + #{$o-control}__label {
      &:after {
        background-color: $form-primary-primary;
      }
    }

    #{$o-control}__input:checked + #{$o-control}__label {
      &:before {
        border-color: $form-primary-color;
      }
    }

    #{$o-control}__input:focus + #{$o-control}__label {
      &:before {
        outline-color: $form-primary-focus;
        border-color: $form-primary-focus;
      }
    }
  }

  .--bg-secondary & {
    #{$o-control}__label {
      &:before {
        background-color: $form-secondary-bg;
        border-color: $form-secondary-border-color;
      }

      &:after {
        background-color: $form-secondary-color;
      }
    }

    #{$o-control}__input[type='radio'] + #{$o-control}__label {
      &:after {
        background-color: $form-secondary-primary;
      }
    }

    #{$o-control}__input:checked + #{$o-control}__label {
      &:before {
        border-color: $form-secondary-color;
      }
    }

    #{$o-control}__input:focus + #{$o-control}__label {
      &:before {
        outline-color: $form-secondary-focus;
        border-color: $form-secondary-focus;
      }
    }
  }

  .--bg-footer & {
    #{$o-control}__label {
      &:before {
        background-color: $form-footer-bg;
        border-color: $form-footer-border-color;
      }

      &:after {
        background-color: $form-footer-color;
      }
    }

    #{$o-control}__input[type='radio'] + #{$o-control}__label {
      &:after {
        background-color: $form-footer-primary;
      }
    }

    #{$o-control}__input:checked + #{$o-control}__label {
      &:before {
        border-color: $form-footer-color;
      }
    }

    #{$o-control}__input:focus + #{$o-control}__label {
      &:before {
        outline-color: $form-footer-focus;
        border-color: $form-footer-focus;
      }
    }
  }

  .--bg-transparent & {
    #{$o-control}__label {
      &:after {
        background-color: $form-color;
      }
    }

    #{$o-control}__input[type='radio'] + #{$o-control}__label {
      &:after {
        background-color: $form-primary;
      }
    }

    #{$o-control}__input:checked + #{$o-control}__label {
      &:before {
        border-color: $form-color;
      }
    }

    #{$o-control}__input:focus + #{$o-control}__label {
      &:before {
        outline-color: $form-focus;
        border-color: $form-focus;
      }
    }
  }
}

.c-form.--validated {
  & .o-control__input:invalid + .o-control__label {
    &:before {
      border-color: $form-invalid-color;
    }
  }
}

/* Fieldset */
.o-fieldset {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;

  .--is-range & {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 0;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0 2rem;
    }
  }
}

.o-legend {
}
