.o-main {
  min-height: calc($mobile-header-height + $mobile-section-padding-top);
  @include media-breakpoint-up(xl) {
    min-height: calc($mobile-header-height + $desktop-section-padding-top);
  }
  @include media-breakpoint-up(xxl) {
    min-height: calc($desktop-header-height + $desktop-section-padding-top);
  }

  @include media-breakpoint-up(xxxl) {
    padding-top: 0;
  }

  /* Do not show the outline on the skip link target. */
  &[tabindex='-1']:focus {
    outline: 0;
  }

  // Error Message on detailpage
  & > div:not([class]) {
    width: 100%;
    padding-right: $container-padding-x;
    padding-left: $container-padding-x;
    padding-bottom: $mobile-section-padding-bottom;
    @include media-breakpoint-up(xl) {
      padding-bottom: $desktop-section-padding-bottom;
    }
    margin-right: auto;
    margin-left: auto;
    @each $breakpoint, $container-max-width in $container-max-widths {
      @include mq($from: $breakpoint) {
        max-width: $container-max-width;
      }
    }
  }
}
