.o-section {
  $o-section: &;

  scroll-margin-top: $mobile-header-height;
  scroll-snap-align: start;
  color: var(--oo-color-text);
  background-color: var(--oo-color-bg);
  padding-top: $mobile-section-padding-top;
  padding-bottom: $mobile-section-padding-bottom;

  @include media-breakpoint-up(xl) {
    padding-top: $desktop-section-padding-top;
    padding-bottom: $desktop-section-padding-bottom;
  }

  @include media-breakpoint-up(xxl) {
    scroll-margin-top: $desktop-header-height;
  }

  &.--bg-transparent {
  }

  &.--bg-light {
    color: var(--oo-color-light-text, var(--oo-color-text));
    background-color: var(--oo-color-light-bg, var(--oo-color-bg));
  }

  &.--bg-dark {
    color: var(--oo-color-dark-text, var(--oo-color-text));
    background-color: var(--oo-color-dark-bg, var(--oo-color-bg));
  }

  &.--bg-primary {
    color: var(--oo-color-primary-text, var(--oo-color-text));
    background-color: var(--oo-color-primary-bg, var(--oo-color-bg));
  }

  &.--bg-secondary {
    color: var(--oo-color-secondary-text, var(--oo-color-text));
    background-color: var(--oo-color-secondary-bg, var(--oo-color-bg));
  }

  // remove padding if sections with the same color are underneath each other
  &.--bg-transparent:not(.--has-bg-image)
    + &.--bg-transparent:not(.--has-bg-image),
  &.--bg-light:not(.--has-bg-image) + &.--bg-light:not(.--has-bg-image),
  &.--bg-dark:not(.--has-bg-image) + &.--bg-dark:not(.--has-bg-image),
  &.--bg-primary:not(.--has-bg-image) + &.--bg-primary:not(.--has-bg-image),
  &.--bg-secondary:not(.--has-bg-image)
    + &.--bg-secondary:not(.--has-bg-image) {
    padding-top: 0;
  }
}
