:root {
  --oo-color-success: #c3e3d1;
  --oo-color-success-r: 195;
  --oo-color-success-g: 227;
  --oo-color-success-b: 290;
  --oo-color-warning: #f3e2c0;
  --oo-color-warning-r: 243;
  --oo-color-warning-g: 226;
  --oo-color-warning-b: 192;
  --oo-color-error: #efb1b2;
  --oo-color-error-r: 239;
  --oo-color-error-g: 177;
  --oo-color-error-b: 178;

  // global
  #{--oo-color-contrast-success}: contrast-color(var(--oo-color-success));
  #{--oo-color-contrast-warning}: contrast-color(var(--oo-color-warning));
  #{--oo-color-contrast-error}: contrast-color(var(--oo-color-error));
  #{--oo-color-transparent-text-10}: transparent-color(
    var(--oo-color-text),
    0.1
  );
  #{--oo-color-transparent-text-20}: transparent-color(
    var(--oo-color-text),
    0.2
  );
  #{--oo-color-transparent-text-60}: transparent-color(
    var(--oo-color-text),
    0.6
  );
  #{--oo-color-transparent-bg-0}: transparent-color(var(--oo-color-bg), 0);
  #{--oo-color-transparent-bg-80}: transparent-color(var(--oo-color-bg), 0.8);
  #{--oo-color-transparent-bg-90}: transparent-color(var(--oo-color-bg), 0.9);
  #{--oo-color-transparent-bg-100}: transparent-color(var(--oo-color-bg), 1);
  #{--oo-color-transparent-primary-40}: transparent-color(
    var(--oo-color-primary),
    0.4
  );
  #{--oo-color-transparent-primary-60}: transparent-color(
    var(--oo-color-primary),
    0.6
  );
  #{--oo-color-transparent-primary-80}: transparent-color(
    var(--oo-color-primary),
    0.8
  );
  #{--oo-color-lighten-primary-40}: lighten-color(var(--oo-color-primary), 0.4);
  #{--oo-color-lighten-primary-90}: lighten-color(var(--oo-color-primary), 0.9);
  #{--oo-color-contrast-primary}: contrast-color(var(--oo-color-primary));
  #{--oo-color-contrast-text}: contrast-color(var(--oo-color-text));
  #{--oo-color-mix-text-contrast-20}: mix-color-with-contrast(
    var(--oo-color-text),
    0.2
  );
  #{--oo-color-mix-text-contrast-40}: mix-color-with-contrast(
    var(--oo-color-text),
    0.4
  );
  #{--oo-color-mix-text-contrast-60}: mix-color-with-contrast(
    var(--oo-color-text),
    0.6
  );
  #{--oo-color-mix-bg-contrast-20}: mix-color-with-contrast(
    var(--oo-color-bg),
    0.2
  );
  #{--oo-color-mix-bg-contrast-50}: mix-color-with-contrast(
    var(--oo-color-bg),
    0.5
  );
  #{--oo-color-mix-primary-contrast-20}: mix-color-with-contrast(
    var(--oo-color-primary),
    0.2
  );
  #{--oo-color-mix-primary-contrast-40}: mix-color-with-contrast(
    var(--oo-color-primary),
    0.4
  );
  #{--oo-color-mix-primary-contrast-60}: mix-color-with-contrast(
    var(--oo-color-primary),
    0.6
  );
  #{--oo-color-mix-bg-text-5}: mix-colors(
    var(--oo-color-bg),
    var(--oo-color-text),
    0.05
  );
  #{--oo-color-mix-bg-text-10}: mix-colors(
    var(--oo-color-bg),
    var(--oo-color-text),
    0.1
  );
  #{--oo-color-mix-bg-text-20}: mix-colors(
    var(--oo-color-bg),
    var(--oo-color-text),
    0.2
  );
  #{--oo-color-mix-bg-text-30}: mix-colors(
    var(--oo-color-bg),
    var(--oo-color-text),
    0.3
  );
  #{--oo-color-mix-bg-text-50}: mix-colors(
    var(--oo-color-bg),
    var(--oo-color-text),
    0.5
  );

  // light
  #{--oo-color-light-transparent-text-10}: transparent-color(
    var(--oo-color-light-text),
    0.1,
    var(--oo-color-text)
  );
  #{--oo-color-light-transparent-text-20}: transparent-color(
    var(--oo-color-light-text),
    0.2,
    var(--oo-color-text)
  );
  #{--oo-color-light-transparent-bg-0}: transparent-color(
    var(--oo-color-light-bg),
    0,
    var(--oo-color-bg)
  );
  #{--oo-color-light-transparent-bg-80}: transparent-color(
    var(--oo-color-light-bg),
    0.8,
    var(--oo-color-bg)
  );
  #{--oo-color-light-transparent-bg-100}: transparent-color(
    var(--oo-color-light-bg),
    1,
    var(--oo-color-bg)
  );
  #{--oo-color-light-transparent-primary-40}: transparent-color(
    var(--oo-color-light-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-light-transparent-primary-60}: transparent-color(
    var(--oo-color-light-primary),
    0.6,
    var(--oo-color-primary)
  );
  #{--oo-color-light-transparent-primary-80}: transparent-color(
    var(--oo-color-light-primary),
    0.8,
    var(--oo-color-primary)
  );
  #{--oo-color-light-lighten-primary-40}: lighten-color(
    var(--oo-color-light-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-light-contrast-primary}: contrast-color(
    var(--oo-color-light-primary),
    var(--oo-color-primary)
  );
  #{--oo-color-light-contrast-text}: contrast-color(
    var(--oo-color-light-text),
    var(--oo-color-text)
  );
  #{--oo-color-light-mix-text-contrast-20}: mix-color-with-contrast(
    var(--oo-color-light-text),
    0.2,
    var(--oo-color-text)
  );
  #{--oo-color-light-mix-text-contrast-40}: mix-color-with-contrast(
    var(--oo-color-light-text),
    0.4,
    var(--oo-color-text)
  );
  #{--oo-color-light-mix-text-contrast-60}: mix-color-with-contrast(
    var(--oo-color-light-text),
    0.6,
    var(--oo-color-text)
  );
  #{--oo-color-light-mix-bg-contrast-20}: mix-color-with-contrast(
    var(--oo-color-light-bg),
    0.2,
    var(--oo-color-bg)
  );
  #{--oo-color-light-mix-bg-contrast-50}: mix-color-with-contrast(
    var(--oo-color-light-bg),
    0.5,
    var(--oo-color-bg)
  );
  #{--oo-color-light-mix-primary-contrast-20}: mix-color-with-contrast(
    var(--oo-color-light-primary),
    0.2,
    var(--oo-color-primary)
  );
  #{--oo-color-light-mix-primary-contrast-40}: mix-color-with-contrast(
    var(--oo-color-light-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-light-mix-primary-contrast-60}: mix-color-with-contrast(
    var(--oo-color-light-primary),
    0.6,
    var(--oo-color-primary)
  );
  #{--oo-color-light-mix-bg-text-10}: mix-colors(
    var(--oo-color-light-bg),
    var(--oo-color-light-text),
    0.1,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-light-mix-bg-text-20}: mix-colors(
    var(--oo-color-light-bg),
    var(--oo-color-light-text),
    0.2,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-light-mix-bg-text-30}: mix-colors(
    var(--oo-color-light-bg),
    var(--oo-color-light-text),
    0.3,
    var(--oo-color-bg),
    var(--oo-color-text)
  );

  // dark
  #{--oo-color-dark-transparent-text-10}: transparent-color(
    var(--oo-color-dark-text),
    0.1,
    var(--oo-color-text)
  );
  #{--oo-color-dark-transparent-text-20}: transparent-color(
    var(--oo-color-dark-text),
    0.2,
    var(--oo-color-text)
  );
  #{--oo-color-dark-transparent-bg-0}: transparent-color(
    var(--oo-color-dark-bg),
    0,
    var(--oo-color-bg)
  );
  #{--oo-color-dark-transparent-bg-80}: transparent-color(
    var(--oo-color-dark-bg),
    0.8,
    var(--oo-color-bg)
  );
  #{--oo-color-dark-transparent-bg-100}: transparent-color(
    var(--oo-color-dark-bg),
    1,
    var(--oo-color-bg)
  );
  #{--oo-color-dark-transparent-primary-40}: transparent-color(
    var(--oo-color-dark-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-dark-transparent-primary-60}: transparent-color(
    var(--oo-color-dark-primary),
    0.6,
    var(--oo-color-primary)
  );
  #{--oo-color-dark-transparent-primary-80}: transparent-color(
    var(--oo-color-dark-primary),
    0.8,
    var(--oo-color-primary)
  );

  #{--oo-color-dark-lighten-primary-40}: lighten-color(
    var(--oo-color-dark-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-dark-contrast-primary}: contrast-color(
    var(--oo-color-dark-primary),
    var(--oo-color-primary)
  );
  #{--oo-color-dark-contrast-text}: contrast-color(
    var(--oo-color-dark-text),
    var(--oo-color-text)
  );
  #{--oo-color-dark-mix-text-contrast-20}: mix-color-with-contrast(
    var(--oo-color-dark-text),
    0.2,
    var(--oo-color-text)
  );
  #{--oo-color-dark-mix-text-contrast-40}: mix-color-with-contrast(
    var(--oo-color-dark-text),
    0.4,
    var(--oo-color-text)
  );
  #{--oo-color-dark-mix-text-contrast-60}: mix-color-with-contrast(
    var(--oo-color-dark-text),
    0.6,
    var(--oo-color-text)
  );
  #{--oo-color-dark-mix-bg-contrast-20}: mix-color-with-contrast(
    var(--oo-color-dark-bg),
    0.2,
    var(--oo-color-bg)
  );
  #{--oo-color-dark-mix-bg-contrast-50}: mix-color-with-contrast(
    var(--oo-color-dark-bg),
    0.5,
    var(--oo-color-bg)
  );
  #{--oo-color-dark-mix-primary-contrast-20}: mix-color-with-contrast(
    var(--oo-color-dark-primary),
    0.2,
    var(--oo-color-primary)
  );
  #{--oo-color-dark-mix-primary-contrast-40}: mix-color-with-contrast(
    var(--oo-color-dark-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-dark-mix-primary-contrast-60}: mix-color-with-contrast(
    var(--oo-color-dark-primary),
    0.6,
    var(--oo-color-primary)
  );
  #{--oo-color-dark-mix-bg-text-10}: mix-colors(
    var(--oo-color-dark-bg),
    var(--oo-color-dark-text),
    0.1,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-dark-mix-bg-text-20}: mix-colors(
    var(--oo-color-dark-bg),
    var(--oo-color-dark-text),
    0.2,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-dark-mix-bg-text-30}: mix-colors(
    var(--oo-color-dark-bg),
    var(--oo-color-dark-text),
    0.3,
    var(--oo-color-bg),
    var(--oo-color-text)
  );

  // primary
  #{--oo-color-primary-transparent-text-10}: transparent-color(
    var(--oo-color-primary-text),
    0.1,
    var(--oo-color-text)
  );
  #{--oo-color-primary-transparent-text-20}: transparent-color(
    var(--oo-color-primary-text),
    0.2,
    var(--oo-color-text)
  );
  #{--oo-color-primary-transparent-bg-0}: transparent-color(
    var(--oo-color-primary-bg),
    0,
    var(--oo-color-bg)
  );
  #{--oo-color-primary-transparent-bg-80}: transparent-color(
    var(--oo-color-primary-bg),
    0.8,
    var(--oo-color-bg)
  );
  #{--oo-color-primary-transparent-bg-100}: transparent-color(
    var(--oo-color-primary-bg),
    1,
    var(--oo-color-bg)
  );
  #{--oo-color-primary-transparent-primary-40}: transparent-color(
    var(--oo-color-primary-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-primary-transparent-primary-60}: transparent-color(
    var(--oo-color-primary-primary),
    0.6,
    var(--oo-color-primary)
  );
  #{--oo-color-primary-transparent-primary-80}: transparent-color(
    var(--oo-color-primary-primary),
    0.8,
    var(--oo-color-primary)
  );

  #{--oo-color-primary-lighten-primary-40}: lighten-color(
    var(--oo-color-primary-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-primary-contrast-primary}: contrast-color(
    var(--oo-color-primary-primary),
    var(--oo-color-primary)
  );
  #{--oo-color-primary-contrast-text}: contrast-color(
    var(--oo-color-primary-text),
    var(--oo-color-text)
  );
  #{--oo-color-primary-mix-text-contrast-20}: mix-color-with-contrast(
    var(--oo-color-primary-text),
    0.2,
    var(--oo-color-text)
  );
  #{--oo-color-primary-mix-text-contrast-40}: mix-color-with-contrast(
    var(--oo-color-primary-text),
    0.4,
    var(--oo-color-text)
  );
  #{--oo-color-primary-mix-text-contrast-60}: mix-color-with-contrast(
    var(--oo-color-primary-text),
    0.6,
    var(--oo-color-text)
  );
  #{--oo-color-primary-mix-bg-contrast-20}: mix-color-with-contrast(
    var(--oo-color-primary-bg),
    0.2,
    var(--oo-color-bg)
  );
  #{--oo-color-primary-mix-bg-contrast-50}: mix-color-with-contrast(
    var(--oo-color-primary-bg),
    0.5,
    var(--oo-color-bg)
  );
  #{--oo-color-primary-mix-primary-contrast-20}: mix-color-with-contrast(
    var(--oo-color-primary-primary),
    0.2,
    var(--oo-color-primary)
  );
  #{--oo-color-primary-mix-primary-contrast-40}: mix-color-with-contrast(
    var(--oo-color-primary-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-primary-mix-primary-contrast-60}: mix-color-with-contrast(
    var(--oo-color-primary-primary),
    0.6,
    var(--oo-color-primary)
  );
  #{--oo-color-primary-mix-bg-text-10}: mix-colors(
    var(--oo-color-primary-bg),
    var(--oo-color-primary-text),
    0.1,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-primary-mix-bg-text-20}: mix-colors(
    var(--oo-color-primary-bg),
    var(--oo-color-primary-text),
    0.2,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-primary-mix-bg-text-30}: mix-colors(
    var(--oo-color-primary-bg),
    var(--oo-color-primary-text),
    0.3,
    var(--oo-color-bg),
    var(--oo-color-text)
  );

  // secondary
  #{--oo-color-secondary-transparent-text-10}: transparent-color(
    var(--oo-color-secondary-text),
    0.1,
    var(--oo-color-text)
  );
  #{--oo-color-secondary-transparent-text-20}: transparent-color(
    var(--oo-color-secondary-text),
    0.2,
    var(--oo-color-text)
  );
  #{--oo-color-secondary-transparent-bg-0}: transparent-color(
    var(--oo-color-secondary-bg),
    0,
    var(--oo-color-bg)
  );
  #{--oo-color-secondary-transparent-bg-80}: transparent-color(
    var(--oo-color-secondary-bg),
    0.8,
    var(--oo-color-bg)
  );
  #{--oo-color-secondary-transparent-bg-100}: transparent-color(
    var(--oo-color-secondary-bg),
    1,
    var(--oo-color-bg)
  );
  #{--oo-color-secondary-transparent-primary-40}: transparent-color(
    var(--oo-color-secondary-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-secondary-transparent-primary-60}: transparent-color(
    var(--oo-color-secondary-primary),
    0.6,
    var(--oo-color-primary)
  );
  #{--oo-color-secondary-transparent-primary-80}: transparent-color(
    var(--oo-color-secondary-primary),
    0.8,
    var(--oo-color-primary)
  );

  #{--oo-color-secondary-lighten-primary-40}: lighten-color(
    var(--oo-color-secondary-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-secondary-contrast-primary}: contrast-color(
    var(--oo-color-secondary-primary),
    var(--oo-color-primary)
  );
  #{--oo-color-secondary-contrast-text}: contrast-color(
    var(--oo-color-secondary-text),
    var(--oo-color-text)
  );
  #{--oo-color-secondary-mix-text-contrast-20}: mix-color-with-contrast(
    var(--oo-color-secondary-text),
    0.2,
    var(--oo-color-text)
  );
  #{--oo-color-secondary-mix-text-contrast-40}: mix-color-with-contrast(
    var(--oo-color-secondary-text),
    0.4,
    var(--oo-color-text)
  );
  #{--oo-color-secondary-mix-text-contrast-60}: mix-color-with-contrast(
    var(--oo-color-secondary-text),
    0.6,
    var(--oo-color-text)
  );
  #{--oo-color-secondary-mix-bg-contrast-20}: mix-color-with-contrast(
    var(--oo-color-secondary-bg),
    0.2,
    var(--oo-color-bg)
  );
  #{--oo-color-secondary-mix-bg-contrast-50}: mix-color-with-contrast(
    var(--oo-color-secondary-bg),
    0.5,
    var(--oo-color-bg)
  );
  #{--oo-color-secondary-mix-primary-contrast-20}: mix-color-with-contrast(
    var(--oo-color-secondary-primary),
    0.2,
    var(--oo-color-primary)
  );
  #{--oo-color-secondary-mix-primary-contrast-40}: mix-color-with-contrast(
    var(--oo-color-secondary-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-secondary-mix-primary-contrast-60}: mix-color-with-contrast(
    var(--oo-color-secondary-primary),
    0.6,
    var(--oo-color-primary)
  );
  #{--oo-color-secondary-mix-bg-text-10}: mix-colors(
    var(--oo-color-secondary-bg),
    var(--oo-color-secondary-text),
    0.1,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-secondary-mix-bg-text-20}: mix-colors(
    var(--oo-color-secondary-bg),
    var(--oo-color-secondary-text),
    0.2,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-secondary-mix-bg-text-30}: mix-colors(
    var(--oo-color-secondary-bg),
    var(--oo-color-secondary-text),
    0.3,
    var(--oo-color-bg),
    var(--oo-color-text)
  );

  // header
  #{--oo-color-header-transparent-text-10}: transparent-color(
    var(--oo-color-header-text),
    0.1,
    var(--oo-color-text)
  );
  #{--oo-color-header-transparent-bg-80}: transparent-color(
    var(--oo-color-header-bg),
    0.8,
    var(--oo-color-bg)
  );
  #{--oo-color-header-transparent-bg-90}: transparent-color(
    var(--oo-color-header-bg),
    0.9,
    var(--oo-color-bg)
  );
  #{--oo-color-header-lighten-primary-40}: lighten-color(
    var(--oo-color-header-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-header-contrast-primary}: contrast-color(
    var(--oo-color-header-primary),
    var(--oo-color-primary)
  );
  #{--oo-color-header-contrast-primary-40}: transparent-color(
    var(--oo-color-header-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-header-contrast-primary-60}: transparent-color(
    var(--oo-color-header-primary),
    0.6,
    var(--oo-color-primary)
  );
  #{--oo-color-header-contrast-primary-80}: transparent-color(
    var(--oo-color-header-primary),
    0.8,
    var(--oo-color-primary)
  );
  #{--oo-color-header-mix-primary-contrast-20}: mix-color-with-contrast(
    var(--oo-color-header-primary),
    0.2,
    var(--oo-color-primary)
  );
  #{--oo-color-header-mix-primary-contrast-40}: mix-color-with-contrast(
    var(--oo-color-header-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-header-mix-primary-contrast-60}: mix-color-with-contrast(
    var(--oo-color-header-primary),
    0.6,
    var(--oo-color-primary)
  );
  #{--oo-color-header-mix-bg-text-20}: mix-colors(
    var(--oo-color-header-bg),
    var(--oo-color-header-text),
    0.2,
    var(--oo-color-bg),
    var(--oo-color-text)
  );

  // footer
  #{--oo-color-footer-transparent-text-10}: transparent-color(
    var(--oo-color-footer-text),
    0.1,
    var(--oo-color-text)
  );
  #{--oo-color-footer-transparent-text-20}: transparent-color(
    var(--oo-color-footer-text),
    0.2,
    var(--oo-color-text)
  );
  #{--oo-color-footer-transparent-bg-0}: transparent-color(
    var(--oo-color-footer-bg),
    0,
    var(--oo-color-bg)
  );
  #{--oo-color-footer-transparent-bg-100}: transparent-color(
    var(--oo-color-footer-bg),
    1,
    var(--oo-color-bg)
  );
  #{--oo-color-footer-transparent-primary-40}: transparent-color(
    var(--oo-color-footer-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-footer-transparent-primary-60}: transparent-color(
    var(--oo-color-footer-primary),
    0.6,
    var(--oo-color-primary)
  );
  #{--oo-color-footer-transparent-primary-80}: transparent-color(
    var(--oo-color-footer-primary),
    0.8,
    var(--oo-color-primary)
  );
  #{--oo-color-footer-lighten-primary-40}: lighten-color(
    var(--oo-color-footer-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-footer-contrast-primary}: contrast-color(
    var(--oo-color-footer-primary),
    var(--oo-color-primary)
  );
  #{--oo-color-footer-contrast-text}: contrast-color(
    var(--oo-color-footer-text),
    var(--oo-color-text)
  );
  #{--oo-color-footer-mix-text-contrast-20}: mix-color-with-contrast(
    var(--oo-color-footer-text),
    0.2,
    var(--oo-color-text)
  );
  #{--oo-color-footer-mix-text-contrast-40}: mix-color-with-contrast(
    var(--oo-color-footer-text),
    0.4,
    var(--oo-color-text)
  );
  #{--oo-color-footer-mix-text-contrast-60}: mix-color-with-contrast(
    var(--oo-color-footer-text),
    0.6,
    var(--oo-color-text)
  );
  #{--oo-color-footer-mix-bg-contrast-20}: mix-color-with-contrast(
    var(--oo-color-footer-bg),
    0.2,
    var(--oo-color-bg)
  );
  #{--oo-color-footer-mix-bg-contrast-50}: mix-color-with-contrast(
    var(--oo-color-footer-bg),
    0.5,
    var(--oo-color-bg)
  );
  #{--oo-color-footer-mix-primary-contrast-20}: mix-color-with-contrast(
    var(--oo-color-footer-primary),
    0.2,
    var(--oo-color-primary)
  );
  #{--oo-color-footer-mix-primary-contrast-40}: mix-color-with-contrast(
    var(--oo-color-footer-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-footer-mix-primary-contrast-60}: mix-color-with-contrast(
    var(--oo-color-footer-primary),
    0.6,
    var(--oo-color-primary)
  );
  #{--oo-color-footer-mix-bg-text-10}: mix-colors(
    var(--oo-color-footer-bg),
    var(--oo-color-footer-text),
    0.1,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-footer-mix-bg-text-30}: mix-colors(
    var(--oo-color-footer-bg),
    var(--oo-color-footer-text),
    0.3,
    var(--oo-color-bg),
    var(--oo-color-text)
  );

  // property status
  #{--oo-color-property-status-contrast-bg}: contrast-color(
    var(--oo-color-property-status-bg),
    var(--oo-color-bg)
  );
}
