:root {
  --oo-color-success: #c3e3d1;
  --oo-color-success-r: 195;
  --oo-color-success-g: 227;
  --oo-color-success-b: 290;
  --oo-color-warning: #f3e2c0;
  --oo-color-warning-r: 243;
  --oo-color-warning-g: 226;
  --oo-color-warning-b: 192;
  --oo-color-error: #efb1b2;
  --oo-color-error-r: 239;
  --oo-color-error-g: 177;
  --oo-color-error-b: 178;
  --oo-color-shadow: #000000;
  --oo-color-shadow-r: 0;
  --oo-color-shadow-g: 0;
  --oo-color-shadow-b: 0;
  --oo-color-energy-class-a-plus: #2e7d32;
  --oo-color-energy-class-a-plus-r: 46;
  --oo-color-energy-class-a-plus-g: 125;
  --oo-color-energy-class-a-plus-b: 50;
  --oo-color-energy-class-a: #76a330;
  --oo-color-energy-class-a-r: 118;
  --oo-color-energy-class-a-g: 163;
  --oo-color-energy-class-a-b: 48;
  --oo-color-energy-class-b: #94b94a;
  --oo-color-energy-class-b-r: 148;
  --oo-color-energy-class-b-g: 185;
  --oo-color-energy-class-b-b: 74;
  --oo-color-energy-class-c: #bacd7f;
  --oo-color-energy-class-c-r: 186;
  --oo-color-energy-class-c-g: 205;
  --oo-color-energy-class-c-b: 127;
  --oo-color-energy-class-d: #f6cc09;
  --oo-color-energy-class-d-r: 246;
  --oo-color-energy-class-d-g: 204;
  --oo-color-energy-class-d-b: 9;
  --oo-color-energy-class-e: #f4b615;
  --oo-color-energy-class-e-r: 244;
  --oo-color-energy-class-e-g: 182;
  --oo-color-energy-class-e-b: 21;
  --oo-color-energy-class-f: #eea212;
  --oo-color-energy-class-f-r: 238;
  --oo-color-energy-class-f-g: 162;
  --oo-color-energy-class-f-b: 18;
  --oo-color-energy-class-g: #db6b28;
  --oo-color-energy-class-g-r: 219;
  --oo-color-energy-class-g-g: 107;
  --oo-color-energy-class-g-b: 40;
  --oo-color-energy-class-h: #da5138;
  --oo-color-energy-class-h-r: 218;
  --oo-color-energy-class-h-g: 81;
  --oo-color-energy-class-h-b: 56;
  --oo-color-energy-bg: #ffffff;
  --oo-color-energy-bg-r: 255;
  --oo-color-energy-bg-g: 255;
  --oo-color-energy-bg-b: 255;

  // global
  #{--oo-color-contrast-success}: contrast-color(var(--oo-color-success));
  #{--oo-color-contrast-warning}: contrast-color(var(--oo-color-warning));
  #{--oo-color-contrast-error}: contrast-color(var(--oo-color-error));

  #{--oo-color-contrast-energy-a-plus}: contrast-color(
    var(--oo-color-energy-class-a-plus)
  );

  #{--oo-color-contrast-energy-a}: contrast-color(
    var(--oo-color-energy-class-a)
  );

  #{--oo-color-contrast-energy-b}: contrast-color(
    var(--oo-color-energy-class-b)
  );

  #{--oo-color-contrast-energy-c}: contrast-color(
    var(--oo-color-energy-class-c)
  );

  #{--oo-color-contrast-energy-d}: contrast-color(
    var(--oo-color-energy-class-d)
  );

  #{--oo-color-contrast-energy-e}: contrast-color(
    var(--oo-color-energy-class-e)
  );

  #{--oo-color-contrast-energy-f}: contrast-color(
    var(--oo-color-energy-class-f)
  );

  #{--oo-color-contrast-energy-g}: contrast-color(
    var(--oo-color-energy-class-g)
  );

  #{--oo-color-contrast-energy-h}: contrast-color(
    var(--oo-color-energy-class-h)
  );

  #{--oo-color-contrast-energy-bg}: contrast-color(var(--oo-color-energy-bg));

  #{--oo-color-transparent-shadow-10}: transparent-color(
    var(--oo-color-shadow),
    0.1
  );
  #{--oo-color-transparent-shadow-15}: transparent-color(
    var(--oo-color-shadow),
    0.15
  );
  #{--oo-color-transparent-shadow-20}: transparent-color(
    var(--oo-color-shadow),
    0.2
  );
  #{--oo-color-transparent-shadow-50}: transparent-color(
    var(--oo-color-shadow),
    0.5
  );
  #{--oo-color-transparent-shadow-80}: transparent-color(
    var(--oo-color-shadow),
    0.8
  );
  #{--oo-color-transparent-bg-25}: transparent-color(var(--oo-color-bg), 0.25);
  #{--oo-color-transparent-bg-80}: transparent-color(var(--oo-color-bg), 0.8);
  #{--oo-color-transparent-bg-90}: transparent-color(var(--oo-color-bg), 0.9);
  #{--oo-color-transparent-bg-95}: transparent-color(var(--oo-color-bg), 0.95);
  #{--oo-color-transparent-primary-10}: transparent-color(
    var(--oo-color-primary),
    0.1
  );
  #{--oo-color-transparent-primary-20}: transparent-color(
    var(--oo-color-primary),
    0.2
  );
  #{--oo-color-lighten-primary-40}: lighten-color(var(--oo-color-primary), 0.4);
  #{--oo-color-lighten-primary-90}: lighten-color(var(--oo-color-primary), 0.9);
  #{--oo-color-lighten-primary-95}: lighten-color(
    var(--oo-color-primary),
    0.95
  );
  #{--oo-color-contrast-primary}: contrast-color(var(--oo-color-primary));
  #{--oo-color-contrast-text}: contrast-color(var(--oo-color-text));

  #{--oo-color-contrast-bg}: contrast-color(var(--oo-color-bg));
  #{--oo-color-mix-text-contrast-20}: mix-color-with-contrast(
    var(--oo-color-text),
    0.2
  );
  #{--oo-color-mix-text-contrast-40}: mix-color-with-contrast(
    var(--oo-color-text),
    0.4
  );
  #{--oo-color-mix-bg-contrast-05}: mix-color-with-contrast(
    var(--oo-color-bg),
    0.05
  );
  #{--oo-color-mix-bg-contrast-10}: mix-color-with-contrast(
    var(--oo-color-bg),
    0.1
  );
  #{--oo-color-mix-bg-contrast-50}: mix-color-with-contrast(
    var(--oo-color-bg),
    0.5
  );
  #{--oo-color-mix-bg-contrast-60}: mix-color-with-contrast(
    var(--oo-color-bg),
    0.6
  );
  #{--oo-color-mix-primary-contrast-20}: mix-color-with-contrast(
    var(--oo-color-primary),
    0.2
  );
  #{--oo-color-mix-primary-contrast-30}: mix-color-with-contrast(
    var(--oo-color-primary),
    0.3
  );
  #{--oo-color-mix-primary-contrast-40}: mix-color-with-contrast(
    var(--oo-color-primary),
    0.4
  );
  #{--oo-color-mix-primary-contrast-50}: mix-color-with-contrast(
    var(--oo-color-primary),
    0.5
  );
  #{--oo-color-mix-status-contrast-20}: mix-color-with-contrast(
    var(--oo-color-property-status-bg),
    0.2
  );
  #{--oo-color-mix-status-contrast-40}: mix-color-with-contrast(
    var(--oo-color-property-status-bg),
    0.4
  );
  #{--oo-color-mix-bg-text-02}: mix-colors(
    var(--oo-color-bg),
    var(--oo-color-text),
    0.02
  );
  #{--oo-color-mix-bg-text-05}: mix-colors(
    var(--oo-color-bg),
    var(--oo-color-text),
    0.05
  );
  #{--oo-color-mix-bg-text-10}: mix-colors(
    var(--oo-color-bg),
    var(--oo-color-text),
    0.1
  );
  #{--oo-color-mix-bg-text-20}: mix-colors(
    var(--oo-color-bg),
    var(--oo-color-text),
    0.2
  );
  #{--oo-color-mix-bg-text-30}: mix-colors(
    var(--oo-color-bg),
    var(--oo-color-text),
    0.3
  );
  #{--oo-color-mix-bg-text-40}: mix-colors(
    var(--oo-color-bg),
    var(--oo-color-text),
    0.4
  );
  #{--oo-color-mix-bg-text-50}: mix-colors(
    var(--oo-color-bg),
    var(--oo-color-text),
    0.5
  );
  #{--oo-color-primary-complementary}: complementary-color(
    var(--oo-color-primary)
  );
  #{--oo-color-secondary-complementary}: complementary-color(
    var(--oo-color-secondary)
  );

  // light
  #{--oo-color-light-transparent-bg-25}: transparent-color(
    var(--oo-color-light-bg),
    0.25,
    var(--oo-color-bg)
  );
  #{--oo-color-light-transparent-bg-80}: transparent-color(
    var(--oo-color-light-bg),
    0.8,
    var(--oo-color-bg)
  );
  #{--oo-color-light-transparent-bg-90}: transparent-color(
    var(--oo-color-light-bg),
    0.9,
    var(--oo-color-bg)
  );
  #{--oo-color-light-transparent-bg-95}: transparent-color(
    var(--oo-color-light-bg),
    0.95,
    var(--oo-color-bg)
  );
  #{--oo-color-light-contrast-primary}: contrast-color(
    var(--oo-color-light-primary),
    var(--oo-color-primary)
  );
  #{--oo-color-light-contrast-bg}: contrast-color(
    var(--oo-color-light-bg),
    var(--oo-color-bg)
  );
  #{--oo-color-light-contrast-text}: contrast-color(
    var(--oo-color-light-text),
    var(--oo-color-text)
  );
  #{--oo-color-light-mix-bg-contrast-05}: mix-color-with-contrast(
    var(--oo-color-light-bg),
    0.05,
    var(--oo-color-bg)
  );
  #{--oo-color-light-mix-bg-contrast-10}: mix-color-with-contrast(
    var(--oo-color-light-bg),
    0.1,
    var(--oo-color-bg)
  );
  #{--oo-color-light-mix-bg-contrast-50}: mix-color-with-contrast(
    var(--oo-color-light-bg),
    0.5,
    var(--oo-color-bg)
  );
  #{--oo-color-light-mix-bg-contrast-60}: mix-color-with-contrast(
    var(--oo-color-light-bg),
    0.6,
    var(--oo-color-bg)
  );
  #{--oo-color-light-mix-primary-contrast-20}: mix-color-with-contrast(
    var(--oo-color-light-primary),
    0.2,
    var(--oo-color-primary)
  );
  #{--oo-color-light-mix-primary-contrast-30}: mix-color-with-contrast(
    var(--oo-color-light-primary),
    0.3,
    var(--oo-color-primary)
  );
  #{--oo-color-light-mix-primary-contrast-40}: mix-color-with-contrast(
    var(--oo-color-light-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-light-mix-bg-text-02}: mix-colors(
    var(--oo-color-light-bg),
    var(--oo-color-light-text),
    0.02,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-light-mix-bg-text-10}: mix-colors(
    var(--oo-color-light-bg),
    var(--oo-color-light-text),
    0.1,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-light-mix-bg-text-20}: mix-colors(
    var(--oo-color-light-bg),
    var(--oo-color-light-text),
    0.2,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-light-mix-bg-text-40}: mix-colors(
    var(--oo-color-light-bg),
    var(--oo-color-light-text),
    0.4,
    var(--oo-color-bg),
    var(--oo-color-text)
  );

  // dark
  #{--oo-color-dark-transparent-bg-25}: transparent-color(
    var(--oo-color-dark-bg),
    0.25,
    var(--oo-color-bg)
  );
  #{--oo-color-dark-transparent-bg-80}: transparent-color(
    var(--oo-color-dark-bg),
    0.8,
    var(--oo-color-bg)
  );
  #{--oo-color-dark-transparent-bg-90}: transparent-color(
    var(--oo-color-dark-bg),
    0.9,
    var(--oo-color-bg)
  );
  #{--oo-color-dark-transparent-bg-95}: transparent-color(
    var(--oo-color-dark-bg),
    0.95,
    var(--oo-color-bg)
  );
  #{--oo-color-dark-contrast-primary}: contrast-color(
    var(--oo-color-dark-primary),
    var(--oo-color-primary)
  );
  #{--oo-color-dark-contrast-bg}: contrast-color(
    var(--oo-color-dark-bg),
    var(--oo-color-bg)
  );
  #{--oo-color-dark-mix-text-contrast-20}: mix-color-with-contrast(
    var(--oo-color-dark-text),
    0.2,
    var(--oo-color-text)
  );
  #{--oo-color-dark-mix-text-contrast-30}: mix-color-with-contrast(
    var(--oo-color-dark-text),
    0.3,
    var(--oo-color-text)
  );
  #{--oo-color-dark-mix-text-contrast-40}: mix-color-with-contrast(
    var(--oo-color-dark-text),
    0.4,
    var(--oo-color-text)
  );
  #{--oo-color-dark-mix-bg-contrast-05}: mix-color-with-contrast(
    var(--oo-color-dark-bg),
    0.05,
    var(--oo-color-bg)
  );
  #{--oo-color-dark-mix-bg-contrast-10}: mix-color-with-contrast(
    var(--oo-color-dark-bg),
    0.1,
    var(--oo-color-bg)
  );
  #{--oo-color-dark-mix-bg-contrast-50}: mix-color-with-contrast(
    var(--oo-color-dark-bg),
    0.5,
    var(--oo-color-bg)
  );
  #{--oo-color-dark-mix-bg-contrast-60}: mix-color-with-contrast(
    var(--oo-color-dark-bg),
    0.6,
    var(--oo-color-bg)
  );
  #{--oo-color-dark-mix-primary-contrast-20}: mix-color-with-contrast(
    var(--oo-color-dark-primary),
    0.2,
    var(--oo-color-primary)
  );
  #{--oo-color-dark-mix-primary-contrast-40}: mix-color-with-contrast(
    var(--oo-color-dark-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-dark-mix-bg-text-02}: mix-colors(
    var(--oo-color-dark-bg),
    var(--oo-color-dark-text),
    0.02,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-dark-mix-bg-text-10}: mix-colors(
    var(--oo-color-dark-bg),
    var(--oo-color-dark-text),
    0.1,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-dark-mix-bg-text-20}: mix-colors(
    var(--oo-color-dark-bg),
    var(--oo-color-dark-text),
    0.2,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-dark-mix-bg-text-40}: mix-colors(
    var(--oo-color-dark-bg),
    var(--oo-color-dark-text),
    0.4,
    var(--oo-color-bg),
    var(--oo-color-text)
  );

  // primary
  #{--oo-color-primary-transparent-bg-25}: transparent-color(
    var(--oo-color-primary-bg),
    0.25,
    var(--oo-color-bg)
  );
  #{--oo-color-primary-transparent-bg-80}: transparent-color(
    var(--oo-color-primary-bg),
    0.8,
    var(--oo-color-bg)
  );
  #{--oo-color-primary-transparent-bg-90}: transparent-color(
    var(--oo-color-primary-bg),
    0.9,
    var(--oo-color-bg)
  );
  #{--oo-color-primary-transparent-bg-95}: transparent-color(
    var(--oo-color-primary-bg),
    0.95,
    var(--oo-color-bg)
  );
  #{--oo-color-primary-contrast-primary}: contrast-color(
    var(--oo-color-primary-primary),
    var(--oo-color-primary)
  );
  #{--oo-color-primary-contrast-bg}: contrast-color(
    var(--oo-color-primary-bg),
    var(--oo-color-bg)
  );
  #{--oo-color-primary-mix-text-contrast-20}: mix-color-with-contrast(
    var(--oo-color-primary-text),
    0.2,
    var(--oo-color-text)
  );
  #{--oo-color-primary-mix-text-contrast-30}: mix-color-with-contrast(
    var(--oo-color-primary-text),
    0.3,
    var(--oo-color-text)
  );
  #{--oo-color-primary-mix-text-contrast-40}: mix-color-with-contrast(
    var(--oo-color-primary-text),
    0.4,
    var(--oo-color-text)
  );
  #{--oo-color-primary-mix-bg-contrast-05}: mix-color-with-contrast(
    var(--oo-color-primary-bg),
    0.05,
    var(--oo-color-bg)
  );
  #{--oo-color-primary-mix-bg-contrast-10}: mix-color-with-contrast(
    var(--oo-color-primary-bg),
    0.1,
    var(--oo-color-bg)
  );
  #{--oo-color-primary-mix-bg-contrast-50}: mix-color-with-contrast(
    var(--oo-color-primary-bg),
    0.5,
    var(--oo-color-bg)
  );
  #{--oo-color-primary-mix-bg-contrast-60}: mix-color-with-contrast(
    var(--oo-color-primary-bg),
    0.6,
    var(--oo-color-bg)
  );
  #{--oo-color-primary-mix-primary-contrast-20}: mix-color-with-contrast(
    var(--oo-color-primary-primary),
    0.2,
    var(--oo-color-primary)
  );
  #{--oo-color-primary-mix-primary-contrast-40}: mix-color-with-contrast(
    var(--oo-color-primary-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-primary-mix-bg-text-02}: mix-colors(
    var(--oo-color-primary-bg),
    var(--oo-color-primary-text),
    0.02,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-primary-mix-bg-text-10}: mix-colors(
    var(--oo-color-primary-bg),
    var(--oo-color-primary-text),
    0.1,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-primary-mix-bg-text-20}: mix-colors(
    var(--oo-color-primary-bg),
    var(--oo-color-primary-text),
    0.2,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-primary-mix-bg-text-40}: mix-colors(
    var(--oo-color-primary-bg),
    var(--oo-color-primary-text),
    0.4,
    var(--oo-color-bg),
    var(--oo-color-text)
  );

  // secondary
  #{--oo-color-secondary-transparent-bg-25}: transparent-color(
    var(--oo-color-secondary-bg),
    0.25,
    var(--oo-color-bg)
  );
  #{--oo-color-secondary-transparent-bg-80}: transparent-color(
    var(--oo-color-secondary-bg),
    0.8,
    var(--oo-color-bg)
  );
  #{--oo-color-secondary-transparent-bg-90}: transparent-color(
    var(--oo-color-secondary-bg),
    0.9,
    var(--oo-color-bg)
  );
  #{--oo-color-secondary-transparent-bg-95}: transparent-color(
    var(--oo-color-secondary-bg),
    0.95,
    var(--oo-color-bg)
  );
  #{--oo-color-secondary-contrast-primary}: contrast-color(
    var(--oo-color-secondary-primary),
    var(--oo-color-primary)
  );
  #{--oo-color-secondary-contrast-bg}: contrast-color(
    var(--oo-color-secondary-bg),
    var(--oo-color-bg)
  );
  #{--oo-color-secondary-mix-text-contrast-20}: mix-color-with-contrast(
    var(--oo-color-secondary-text),
    0.2,
    var(--oo-color-text)
  );
  #{--oo-color-secondary-mix-text-contrast-30}: mix-color-with-contrast(
    var(--oo-color-secondary-text),
    0.3,
    var(--oo-color-text)
  );
  #{--oo-color-secondary-mix-text-contrast-40}: mix-color-with-contrast(
    var(--oo-color-secondary-text),
    0.4,
    var(--oo-color-text)
  );
  #{--oo-color-secondary-mix-bg-contrast-05}: mix-color-with-contrast(
    var(--oo-color-secondary-bg),
    0.05,
    var(--oo-color-bg)
  );
  #{--oo-color-secondary-mix-bg-contrast-10}: mix-color-with-contrast(
    var(--oo-color-secondary-bg),
    0.1,
    var(--oo-color-bg)
  );
  #{--oo-color-secondary-mix-bg-contrast-50}: mix-color-with-contrast(
    var(--oo-color-secondary-bg),
    0.5,
    var(--oo-color-bg)
  );
  #{--oo-color-secondary-mix-bg-contrast-60}: mix-color-with-contrast(
    var(--oo-color-secondary-bg),
    0.6,
    var(--oo-color-bg)
  );
  #{--oo-color-secondary-mix-primary-contrast-20}: mix-color-with-contrast(
    var(--oo-color-secondary-primary),
    0.2,
    var(--oo-color-primary)
  );
  #{--oo-color-secondary-mix-primary-contrast-40}: mix-color-with-contrast(
    var(--oo-color-secondary-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-secondary-mix-bg-text-02}: mix-colors(
    var(--oo-color-secondary-bg),
    var(--oo-color-secondary-text),
    0.02,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-secondary-mix-bg-text-10}: mix-colors(
    var(--oo-color-secondary-bg),
    var(--oo-color-secondary-text),
    0.1,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-secondary-mix-bg-text-20}: mix-colors(
    var(--oo-color-secondary-bg),
    var(--oo-color-secondary-text),
    0.2,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  #{--oo-color-secondary-mix-bg-text-40}: mix-colors(
    var(--oo-color-secondary-bg),
    var(--oo-color-secondary-text),
    0.4,
    var(--oo-color-bg),
    var(--oo-color-text)
  );
  // header
  #{--oo-color-header-transparent-bg-80}: transparent-color(
    var(--oo-color-header-bg),
    0.8,
    var(--oo-color-bg)
  );
  #{--oo-color-header-transparent-primary-20}: transparent-color(
    var(--oo-color-header-primary),
    0.2,
    var(--oo-color-primary)
  );
  #{--oo-color-header-contrast-primary}: contrast-color(
    var(--oo-color-header-primary),
    var(--oo-color-primary)
  );
  #{--oo-color-header-mix-primary-contrast-20}: mix-color-with-contrast(
    var(--oo-color-header-primary),
    0.2,
    var(--oo-color-primary)
  );
  #{--oo-color-header-mix-bg-contrast-5}: mix-color-with-contrast(
    var(--oo-color-header-bg),
    0.05,
    var(--oo-color-bg)
  );
  #{--oo-color-header-mix-text-contrast-20}: mix-color-with-contrast(
    var(--oo-color-header-text),
    0.2,
    var(--oo-color-text)
  );
  #{--oo-color-header-mix-bg-text-40}: mix-colors(
    var(--oo-color-header-bg),
    var(--oo-color-header-text),
    0.4,
    var(--oo-color-bg),
    var(--oo-color-text)
  );

  // footer
  #{--oo-color-footer-contrast-primary}: contrast-color(
    var(--oo-color-footer-primary),
    var(--oo-color-primary)
  );
  #{--oo-color-footer-mix-text-contrast-20}: mix-color-with-contrast(
    var(--oo-color-footer-text),
    0.2,
    var(--oo-color-text)
  );
  #{--oo-color-footer-mix-text-contrast-30}: mix-color-with-contrast(
    var(--oo-color-footer-text),
    0.3,
    var(--oo-color-text)
  );
  #{--oo-color-footer-mix-text-contrast-40}: mix-color-with-contrast(
    var(--oo-color-footer-text),
    0.4,
    var(--oo-color-text)
  );
  #{--oo-color-footer-mix-bg-contrast-10}: mix-color-with-contrast(
    var(--oo-color-footer-bg),
    0.1,
    var(--oo-color-bg)
  );
  #{--oo-color-footer-mix-bg-contrast-60}: mix-color-with-contrast(
    var(--oo-color-footer-bg),
    0.6,
    var(--oo-color-bg)
  );
  #{--oo-color-footer-mix-primary-contrast-20}: mix-color-with-contrast(
    var(--oo-color-footer-primary),
    0.2,
    var(--oo-color-primary)
  );
  #{--oo-color-footer-mix-primary-contrast-40}: mix-color-with-contrast(
    var(--oo-color-footer-primary),
    0.4,
    var(--oo-color-primary)
  );
  #{--oo-color-footer-mix-bg-text-40}: mix-colors(
    var(--oo-color-footer-bg),
    var(--oo-color-footer-text),
    0.4,
    var(--oo-color-bg),
    var(--oo-color-text)
  );

  // property status
  #{--oo-color-property-status-contrast-bg}: contrast-color(
    var(--oo-color-property-status-bg),
    var(--oo-color-bg)
  );

  #{--oo-color-footer-mix-bg-contrast-10}: mix-color-with-contrast(
    var(--oo-color-footer-bg),
    0.1,
    var(--oo-color-bg)
  );

  #{--oo-color-transparent-primary-20-contrast}: contrast-color(
    var(--oo-color-transparent-primary-20),
    var(--oo-color-bg)
  );
}
