.c-table {
  $c-table: &;

  width: 100%;
  max-width: 100%;

  @include media-breakpoint-up(xl) {
    border: 1px solid var(--oo-color-mix-bg-contrast-50);
    border-radius: $border-radius;
  }

  &.--is-scrollable {
    @include media-breakpoint-up(xl) {
      overflow-x: scroll;
    }
  }

  &__wrapper {
  }

  &__head {
    display: none;

    @include media-breakpoint-up(xl) {
      display: table-header-group;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(xl) {
      display: table-row-group;
    }
  }

  &__row {
    border: 1px solid var(--oo-color-mix-bg-contrast-50);
    border-radius: $border-radius;
    padding: 1rem;

    @include media-breakpoint-up(xl) {
      border: none;
      padding: 0;
    }

    &.--is-head {
    }

    &.--is-body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      border-bottom: 1px solid var(--oo-color-mix-bg-contrast-50);
      padding: 1rem;

      @include media-breakpoint-up(xl) {
        display: table-row;
        padding: 0;
      }

      &:last-child {
        @include media-breakpoint-up(xl) {
          border-bottom: none;
        }
      }
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 0;
    min-width: 7.5rem;
    padding: 0;

    @include media-breakpoint-up(xl) {
      display: table-cell;
      padding: 1rem;
    }

    .--is-head & {
      font-family: $font-family-text-bold;
      font-weight: $font-weight-text-bold;
      text-align: left;
    }

    .--is-body & {
      &:before {
        content: attr(data-label);
        font-family: $font-family-text-bold;
        font-weight: $font-weight-text-bold;
        min-width: 40%;
        width: 100%;
        hyphens: auto;

        @include media-breakpoint-up(xl) {
          width: 40%;
          content: none;
        }
      }
    }

    &.--empty {
      display: none;

      @include media-breakpoint-up(xl) {
        display: table-cell;
      }
    }
  }
}
