.c-accordion {
  $accordion: &;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    @include media-breakpoint-up(lg) {
      gap: 5rem;
    }
  }

  &__content {
    gap: 1.5rem;
    @include media-breakpoint-up(lg) {
      gap: 2rem;
    }
  }

  &__accordions-wrapper {
  }

  &__accordions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include media-breakpoint-up(xl) {
      gap: 2rem;
    }
  }

  &__headline {
  }

  &__text {
  }

  Summary::-webkit-details-marker,
  summary::marker {
    content: '';
    transition: all 0.25s ease-in-out;
  }

  details {
    transition: all 0.25s ease-in-out;
    height: auto;
  }

  details[open] {
    transition: all 0.25s ease-in-out;
  }
}
