.c-lightbox {
  $c-lightbox: &;

  // added to reduce using of !important for overwrite
  #{$c-lightbox} {
    &__overlay {
      background: var(--oo-color-transparent-text-80);
    }
    &__container {
    }
    &__slider {
    }
    &__slide {
      width: auto;
    }
    &__wrapper {
      width: auto;
    }
    &__content {
      padding: 1rem 0;
      max-width: 100%;
      max-height: 100dvh;
      gap: 0.5rem 0;
      width: auto;
    }
    &__media {
      min-width: 0;
      min-height: 0;
      align-items: stretch;
      position: relative;

      img {
        width: 100%;
        height: auto;
        margin: 0;
        border-radius: $border-radius;
      }
    }
    &__description-wrapper {
      color: var(--oo-color-bg);
      background: none !important;
      margin: 0;
      padding: 0 1rem;
      position: unset;
    }
    &__description-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;
    }
    &__title {
      hyphens: auto;
      word-break: break-word;
      color: inherit !important;
    }
    &__description {
      hyphens: auto;
      word-break: break-word;
    }

    &__navigation {
    }
    &__icon-wrapper {
      position: absolute;
      width: $icon-wrapper-size;
      height: $icon-wrapper-size;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0;
      padding: 0;
      border-radius: $border-radius;
      outline: 2px solid transparent;
      outline-offset: 2px;
      opacity: 1;
      cursor: pointer;
      transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
        outline-color 0.25s ease-in-out;

      @include plain-visited() {
        color: var(--oo-color-contrast-primary);
        background-color: var(--oo-color-primary);
      }

      @include hover() {
        background-color: var(--oo-color-mix-primary-contrast-20);
      }

      @include focus() {
        outline-color: var(--oo-color-primary);
      }

      @include active() {
        background-color: var(--oo-color-mix-primary-contrast-40);
      }

      @include disabled() {
        background-color: var(--oo-color-primary);
        opacity: 0.4;
        cursor: default;
      }

      &.disabled {
        background-color: var(--oo-color-primary);
        opacity: 0.4;
        cursor: default;
      }

      &.--arrow {
        top: 50%;
        transform: translateY(-50%);
      }
      &.--prev {
        left: 1rem;
        @include media-breakpoint-up(xl) {
          left: 2rem;
        }
      }
      &.--next {
        right: 1rem;
        @include media-breakpoint-up(xl) {
          right: 2rem;
        }
      }
      &.--close {
        top: 0.5rem;
        right: 0.5rem;
      }
    }

    &__icon {
      height: $icon-size;
      width: $icon-size;
      fill: none;
      transform: none;
    }
  }
}
