.c-module-contact {
  $c-module-contact: &;

  &__headline {
  }

  &__wrapper {
    display: flex;
    .--is-header & {
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 0 1.5rem;
      @include media-breakpoint-up(xxl) {
        display: inline;
      }
    }
    .--is-footer & {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__data {
    &.--is-address {
    }
    &.--is-contact {
    }
  }

  &__list {
    display: flex;
    gap: 0 0.5rem;

    &.--is-opening-hours {
      display: grid;
      grid-template-columns: auto minmax(100px, auto);
      column-gap: 1.5rem;
    }

    .--is-header & {
      display: flex;
      gap: 0.25rem;
      @include media-breakpoint-up(xxl) {
        display: inline-flex;
        margin-right: 1.5rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__label {
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  &__value {
    hyphens: auto;
    word-break: break-word;
  }

  &.--is-header {
    .--has-name {
      #{$c-module-contact}__wrapper {
        gap: 0 0.75rem;
      }
      #{$c-module-contact}__headline {
        @include media-breakpoint-up(xxl) {
          display: inline;
          margin-right: 0.75rem;
        }
      }
      #{$c-module-contact}__contact {
        @include media-breakpoint-up(xxl) {
          display: inline-flex;
          margin-right: 0.75rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .--right {
      #{$c-module-contact}__headline {
        margin-right: 0;
        margin-left: 0;
      }
      #{$c-module-contact}__list {
        margin-right: 0;
        margin-left: 1.5rem;
      }
    }
  }

  &.--is-footer {
  }
}
