.c-google-review-card {
  $c-google-review-card: &;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--oo-color-text);
  background-color: var(--oo-color-bg);
  border: 1px solid var(--oo-color-mix-bg-text-50);
  border-radius: $border-radius;
  padding: 1rem;
  overflow: hidden;

  &__contents {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2rem;

    &.--shorten {
      overflow: hidden;
      max-height: calc($small-line-height * 15);
      transition: max-height 0.25s ease-in-out;

      @include media-breakpoint-up(xl) {
        max-height: calc($global-line-height * 10);
      }

      &.--is-open {
        max-height: 100rem;
      }
    }
  }

  &__more {
  }

  &__date {
    position: relative;
    top: -$flag-offset;
    left: -$flag-offset;
  }

  &__author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  &__stars {
  }
}
