.c-address-search {
  position: relative;
  z-index: 90;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include media-breakpoint-up(lg) {
      gap: 2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    @include media-breakpoint-up(lg) {
      gap: 2rem;
    }
  }

  &__headline {
  }

  &__text {
  }

  &__shortcode {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include media-breakpoint-up(lg) {
      gap: 5rem;
    }

    & .c-form__fieldset {
      padding: 0;
    }
  }
}
