.c-news-card {
  $c-news-card: &;

  color: var(--oo-color-text);
  background-color: var(--oo-color-bg);
  border: 1px solid var(--oo-color-mix-bg-contrast-50);
  display: flex;
  flex-direction: column;

  &__wrapper,
  &__link {
    position: relative;
    display: flex;
    background-color: var(--oo-color-transparent-primary-10);
    border-bottom: 2px;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    & .c-placeholder {
    }
  }

  &__link {
    outline: $outline;
    outline-offset: $outline-offset;
    box-shadow: 0 0 0 $outline-offset transparent;
    transition: outline-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

    @include focus-visible() {
      outline-color: var(--oo-color-primary);
      box-shadow: 0 0 0 $outline-offset var(--oo-color-contrast-primary);
    }
  }

  &__date {
    position: absolute;
    top: $flag-offset;
    left: $flag-offset;
  }

  &__picture {
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__content {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    gap: 1rem;
    flex-grow: 1;
  }

  &__title {
  }

  &__text {
    flex-grow: 1;
  }

  &__button {
    margin-top: auto;
    width: fit-content;
  }
}
