.c-slider {
  $c-slider: &;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include media-breakpoint-up(lg) {
    gap: 2.5rem;
  }

  &__track {
  }

  &__slide {
    outline: $outline !important;
    outline-offset: $outline-offset !important;
    box-shadow: 0px 0px 0px $outline-offset transparent;
    transition: outline-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

    @include focus-visible() {
      outline-color: var(--oo-color-primary) !important;
      box-shadow: 0px 0px 0px $outline-offset var(--oo-color-contrast-primary);
    }
  }

  &__autoslide-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--oo-color-contrast-primary);
    background-color: var(--oo-color-primary);
    border: 0;
    outline: $outline !important;
    outline-offset: $outline-offset !important;
    opacity: 1;
    width: $icon-wrapper-size;
    height: $icon-wrapper-size;
    padding: 0.25rem;
    pointer-events: auto;

    #{$c-slider}__icon {
      width: $icon-size;
      height: $icon-size;

      @include media-breakpoint-up(xl) {
        width: $icon-size;
        height: $icon-size;
      }
    }

    @include plain-visited() {
      color: var(--oo-color-contrast-primary);
      background-color: var(--oo-color-primary);
      opacity: 1;
    }

    @include hover() {
      background-color: var(--oo-color-mix-primary-contrast-20);
      opacity: 1;
    }

    @include focus-visible() {
      outline-color: var(--oo-color-primary) !important;
    }

    @include active() {
      background-color: var(--oo-color-mix-primary-contrast-40);
    }
  }

  &__controls {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;

    @include media-breakpoint-up(xl) {
      height: auto;
      bottom: 2rem;
    }
  }

  &__pagination {
    position: static;
    display: flex;
    gap: 0.5rem;

    .--is-property-details-slider & {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    li {
      line-height: inherit;
      display: flex;
    }
  }

  &__page {
    border: 0;
    border-radius: 0;
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    margin: 0;
    padding: 0;
    position: relative;
    outline: $outline !important;
    outline-offset: $outline-offset !important;
    opacity: 1 !important;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out,
      outline-color 0.25s ease-in-out;

    @include plain-visited() {
      background-color: var(--oo-color-mix-bg-contrast-05);
    }

    @include hover() {
      background-color: var(--oo-color-mix-primary-contrast-20);
    }

    @include focus-visible() {
      outline-color: var(--oo-color-text) !important;
    }

    @include active() {
      background-color: var(--oo-color-mix-primary-contrast-40);
    }

    &.is-active {
      background: var(--oo-color-primary);
      transform: none;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

    @include media-breakpoint-up(lg) {
      margin-left: 7.625rem;
      margin-right: 7.625rem;
    }

    .--is-property-details-slider & {
      margin-left: 0;
      margin-right: 0;
    }

    &.--is-properties-images-slider {
      &.--empty {
        display: none;
      }
    }
  }

  &__progress {
    background: var(--oo-color-mix-bg-contrast-10);
  }

  &__progress-bar {
    background: var(--oo-color-primary);
    height: 4px;
    transition: width 400ms ease; // same slider as speed and easing
    width: 0;
  }

  &__arrows {
    display: flex;
    justify-content: space-between;
  }

  &__arrow {
    position: relative;
    transform: none;
    width: $icon-wrapper-size;
    height: $icon-wrapper-size;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    outline: $outline !important;
    outline-offset: $outline-offset !important;
    opacity: 1;
    cursor: pointer;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
      outline-color 0.25s ease-in-out, opacity 0.25s ease-in-out;

    @include plain-visited() {
      color: var(--oo-color-contrast-bg);
      background-color: var(--oo-color-mix-bg-contrast-05);
      opacity: 1;
    }

    @include hover() {
      background-color: var(--oo-color-primary);
      color: var(--oo-color-contrast-primary);

      &:not(:disabled) {
        // needed to overwrite splide hover 0.9
        opacity: 1;
      }
    }

    @include focus-visible() {
      outline-color: var(--oo-color-text) !important;
    }

    @include active() {
      background-color: var(--oo-color-mix-primary-contrast-40);
    }

    @include disabled() {
      color: var(--oo-color-text);
      opacity: 0.2 !important;
      outline-color: transparent;
      cursor: default;
      pointer-events: none !important;
    }

    &.--prev {
      left: 0;
    }

    &.--next {
      right: 0;
    }

    svg {
      width: $icon-size;
      height: $icon-size;
      transform: none;
      fill: transparent;
    }
  }

  &__arrow-text {
  }

  &__arrow-icon {
    height: $icon-size;
    width: $icon-size;
    svg {
      height: $icon-size;
      width: $icon-size;
      fill: none;
      transform: none;
    }
  }

  &__fullscreen {
    display: none;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;

    @include media-breakpoint-up(sm) {
      display: flex;
    }
  }

  &.--loop {
  }

  &.--auto-height {
    #{$c-slider}__slide {
      &:not(.is-active) {
        max-height: inherit;
        @include media-breakpoint-up(xl) {
          max-height: inherit;
        }
      }
    }
  }

  &.--is-properties-slider {
    #{$c-slider}__navigation {
      @include media-breakpoint-up(lg) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &.--is-addresses-slider {
  }

  &.--is-link-boxes-slider {
  }

  &.--is-news-slider {
  }

  &.--is-team-slider {
  }

  &.--is-reviews-slider {
    #{$c-slider}__arrow {
      top: 0;
    }
  }

  &.--is-seals-slider {
    #{$c-slider}__arrow {
      &--next {
        right: 0;
      }
      &--prev {
        left: 0;
      }
    }
  }

  &.--is-google-review {
  }
  &.--is-banner-slider {
    #{$c-slider}__navigation {
      pointer-events: none;
    }

    #{$c-slider}__controls-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2.5rem auto 2.5rem auto;

      @include media-breakpoint-up(xl) {
        padding: 0;
      }
    }

    #{$c-slider}__controls {
      bottom: unset;
    }

    #{$c-slider}__arrows {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      pointer-events: auto;
    }
  }
  &.--is-properties-images-slider {
    gap: 0;
    position: relative;
    #{$c-slider}__navigation {
      width: 100%;
      height: auto;
      aspect-ratio: 4 / 3;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      @include media-breakpoint-up(lg) {
        aspect-ratio: unset;
        height: 100%;
      }
    }

    #{$c-slider}__arrows {
      height: 100%;
    }
    #{$c-slider}__arrow {
      pointer-events: auto;

      &.--next {
        right: 1rem;
      }
      &.--prev {
        left: 1rem;
      }
    }
  }

  &.--is-property-details-slider {
    position: relative;

    #{$c-slider}__navigation {
      width: 100%;
      height: auto;
    }

    #{$c-slider}__arrows {
      height: 100%;
    }
    #{$c-slider}__arrow {
      pointer-events: auto;
      top: 0;

      &.--next {
        right: 1rem;
      }
      &.--prev {
        left: 1rem;
      }
    }
    #{$c-slider}__controls {
      bottom: -1.5rem;

      @include media-breakpoint-up(sm) {
        bottom: 0.5rem;
      }
    }
    #{$c-slider}__pagination {
      width: 50%;

      .--is-property-details-slider & {
        display: flex;
      }

      @include media-breakpoint-up(sm) {
        width: 100%;
      }
    }
    &:not(.is-overflow) {
      > #{$c-slider}__navigation,
      > #{$c-slider}__progress,
      > #{$c-slider}__arrows {
        display: flex;
      }
    }
  }

  &.--is-banner-slider {
    position: relative;
    #{$c-slider}__navigation {
      pointer-events: none;
    }

    #{$c-slider}__arrows {
      height: 100%;
    }
    #{$c-slider}__arrow {
      pointer-events: auto;

      .--is-header-style-transparent & {
        @include media-breakpoint-up(lg) {
          transform: translateY(calc(-50% + 3rem));
        }

        @include media-breakpoint-up(xxl) {
          transform: translateY(calc(-50% + 7rem));
        }
      }

      &.--next {
        right: 1rem;
      }
      &.--prev {
        left: 1rem;
      }
    }
  }

  &.--is-gallery-slider {
    #{$c-slider}__list {
      gap: 0.5rem;

      @include media-breakpoint-up(lg) {
        gap: 1rem;
      }
    }
  }

  // when slider has not enough slides
  &:not(.is-overflow) {
    > #{$c-slider}__navigation,
    > #{$c-slider}__progress,
    > #{$c-slider}__arrows {
      display: none;
    }
  }

  // when slider is not initialized and not active
  &:not(.is-initialized):not(.is-active) {
    visibility: visible;

    #{$c-slider}__navigation,
    #{$c-slider}__progress,
    #{$c-slider}__arrows {
      display: none;
    }

    &.--auto-height {
      #{$c-slider}__slide {
        max-height: inherit;
      }
    }

    &.--loop {
    }

    &.--is-properties-slider {
      #{$c-slider}__list {
        display: grid;
        gap: 2rem;

        @include media-breakpoint-up(lg) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(xxl) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }

    &.--is-addresses-slider {
      #{$c-slider}__list {
        display: grid;
        gap: 2rem;

        @include media-breakpoint-up(lg) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(xxl) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }

    &.--is-link-boxes-slider {
      #{$c-slider}__list {
        display: grid;
        gap: 1.5rem;

        @include media-breakpoint-up(md) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include media-breakpoint-up(xl) {
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
        }
      }
    }

    &.--is-properties-similar-slider {
      #{$c-slider}__list {
        display: grid;
        gap: 2rem;
      }
    }

    &.--is-team-slider {
      #{$c-slider}__list {
        display: grid;
        gap: 3rem 0;
        @include media-breakpoint-up(md) {
          grid-template-columns: repeat(2, 1fr);
          gap: 5rem 2rem;
        }
        @include media-breakpoint-up(xl) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }

    &.--is-reviews-slider {
      #{$c-slider}__list {
        display: grid;
        gap: 2rem;

        @include media-breakpoint-up(md) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(xl) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }

    &.--is-news-slider {
      #{$c-slider}__list {
        display: grid;
        gap: 2rem;
        @include media-breakpoint-up(lg) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    &.--is-seals-slider {
      #{$c-slider}__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        @include media-breakpoint-up(md) {
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
        }
        @include media-breakpoint-up(xxl) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }

    &.--is-gallery-slider {
      #{$c-slider}__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;

        @include media-breakpoint-up(lg) {
          gap: 1rem;
        }
      }

      #{$c-slider}__slide {
        width: auto;
        height: 180px;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
          height: 350px;
        }
      }
    }

    &.--is-banner-slider {
      #{$c-slider}__list {
        display: flex;
        height: 100%;
        overflow: hidden;
      }
      #{$c-slider}__slide {
        flex-shrink: 0;
      }
    }
  }

  &.--on-bg-light,
  .--bg-light & {
    #{$c-slider}__page {
      @include plain-visited() {
        background-color: var(--oo-color-light-mix-bg-contrast-05);
      }
      @include hover() {
        background-color: var(--oo-color-light-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-light-text) !important;
      }
      @include active() {
        background-color: var(--oo-color-light-mix-primary-contrast-40);
      }
      &.is-active {
        background: var(--oo-color-light-primary);
      }
    }

    #{$c-slider}__progress {
      background: var(--oo-color-light-mix-bg-contrast-10);
    }

    #{$c-slider}__progress-bar {
      background: var(--oo-color-light-primary);
    }

    #{$c-slider}__arrow {
      @include plain-visited() {
        color: var(--oo-color-light-contrast-bg);
        background-color: var(--oo-color-light-mix-bg-contrast-05);
      }
      @include hover() {
        background-color: var(--oo-color-light-primary);
        color: var(--oo-color-light-contrast-primary);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-light-text) !important;
      }
      @include active() {
        background-color: var(--oo-color-light-mix-primary-contrast-40);
      }
      @include disabled() {
      }
    }
  }

  &.--on-bg-dark,
  .--bg-dark & {
    #{$c-slider}__page {
      @include plain-visited() {
        background-color: var(--oo-color-dark-mix-bg-contrast-05);
      }
      @include hover() {
        background-color: var(--oo-color-dark-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-dark-text) !important;
      }
      @include active() {
        background-color: var(--oo-color-dark-mix-primary-contrast-40);
      }
      &.is-active {
        background: var(--oo-color-dark-primary);
      }
    }

    #{$c-slider}__progress {
      background: var(--oo-color-dark-mix-bg-contrast-10);
    }

    #{$c-slider}__progress-bar {
      background: var(--oo-color-dark-primary);
    }

    #{$c-slider}__arrow {
      @include plain-visited() {
        color: var(--oo-color-dark-contrast-bg);
        background-color: var(--oo-color-dark-mix-bg-contrast-05);
      }
      @include hover() {
        background-color: var(--oo-color-dark-primary);
        color: var(--oo-color-dark-contrast-primary);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-dark-text) !important;
      }
      @include active() {
        background-color: var(--oo-color-dark-mix-primary-contrast-40);
      }
      @include disabled() {
      }
    }
  }

  &.--on-bg-primary,
  .--bg-primary & {
    #{$c-slider}__page {
      @include plain-visited() {
        background-color: var(--oo-color-primary-mix-bg-contrast-05);
      }
      @include hover() {
        background-color: var(--oo-color-primary-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-primary-text) !important;
      }
      @include active() {
        background-color: var(--oo-color-primary-mix-primary-contrast-40);
      }
      &.is-active {
        background: var(--oo-color-primary-primary);
      }
    }

    #{$c-slider}__progress {
      background: var(--oo-color-primary-mix-bg-contrast-10);
    }

    #{$c-slider}__progress-bar {
      background: var(--oo-color-primary-primary);
    }

    #{$c-slider}__arrow {
      @include plain-visited() {
        color: var(--oo-color-primary-contrast-bg);
        background-color: var(--oo-color-primary-mix-bg-contrast-05);
      }
      @include hover() {
        background-color: var(--oo-color-primary-primary);
        color: var(--oo-color-primary-contrast-primary);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-primary-text) !important;
      }
      @include active() {
        background-color: var(--oo-color-primary-mix-primary-contrast-40);
      }
      @include disabled() {
      }
    }
  }

  &.--on-bg-secondary,
  .--bg-secondary & {
    #{$c-slider}__page {
      @include plain-visited() {
        background-color: var(--oo-color-secondary-mix-bg-contrast-05);
      }
      @include hover() {
        background-color: var(--oo-color-secondary-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-secondary-text) !important;
      }
      @include active() {
        background-color: var(--oo-color-secondary-mix-primary-contrast-40);
      }
      &.is-active {
        background: var(--oo-color-secondary-primary);
      }
    }

    #{$c-slider}__progress {
      background: var(--oo-color-secondary-mix-bg-contrast-10);
    }

    #{$c-slider}__progress-bar {
      background: var(--oo-color-secondary-primary);
    }

    #{$c-slider}__arrow {
      @include plain-visited() {
        color: var(--oo-color-secondary-contrast-bg);
        background-color: var(--oo-color-secondary-mix-bg-contrast-05);
      }
      @include hover() {
        background-color: var(--oo-color-secondary-primary);
        color: var(--oo-color-secondary-contrast-primary);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-secondary-text) !important;
      }
      @include active() {
        background-color: var(--oo-color-secondary-mix-primary-contrast-40);
      }
      @include disabled() {
      }
    }
  }

  &.--on-bg-footer,
  .--bg-footer & {
    #{$c-slider}__page {
      @include plain-visited() {
        background-color: var(--oo-color-footer-bg);
      }
      @include hover() {
        background-color: var(--oo-color-footer-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-footer-color) !important;
      }
      @include active() {
        background-color: var(--oo-color-footer-mix-primary-contrast-40);
      }
      &.is-active {
        background: var(--oo-color-footer-primary);
      }
    }

    #{$c-slider}__progress {
      background: var(--oo-color-footer-mix-bg-contrast-10);
    }

    #{$c-slider}__progress-bar {
      background: var(--oo-color-footer-primary);
    }

    #{$c-slider}__arrow {
      @include plain-visited() {
        color: var(--oo-color-footer-contrast-primary);
        background-color: var(--oo-color-footer-primary);
      }
      @include hover() {
        background-color: var(--oo-color-footer-primary);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-footer-text) !important;
      }
      @include active() {
        background-color: var(--oo-color-footer-mix-primary-contrast-40);
      }
      @include disabled() {
      }
    }
  }

  &.--on-bg-transparent,
  .--bg-transparent & {
    #{$c-slider}__page {
      @include plain-visited() {
        background-color: var(--oo-color-mix-bg-contrast-05);
      }
      @include hover() {
        background-color: var(--oo-color-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-text) !important;
      }
      @include active() {
        background-color: var(--oo-color-mix-primary-contrast-40);
      }
      &.is-active {
        background: var(--oo-color-primary);
      }
    }

    #{$c-slider}__progress {
      background: var(--oo-color-mix-bg-contrast-10);
    }

    #{$c-slider}__progress-bar {
      background: var(--oo-color-primary);
    }

    #{$c-slider}__arrow {
      @include plain-visited() {
        color: var(--oo-color-contrast-bg);
        background-color: var(--oo-color-mix-bg-contrast-05);
        opacity: 1;
      }

      @include hover() {
        background-color: var(--oo-color-primary);
        color: var(--oo-color-contrast-primary);
        opacity: 1;
      }

      @include focus-visible() {
        outline-color: var(--oo-color-text) !important;
      }

      @include active() {
        background-color: var(--oo-color-mix-primary-contrast-40);
      }

      @include disabled() {
      }
    }
  }
}
