.c-slider {
  $c-slider: &;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__track {
  }

  &__slide {
    outline: $outline !important;
    outline-offset: $outline-offset !important;
    box-shadow: 0px 0px 0px $outline-offset transparent;
    transition: outline-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

    @include focus-visible() {
      outline-color: var(--oo-color-primary) !important;
      box-shadow: 0px 0px 0px $outline-offset var(--oo-color-contrast-primary);
    }
  }

  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--oo-color-contrast-primary);
    background-color: var(--oo-color-primary);
    border: 2px solid var(--oo-color-primary);
    width: $icon-wrapper-size;
    height: $icon-wrapper-size;
    padding: 0.25rem;
    border-radius: $border-radius;
    pointer-events: auto;

    #{$c-slider}__icon {
      width: $icon-size;
      height: $icon-size;

      @include media-breakpoint-up(xl) {
        width: $icon-size;
        height: $icon-size;
      }
    }
  }

  &__toggle {
    color: var(--oo-color-contrast-primary);
    background-color: var(--oo-color-primary);
    border: 2px solid var(--oo-color-primary);
    width: $icon-wrapper-size;
    height: $icon-wrapper-size;
    border-radius: $border-radius;
    padding: 0.25rem;

    #{$c-slider}__icon {
      height: $icon-size;
      width: $icon-size;
      fill: none;
      transform: none;

      @include media-breakpoint-up(xl) {
        width: $icon-size;
        height: $icon-size;
      }
    }
  }

  &__pagination {
    bottom: 0;
    padding: 0 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    height: fit-content;

    @include media-breakpoint-up(xl) {
      height: auto;
    }

    li {
      line-height: inherit;
      display: flex;
    }
  }

  &__page {
    border: 0;
    border-radius: $border-radius;
    display: inline-block;
    height: $icon-size;
    width: $icon-size;
    margin: 0;
    padding: 0;
    position: relative;
    outline: $outline !important;
    outline-offset: $outline-offset !important;
    opacity: 1 !important;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out,
      outline-color 0.25s ease-in-out;

    @include plain-visited() {
      background-color: var(--oo-color-bg);
    }

    @include hover() {
      background-color: var(--oo-color-mix-primary-contrast-20);
    }

    @include focus-visible() {
      outline-color: var(--oo-color-primary) !important;
    }

    @include active() {
      background-color: var(--oo-color-mix-primary-contrast-40);
    }

    &.is-active {
      background: var(--oo-color-primary);
      transform: none;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &.--is-properties-images-slider {
      &.--empty {
        display: none;
      }
    }
  }

  &__progress {
    background: var(--oo-color-mix-bg-contrast-10);
  }

  &__progress-bar {
    background: var(--oo-color-primary);
    height: 2px;
    transition: width 400ms ease; // same slider as speed and easing
    width: 0;
  }

  &__arrows {
    display: flex;
    justify-content: space-between;
  }

  &__arrow {
    position: relative;
    transform: none;
    width: $icon-wrapper-size;
    height: $icon-wrapper-size;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: $border-radius;
    border: 0;
    outline: $outline !important;
    outline-offset: $outline-offset !important;
    opacity: 1;
    cursor: pointer;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
      outline-color 0.25s ease-in-out, opacity 0.25s ease-in-out;

    @include plain-visited() {
      color: var(--oo-color-contrast-primary);
      background-color: var(--oo-color-primary);
      opacity: 1;
    }

    @include hover() {
      background-color: var(--oo-color-mix-primary-contrast-20);
      opacity: 1;
    }

    @include focus-visible() {
      outline-color: var(--oo-color-primary) !important;
    }

    @include active() {
      background-color: var(--oo-color-mix-primary-contrast-40);
    }

    @include disabled() {
      background-color: var(--oo-color-primary);
      opacity: 0.4;
      outline-color: transparent;
      cursor: default;
    }

    &.--prev {
      left: 0;
    }

    &.--next {
      right: 0;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      transform: none;
      fill: transparent;
    }
  }

  &__arrow-text {
  }

  &__arrow-icon {
    height: $icon-size;
    width: $icon-size;
    svg {
      height: $icon-size;
      width: $icon-size;
      fill: none;
      transform: none;
    }
  }

  &.--loop {
  }

  &.--auto-height {
    #{$c-slider}__slide {
      &:not(.is-active) {
        max-height: 0;
        @include media-breakpoint-up(xl) {
          max-height: inherit;
        }
      }
    }
  }

  &.--is-properties-slider {
  }

  &.--is-addresses-slider {
  }

  &.--is-link-boxes-slider {
  }

  &.--is-news-slider {
  }

  &.--is-team-slider {
  }

  &.--is-reviews-slider {
    #{$c-slider}__arrow {
      top: 0;
    }
  }

  &.--is-seals-slider {
    #{$c-slider}__arrow {
      &--next {
        right: 0;
      }
      &--prev {
        left: 0;
      }
    }
  }

  &.--is-google-review {
  }
  &.--is-banner-slider {
    #{$c-slider}__navigation {
      width: 100%;
      height: auto;
      aspect-ratio: 4 / 3;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      @include media-breakpoint-up(lg) {
        aspect-ratio: unset;
        height: 100%;
      }
    }

    #{$c-slider}__toggle {
      position: absolute;
      bottom: 3rem;
      left: 50%;
      translate: -50%;
      padding: 0;
      @include media-breakpoint-up(lg) {
        bottom: 4rem;
      }
    }

    #{$c-slider}__toggle {
      pointer-events: auto;
      position: absolute;
      bottom: 3.5rem;
      left: 50%;
      translate: -50%;
      margin: 0 auto;
      @include media-breakpoint-up(xl) {
        top: auto;
        bottom: 4.5rem;
        padding: 0.25rem;
      }
    }
    #{$c-slider}__pagination {
      position: absolute;
      pointer-events: auto;
      bottom: 1rem;
      @include media-breakpoint-up(lg) {
        bottom: 2rem;
      }
    }
    #{$c-slider}__arrows {
      height: 100%;
    }
    #{$c-slider}__arrow {
      pointer-events: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &.--next {
        right: 1rem;
      }
      &.--prev {
        left: 1rem;
      }
    }
  }
  &.--is-properties-images-slider {
    gap: 0;
    position: relative;
    #{$c-slider}__navigation {
      width: 100%;
      height: auto;
      aspect-ratio: 4 / 3;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      @include media-breakpoint-up(lg) {
        aspect-ratio: unset;
        height: 100%;
      }
    }
    #{$c-slider}__pagination {
      position: absolute;
      pointer-events: auto;
      bottom: 1rem;
      @include media-breakpoint-up(lg) {
        bottom: 2rem;
      }
    }
    #{$c-slider}__arrows {
      height: 100%;
    }
    #{$c-slider}__arrow {
      pointer-events: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &.--next {
        right: 1rem;
      }
      &.--prev {
        left: 1rem;
      }
    }
  }

  &.--is-banner-slider {
    position: relative;
    #{$c-slider}__navigation {
      width: 100%;
      height: auto;
      aspect-ratio: 4 / 3;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      @include media-breakpoint-up(lg) {
        aspect-ratio: unset;
        height: 100%;
      }
    }
    #{$c-slider}__pagination {
      position: absolute;
      pointer-events: auto;
      bottom: 1rem;
      @include media-breakpoint-up(lg) {
        bottom: 2rem;
      }
    }
    #{$c-slider}__arrows {
      height: 100%;
    }
    #{$c-slider}__arrow {
      pointer-events: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      .--is-header-style-transparent & {
        @include media-breakpoint-up(lg) {
          transform: translateY(calc(-50% + 3rem));
        }

        @include media-breakpoint-up(xxl) {
          transform: translateY(calc(-50% + 7rem));
        }
      }

      &.--next {
        right: 1rem;
      }
      &.--prev {
        left: 1rem;
      }
    }
  }

  &.--is-gallery-slider {
    &.--is-destroyed {
      #{$c-slider}__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
      }

      #{$c-slider}__slide {
        width: auto;
        height: 225px;
        border-radius: $border-radius;
        overflow: hidden;
      }
    }
  }

  // when slider has not enough slides
  &:not(.is-overflow) {
    #{$c-slider}__navigation,
    #{$c-slider}__progress,
    #{$c-slider}__arrows {
      display: none;
    }
  }

  // when slider is not initialized and not active
  &:not(.is-initialized):not(.is-active) {
    visibility: visible;

    #{$c-slider}__navigation,
    #{$c-slider}__progress,
    #{$c-slider}__arrows {
      display: none;
    }

    &.--auto-height {
      #{$c-slider}__slide {
        max-height: inherit;
      }
    }

    &.--loop {
    }

    &.--is-properties-slider {
      #{$c-slider}__list {
        display: grid;
        gap: 2rem;

        @include media-breakpoint-up(lg) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(xxl) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }

    &.--is-addresses-slider {
      #{$c-slider}__list {
        display: grid;
        gap: 2rem;

        @include media-breakpoint-up(lg) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(xxl) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }

    &.--is-link-boxes-slider {
      #{$c-slider}__list {
        display: grid;
        gap: 1.5rem;

        @include media-breakpoint-up(md) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include media-breakpoint-up(xl) {
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
        }
      }
    }

    &.--is-properties-similar-slider {
      #{$c-slider}__list {
        display: grid;
        gap: 2rem;
      }
    }

    &.--is-team-slider {
      #{$c-slider}__list {
        display: grid;
        gap: 3rem 0;
        @include media-breakpoint-up(md) {
          grid-template-columns: repeat(2, 1fr);
          gap: 5rem 2rem;
        }
        @include media-breakpoint-up(xl) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }

    &.--is-reviews-slider {
      #{$c-slider}__list {
        display: grid;
        gap: 2rem;

        @include media-breakpoint-up(md) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(xl) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }

    &.--is-news-slider {
      #{$c-slider}__list {
        display: grid;
        gap: 2rem;
        @include media-breakpoint-up(lg) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    &.--is-seals-slider {
      #{$c-slider}__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        @include media-breakpoint-up(md) {
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
        }
        @include media-breakpoint-up(xxl) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }

    &.--is-gallery-slider {
      #{$c-slider}__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
      }

      #{$c-slider}__slide {
        width: auto;
        height: 225px;
        border-radius: $border-radius;
        overflow: hidden;
      }
    }

    &.--is-banner-slider {
      #{$c-slider}__list {
        display: flex;
        height: 100%;
        overflow: hidden;
      }
      #{$c-slider}__slide {
        flex-shrink: 0;
      }
    }
  }

  &.--on-bg-light {
    #{$c-slider}__page {
      @include plain-visited() {
        background-color: var(--oo-color-light-bg);
      }
      @include hover() {
        background-color: var(--oo-color-light-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-light-primary) !important;
      }
      @include active() {
        background-color: var(--oo-color-light-mix-primary-contrast-40);
      }
      &.is-active {
        background: var(--oo-color-light-primary);
      }
    }

    #{$c-slider}__progress {
      background: var(--oo-color-light-mix-bg-contrast-10);
    }

    #{$c-slider}__progress-bar {
      background: var(--oo-color-light-primary);
    }

    #{$c-slider}__arrow {
      @include plain-visited() {
        color: var(--oo-color-light-contrast-primary);
        background-color: var(--oo-color-light-primary);
      }
      @include hover() {
        background-color: var(--oo-color-light-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-light-primary) !important;
      }
      @include active() {
        background-color: var(--oo-color-light-mix-primary-contrast-40);
      }
      @include disabled() {
        background-color: var(--oo-color-light-primary);
        outline-color: transparent;
      }
    }
  }

  &.--on-bg-dark {
    #{$c-slider}__page {
      @include plain-visited() {
        background-color: var(--oo-color-dark-bg);
      }
      @include hover() {
        background-color: var(--oo-color-dark-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-dark-primary) !important;
      }
      @include active() {
        background-color: var(--oo-color-dark-mix-primary-contrast-40);
      }
      &.is-active {
        background: var(--oo-color-dark-primary);
      }
    }

    #{$c-slider}__progress {
      background: var(--oo-color-dark-mix-bg-contrast-10);
    }

    #{$c-slider}__progress-bar {
      background: var(--oo-color-dark-primary);
    }

    #{$c-slider}__arrow {
      @include plain-visited() {
        color: var(--oo-color-dark-contrast-primary);
        background-color: var(--oo-color-dark-primary);
      }
      @include hover() {
        background-color: var(--oo-color-dark-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-dark-primary) !important;
      }
      @include active() {
        background-color: var(--oo-color-dark-mix-primary-contrast-40);
      }
      @include disabled() {
        background-color: var(--oo-color-dark-primary);
        outline-color: transparent;
      }
    }
  }

  &.--on-bg-primary {
    #{$c-slider}__page {
      @include plain-visited() {
        background-color: var(--oo-color-primary-bg);
      }
      @include hover() {
        background-color: var(--oo-color-primary-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-primary-primary) !important;
      }
      @include active() {
        background-color: var(--oo-color-primary-mix-primary-contrast-40);
      }
      &.is-active {
        background: var(--oo-color-primary-primary);
      }
    }

    #{$c-slider}__progress {
      background: var(--oo-color-primary-mix-bg-contrast-10);
    }

    #{$c-slider}__progress-bar {
      background: var(--oo-color-primary-primary);
    }

    #{$c-slider}__arrow {
      @include plain-visited() {
        color: var(--oo-color-primary-contrast-primary);
        background-color: var(--oo-color-primary-primary);
      }
      @include hover() {
        background-color: var(--oo-color-primary-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-primary-primary) !important;
      }
      @include active() {
        background-color: var(--oo-color-primary-mix-primary-contrast-40);
      }
      @include disabled() {
        background-color: var(--oo-color-primary-primary);
        outline-color: transparent;
      }
    }
  }

  &.--on-bg-secondary {
    #{$c-slider}__page {
      @include plain-visited() {
        background-color: var(--oo-color-secondary-bg);
      }
      @include hover() {
        background-color: var(--oo-color-secondary-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-secondary-primary) !important;
      }
      @include active() {
        background-color: var(--oo-color-secondary-mix-primary-contrast-40);
      }
      &.is-active {
        background: var(--oo-color-secondary-primary);
      }
    }

    #{$c-slider}__progress {
      background: var(--oo-color-secondary-mix-bg-contrast-10);
    }

    #{$c-slider}__progress-bar {
      background: var(--oo-color-secondary-primary);
    }

    #{$c-slider}__arrow {
      @include plain-visited() {
        color: var(--oo-color-secondary-contrast-primary);
        background-color: var(--oo-color-secondary-primary);
      }
      @include hover() {
        background-color: var(--oo-color-secondary-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-secondary-primary) !important;
      }
      @include active() {
        background-color: var(--oo-color-secondary-mix-primary-contrast-40);
      }
      @include disabled() {
        background-color: var(--oo-color-secondary-primary);
        outline-color: transparent;
      }
    }
  }

  &.--on-bg-footer {
    #{$c-slider}__page {
      @include plain-visited() {
        background-color: var(--oo-color-footer-bg);
      }
      @include hover() {
        background-color: var(--oo-color-footer-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-footer-primary) !important;
      }
      @include active() {
        background-color: var(--oo-color-footer-mix-primary-contrast-40);
      }
      &.is-active {
        background: var(--oo-color-footer-primary);
      }
    }

    #{$c-slider}__progress {
      background: var(--oo-color-footer-mix-bg-contrast-10);
    }

    #{$c-slider}__progress-bar {
      background: var(--oo-color-footer-primary);
    }

    #{$c-slider}__arrow {
      @include plain-visited() {
        color: var(--oo-color-footer-contrast-primary);
        background-color: var(--oo-color-footer-primary);
      }
      @include hover() {
        background-color: var(--oo-color-footer-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-footer-primary) !important;
      }
      @include active() {
        background-color: var(--oo-color-footer-mix-primary-contrast-40);
      }
      @include disabled() {
        background-color: var(--oo-color-footer-primary);
        outline-color: transparent;
      }
    }
  }

  &.--on-bg-transparent {
    #{$c-slider}__page {
      @include plain-visited() {
        background-color: var(--oo-color-bg);
      }
      @include hover() {
        background-color: var(--oo-color-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-primary) !important;
      }
      @include active() {
        background-color: var(--oo-color-mix-primary-contrast-40);
      }
      &.is-active {
        background: var(--oo-color-primary);
      }
    }

    #{$c-slider}__progress {
      background: var(--oo-color-mix-bg-contrast-10);
    }

    #{$c-slider}__progress-bar {
      background: var(--oo-color-primary);
    }

    #{$c-slider}__arrow {
      @include plain-visited() {
        color: var(--oo-color-contrast-primary);
        background-color: var(--oo-color-primary);
      }
      @include hover() {
        background-color: var(--oo-color-mix-primary-contrast-20);
      }
      @include focus-visible() {
        outline-color: var(--oo-color-primary) !important;
      }
      @include active() {
        background-color: var(--oo-color-mix-primary-contrast-40);
      }
      @include disabled() {
        background-color: var(--oo-color-primary);
        outline-color: transparent;
      }
    }
  }
}
