.c-accordion-card {
  $c-accordion-card: &;

  display: flex;
  flex-direction: column;
  padding: 1rem 0 0;
  border-top: 1px solid var(--oo-color-mix-bg-contrast-50);

  @include media-breakpoint-up(xl) {
    padding: 2rem 0 0;
  }

  &__icon-wrapper {
    display: grid;
  }

  &__title {
    display: grid;
    grid-template-columns: auto $icon-wrapper-size;
    gap: 1rem;
    cursor: pointer;
    margin: 0;
    padding: 0;
    outline: $outline;
    outline-offset: $outline-offset;

    @include visited-active() {
      #{$c-accordion-card}__headline {
        color: var(--oo-color-primary);
      }
    }

    @include hover-focus() {
      #{$c-accordion-card}__headline {
        color: var(--oo-color-primary);
      }
    }

    @include focus-visible() {
      outline-color: var(--oo-color-primary);
    }
  }

  &__icon {
    display: inherit;
    transition: transform 0.25s ease-in-out;

    [open] & {
      transform: rotate(180deg);

      .--open {
        display: none;
      }
    }
  }

  &__icon-wrapper {
    .--open {
      display: none;
    }
    .--close {
      display: inline;
    }
  }

  &__content {
    padding-bottom: 1rem;
    margin-top: 1rem;
    max-height: 0;
    transition: max-height 0.25s ease-in-out;

    @include media-breakpoint-up(xl) {
      margin-top: 2rem;
      padding-bottom: 2rem;
    }

    .--is-open & {
      max-height: 100rem;
    }
  }

  .--bg-light & {
    border-color: var(--oo-color-light-mix-bg-contrast-50);
    #{$c-accordion-card}__title {
      @include visited-active() {
        #{$c-accordion-card}__headline {
          color: var(--oo-color-light-primary, var(--oo-color-primary));
        }
      }
      @include hover-focus() {
        #{$c-accordion-card}__headline {
          color: var(--oo-color-light-primary, var(--oo-color-primary));
        }
      }
      @include focus-visible() {
        outline-color: var(--oo-color-light-primary, var(--oo-color-primary));
      }
    }
  }

  .--bg-dark & {
    border-color: var(--oo-color-dark-mix-bg-contrast-50);
    #{$c-accordion-card}__title {
      @include visited-active() {
        #{$c-accordion-card}__headline {
          color: var(--oo-color-dark-primary, var(--oo-color-primary));
        }
      }
      @include hover-focus() {
        #{$c-accordion-card}__headline {
          color: var(--oo-color-dark-primary, var(--oo-color-primary));
        }
      }
      @include focus-visible() {
        outline-color: var(--oo-color-dark-primary, var(--oo-color-primary));
      }
    }
  }
  .--bg-primary & {
    border-color: var(--oo-color-primary-mix-bg-contrast-50);
    #{$c-accordion-card}__title {
      @include visited-active() {
        #{$c-accordion-card}__headline {
          color: var(--oo-color-primary-primary, var(--oo-color-primary));
        }
      }
      @include hover-focus() {
        #{$c-accordion-card}__headline {
          color: var(--oo-color-primary-primary, var(--oo-color-primary));
        }
      }
      @include focus-visible() {
        outline-color: var(--oo-color-primary-primary, var(--oo-color-primary));
      }
    }
  }
  .--bg-secondary & {
    border-color: var(--oo-color-secondary-mix-bg-contrast-50);
    #{$c-accordion-card}__title {
      @include visited-active() {
        #{$c-accordion-card}__headline {
          color: var(--oo-color-secondary-primary, var(--oo-color-primary));
        }
      }
      @include hover-focus() {
        #{$c-accordion-card}__headline {
          color: var(--oo-color-secondary-primary, var(--oo-color-primary));
        }
      }
      @include focus-visible() {
        outline-color: var(
          --oo-color-secondary-primary,
          var(--oo-color-primary)
        );
      }
    }
  }
}
