.c-contact {
  $c-contact: &;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    @include media-breakpoint-up(md) {
      gap: 5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1.5rem;
    @include media-breakpoint-up(xl) {
      gap: 2rem;
    }
  }

  &__headline {
  }

  &__text {
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1.5rem;
    @include media-breakpoint-up(xl) {
      gap: 2rem;
    }
  }
  &__addresses {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem 0;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem 1rem;
    }

    &.--is-map {
      display: flex;
      flex-direction: column;
    }
  }
}
