.c-player {
  $c-player: &;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  outline: $outline;
  outline-offset: $outline-offset;
  box-shadow: 0px 0px 0px $outline-offset transparent;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out, transform 0.25s ease-in-out,
    outline-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

  @include focus-visible() {
    outline-color: currentColor;
    box-shadow: 0px 0px 0px $outline-offset var(--oo-color-contrast-primary);
  }

  &__icon {
    width: $icon-wrapper-size;
    height: $icon-wrapper-size;
    outline: calc(($icon-wrapper-size - 1.5rem) / 2) solid
      var(--oo-color-primary);
    outline-offset: -2px;
    background-color: var(--oo-color-primary);
    color: var(--oo-color-contrast-primary);

    svg {
      width: 1.5rem;
      height: 1.5rem;
      transform: none;
      fill: transparent;
    }
  }

  &.--on-bg-transparent {
    color: var(--oo-color-primary);

    @include hover() {
      background-color: var(--oo-color-transparent-bg-25);
    }

    @include focus-visible() {
      outline-color: currentColor;
      box-shadow: 0px 0px 0px $outline-offset var(--oo-color-contrast-primary);
    }
  }

  &.--on-bg-light {
    color: var(--oo-color-light-primary, var(--oo-color-primary));

    @include hover() {
      background-color: var(
        --oo-color-light-transparent-bg-25,
        var(--oo-color-transparent-bg-25)
      );
    }

    @include focus-visible() {
      outline-color: currentColor;
      box-shadow: 0px 0px 0px $outline-offset
        var(--oo-color-light-contrast-primary);
    }
  }

  &.--on-bg-dark {
    color: var(--oo-color-dark-primary, var(--oo-color-primary));

    @include hover() {
      background-color: var(
        --oo-color-dark-transparent-bg-25,
        var(--oo-color-transparent-bg-25)
      );
    }

    @include focus-visible() {
      outline-color: currentColor;
      box-shadow: 0px 0px 0px $outline-offset
        var(--oo-color-dark-contrast-primary);
    }
  }

  &.--on-bg-primary {
    color: var(--oo-color-primary-primary, var(--oo-color-primary));

    @include hover() {
      background-color: var(
        --oo-color-primary-transparent-bg-25,
        var(--oo-color-transparent-bg-25)
      );
    }

    @include focus-visible() {
      outline-color: currentColor;
      box-shadow: 0px 0px 0px $outline-offset
        var(--oo-color-primary-contrast-primary);
    }
  }

  &.--on-bg-secondary {
    color: var(--oo-color-secondary-primary, var(--oo-color-primary));

    @include hover() {
      background-color: var(
        --oo-color-secondary-transparent-bg-25,
        var(--oo-color-transparent-bg-25)
      );
    }

    @include focus-visible() {
      outline-color: currentColor;
      box-shadow: 0px 0px 0px $outline-offset
        var(--oo-color-secondary-contrast-primary);
    }
  }
}
