.c-address-list {
  $c-address-list: &;

  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include media-breakpoint-up(lg) {
      gap: 2rem;
    }
  }

  &__content {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
    @include media-breakpoint-up(lg) {
      gap: 2rem;
      margin-bottom: 3rem;
    }
  }

  &__headline {
  }

  &__text {
  }

  &__wrapper {
    display: flex;
    gap: 2.5rem;
    @include media-breakpoint-up(lg) {
      gap: 5rem;
    }
  }

  &__nav {
  }

  &__count {
    font-size: 1.5rem;
    text-transform: uppercase;

    &.--no-addresses {
    }
  }

  &__addresses {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 0;

    @include media-breakpoint-up(lg) {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  &__slider {
  }

  &__buttons-wrapper {
  }

  &__buttons {
    padding-top: 1rem;
    @include media-breakpoint-up(lg) {
      padding-top: 1rem;
    }
  }

  &__shortcode {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 0;
    @include media-breakpoint-up(lg) {
      gap: 5rem;
    }
  }
}
