.c-flag {
  $c-flag: &;

  color: var(--oo-color-contrast-primary);
  background-color: var(--oo-color-primary);
  font-family: $font-family-button;
  font-weight: $font-weight-button;
  display: flex;
  padding: 0.5rem 1rem;
  line-height: $small-line-height;

  &.--property-status {
    .--bg-light & {
      background-color: var(--oo-color-light-primary, var(--oo-color-primary));
      color: var(
        --oo-color-light-contrast-primary,
        var(--oo-color-contrast-primary)
      );
    }
    .--bg-dark & {
      background-color: var(--oo-color-dark-primary, var(--oo-color-dark-bg));
      color: var(--oo-color-dark-contrast-primary);
    }

    .--bg-primary & {
      color: var(--oo-color-primary-contrast-primary);
      background-color: var(
        --oo-color-primary-primary,
        var(--oo-color-primary)
      );
    }

    .--bg-secondary & {
      color: var(--oo-color-secondary-contrast-primary);
      background-color: var(
        --oo-color-secondary-primary,
        var(--oo-color-primary)
      );
    }
  }
}
