.c-link {
  $c-link: &;

  color: var(--oo-color-primary);
  text-decoration: underline transparent;
  transition: color 0.25s ease-in-out, text-decoration 0.25s ease-in-out;

  @include visited() {
    text-decoration-color: transparent;
  }

  @include hover-focus-active() {
    text-decoration-color: currentColor;
  }

  &.--underlined {
    text-decoration: underline currentColor;
    text-underline-offset: $link-underline-offset;

    @include visited() {
      text-decoration-color: currentColor;
    }

    @include hover-focus-active() {
      text-decoration-color: transparent;
      color: var(--oo-color-primary);
    }
  }

  &.--on-bg-light {
    color: var(--oo-color-light-primary, var(--oo-color-primary));
  }

  &.--on-bg-dark {
    color: var(--oo-color-dark-primary, var(--oo-color-primary));
  }

  &.--on-bg-primary {
    color: var(--oo-color-primary-primary, var(--oo-color-primary));
  }

  &.--on-bg-secondary {
    color: var(--oo-color-secondary-primary, var(--oo-color-primary));
  }

  &.--on-bg-header {
    @include media-breakpoint-down(xxl) {
      &:first-of-type {
        padding-left: 0;
      }
      padding: 0.5rem;
    }
    color: var(--oo-color-header-mix-text-contrast-20);

    @include hover-focus-active() {
      color: var(--oo-color-header-primary, var(--oo-color-primary));
    }
  }

  &.--on-bg-footer {
    color: var(--oo-color-footer-primary, var(--oo-color-primary));
  }

  &.--on-bg-transparent {
    color: var(--oo-color-primary);
  }

  &.--text-color {
    color: currentColor;
    &.--underlined {
      color: currentColor;
    }
  }

  &.--text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
  }

  &.--show-more {
    display: inline-block;
    margin-top: 1rem;
  }
}
