.c-media {
  $c-media: &;

  &.--is-content-width {
  }
  &.--is-full-width {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include media-breakpoint-up(lg) {
      gap: 2rem;
    }
  }

  &__container {
  }

  &__container-fluid {
    padding: 0;
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;

    @include media-breakpoint-up(lg) {
      gap: 2rem;
    }
  }

  &__headline {
  }

  &__text {
  }

  &__picture {
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    border-radius: $border-radius;

    .--is-full-width & {
      max-height: 70vh;
    }
  }

  &__placeholder {
    aspect-ratio: 16 / 9;
    border-radius: $border-radius;
    max-height: 70vh;
  }

  &__video {
  }

  &__thumbnail-wrapper {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .--is-content-width & {
      border-radius: $border-radius;
    }

    @include hover-focus-active {
      #{$c-media}__thumbnail-image {
        transform: scale(1.05);
      }
    }
  }

  &__thumbnail-picture {
  }

  &__thumbnail-image {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    transition: transform 0.25s ease-in-out;

    .--is-full-width & {
      max-height: 70vh;
    }
  }

  &__play {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__iframe {
    border: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    display: none;

    .--is-full-width & {
      max-height: 70vh;
    }

    .--has-no-thumbnail & {
      display: block;
    }
  }

  &__buttons {
  }
}
