.c-flag {
  $c-flag: &;

  color: var(--oo-color-contrast-primary);
  background-color: var(--oo-color-primary);
  font-family: $font-family-button;
  font-weight: $font-weight-button;
  display: flex;
  padding: 0.5rem 1rem;
  line-height: $small-line-height;

  &.--property-status {
    color: var(--oo-color-contrast-primary);
    background-color: var(--oo-color-primary);
  }
}
