.c-popup {
  $c-popup: &;

  position: fixed;
  inset: 0;
  z-index: 50001;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;

  &.--is-open {
    opacity: 1;
    visibility: visible;
  }

  &__overlay {
    position: fixed;
    inset: 0;
    cursor: pointer;
    background: var(--oo-color-transparent-shadow-80);
  }

  &__wrapper {
    max-width: calc(100vw - 2rem);
    max-height: calc(100dvh - 2rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--oo-color-bg);
    box-shadow: 0 0 5px var(--oo-color-transparent-shadow-15);
    position: relative;
    z-index: 1003;
    border-radius: $border-radius;

    @include media-breakpoint-up(lg) {
      max-width: 50vw;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.5rem 0.5rem 0 1rem;
  }

  &__title {
    @include font-size($mobile-h4-font-size, $mobile-h4-line-height);
    font-weight: $font-weight-headline;

    @include media-breakpoint-up(xl) {
      @include font-size($desktop-h4-font-size, $desktop-h4-line-height);
    }
  }

  &__close {
    flex-shrink: 0;
  }

  &__content {
    padding: 0 1rem 2rem;
    overflow-y: auto;
  }

  &.--is-share {
    #{$c-popup}__wrapper {
      @include media-breakpoint-up(lg) {
        min-width: 600px;
      }
    }
    #{$c-popup}__content {
      overflow: visible;
    }
  }

  &.--is-widget {
    #{$c-popup} {
      &__close {
        position: absolute;
        right: 2px;
        top: 2px;
        z-index: 10;
      }

      &__row {
        margin: 0;
        height: 100%;
      }

      &__wrapper {
        border: none;
        box-shadow: 0 0 5px var(--oo-color-transparent-shadow-15);
        overflow-y: auto;

        @include media-breakpoint-up(lg) {
          overflow: hidden;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem;

        @include media-breakpoint-up(lg) {
          height: 100%;
          max-height: calc(100dvh - 2rem);
          padding-top: 3.5rem;
        }
      }

      &__text {
        word-wrap: break-word;
      }

      &__picture {
        aspect-ratio: 4 / 3;
        width: 100%;
        height: max-content;
        padding: 2px;

        @include media-breakpoint-up(lg) {
          height: 100%;
        }
      }

      &__headline {
        max-width: calc(100% - 2rem);

        @include media-breakpoint-up(lg) {
          max-width: 100%;
        }
      }

      &__buttons {
        margin-top: auto;
      }
    }

    // Image Helper
    &.--has-image {
    }

    // Background Colors
    &.--bg-transparent {
      #{$c-popup} {
        &__wrapper {
          background-color: var(--oo-color-bg);
        }
      }
    }

    &.--bg-light {
      #{$c-popup} {
        &__wrapper {
          background-color: var(--oo-color-light-bg);
        }
      }
    }

    &.--bg-dark {
      #{$c-popup} {
        &__wrapper {
          background-color: var(--oo-color-dark-bg);
        }
      }
    }

    &.--bg-primary {
      #{$c-popup} {
        &__wrapper {
          background-color: var(--oo-color-primary-bg);
        }
      }
    }

    &.--bg-secondary {
      #{$c-popup} {
        &__wrapper {
          background-color: var(--oo-color-secondary-bg);
        }
      }
    }
  }

  &.--is-fullscreen {
    #{$c-popup}__wrapper {
      @include media-breakpoint-up(lg) {
        max-width: 95%;
      }
    }

    &:not(.--has-image) {
      #{$c-popup}__wrapper {
        @include media-breakpoint-up(lg) {
          max-width: 1024px;
        }
      }
    }
  }

  &.--is-sticky {
    z-index: 50000;

    @include media-breakpoint-up(lg) {
      left: auto;
      top: auto;

      right: 0;
      bottom: 0;
    }

    &:not(.--has-image) {
      #{$c-popup}__headline {
        max-width: calc(100% - 2.25rem);
      }
    }

    #{$c-popup} {
      &__overlay {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }

      &__wrapper {
        max-width: 400px;
        overflow-y: auto;
      }

      &__content {
        padding: 1.5rem 1rem;
        max-height: max-content;
        overflow: visible;
      }
    }
  }
}
