.c-read-more {
  $c-read-more: &;

  &__text {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0.5rem 0;
    color: var(--oo-color-primary);
    background: transparent;
    border: 2px solid transparent;
    text-decoration: underline currentColor;
    transition: text-decoration 0.25s ease-in-out;
    cursor: pointer;

    @include visited() {
      text-decoration: underline currentColor;
    }

    @include hover-focus-active() {
      text-decoration-color: transparent;
    }

    .--bg-light & {
      color: var(--oo-color-light-primary, var(--oo-color-primary));
    }
    .--bg-dark & {
      color: var(--oo-color-dark-primary, var(--oo-color-primary));
    }
    .--bg-primary & {
      color: var(--oo-color-primary-primary, var(--oo-color-primary));
    }
    .--bg-secondary & {
      color: var(--oo-color-secondary-primary, var(--oo-color-primary));
    }
    .--bg-transparent & {
      color: var(--oo-color-primary);
    }

    &.--more {
      display: block;
      .--is-open & {
        display: none;
      }
    }
    &.--less {
      display: none;
      .--is-open & {
        display: block;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;

    &.--more {
      display: flex;
      .--is-open & {
        display: none;
      }
    }
    &.--less {
      display: none;
      .--is-open & {
        display: flex;
      }
    }
  }

  &.--text-align-center {
    text-align: center;
  }
}
