.c-accordion-card {
  $c-accordion-card: &;
  $icon-wrapper-size: 2.5rem;

  display: flex;
  flex-direction: column;
  padding: 1.5rem;

  &__icon-wrapper {
    display: grid;
  }

  &__title {
    display: grid;
    grid-template-columns: auto $icon-wrapper-size;
    gap: 1rem;
    cursor: pointer;
    margin: 0;
    padding: 0;
    outline: $outline;
    outline-offset: $outline-offset;
    color: var(--oo-color-headline);
    @include visited-active() {
      #{$c-accordion-card}__headline,
      #{$c-accordion-card}__icon {
        color: var(--oo-color-primary);
      }
    }

    @include hover-focus() {
      #{$c-accordion-card}__headline,
      #{$c-accordion-card}__icon {
        color: var(--oo-color-primary);
      }
    }

    @include focus-visible() {
      outline-color: var(--oo-color-primary);
    }
    .--bg-light & {
      color: var(--oo-color-light-headline, var(--oo-color-headline));
    }

    .--bg-dark & {
      color: var(--oo-color-dark-headline, var(--oo-color-headline));
    }

    .--bg-primary & {
      color: var(--oo-color-primary-headline, var(--oo-color-headline));
    }

    .--bg-secondary & {
      color: var(--oo-color-secondary-headline, var(--oo-color-headline));
    }
  }

  &__icon {
    display: inherit;
    height: 2.5rem;
    transition: transform 0.25s ease-in-out;
    transform: rotate(90deg);
    color: var(--oo-color-headline);
    .--bg-light & {
      color: var(--oo-color-light-headline, var(--oo-color-headline));
    }

    .--bg-dark & {
      color: var(--oo-color-dark-headline, var(--oo-color-headline));
    }

    .--bg-primary & {
      color: var(--oo-color-primary-headline, var(--oo-color-headline));
    }

    .--bg-secondary & {
      color: var(--oo-color-secondary-headline, var(--oo-color-headline));
    }
    [open] & {
      transform: rotate(270deg);

      .--open {
        display: none;
      }
    }
  }

  &__icon-wrapper {
    .--open {
      display: none;
    }
    .--close {
      display: inline;
    }
  }

  &__content {
    margin-top: 2.5rem;
    transition: max-height 0.25s ease-in-out;
    .--is-open & {
      max-height: 100rem;
    }
  }

  background-color: var(--oo-color-mix-bg-contrast-05);

  .--bg-light & {
    background-color: var(
      --oo-color-light-mix-bg-contrast-05,
      var(--oo-color-mix-bg-contrast-05)
    );
    #{$c-accordion-card}__title,
    #{$c-accordion-card}__icon {
      @include visited-active() {
        #{$c-accordion-card}__headline,
        #{$c-accordion-card}__icon {
          color: var(--oo-color-light-primary, var(--oo-color-primary));
        }
      }
      @include hover-focus() {
        #{$c-accordion-card}__headline,
        #{$c-accordion-card}__icon {
          color: var(--oo-color-light-primary, var(--oo-color-primary));
        }
      }
      @include focus-visible() {
        outline-color: var(--oo-color-light-primary, var(--oo-color-primary));
      }
    }
  }

  .--bg-dark & {
    background-color: var(
      --oo-color-dark-mix-bg-contrast-05,
      var(--oo-color-mix-bg-contrast-05)
    );
    #{$c-accordion-card}__title,
    #{$c-accordion-card}__icon {
      @include visited-active() {
        #{$c-accordion-card}__headline,
        #{$c-accordion-card}__icon {
          color: var(--oo-color-dark-primary, var(--oo-color-primary));
        }
      }
      @include hover-focus() {
        #{$c-accordion-card}__headline,
        #{$c-accordion-card}__icon {
          color: var(--oo-color-dark-primary, var(--oo-color-primary));
        }
      }
      @include focus-visible() {
        outline-color: var(--oo-color-dark-primary, var(--oo-color-primary));
      }
    }
  }
  .--bg-primary & {
    background-color: var(
      --oo-color-primary-mix-bg-contrast-05,
      var(--oo-color-mix-bg-contrast-05)
    );
    #{$c-accordion-card}__title,
    #{$c-accordion-card}__icon {
      @include visited-active() {
        #{$c-accordion-card}__headline,
        #{$c-accordion-card}__icon {
          color: var(--oo-color-primary-primary, var(--oo-color-primary));
        }
      }
      @include hover-focus() {
        #{$c-accordion-card}__headline,
        #{$c-accordion-card}__icon {
          color: var(--oo-color-primary-primary, var(--oo-color-primary));
        }
      }
      @include focus-visible() {
        outline-color: var(--oo-color-primary-primary, var(--oo-color-primary));
      }
    }
  }
  .--bg-secondary & {
    #{$c-accordion-card}__title,
    #{$c-accordion-card}__icon {
      @include visited-active() {
        #{$c-accordion-card}__headline,
        #{$c-accordion-card}__icon {
          color: var(--oo-color-secondary-primary, var(--oo-color-primary));
        }
      }
      @include hover-focus() {
        #{$c-accordion-card}__headline,
        #{$c-accordion-card}__icon {
          color: var(--oo-color-secondary-primary, var(--oo-color-primary));
        }
      }
      @include focus-visible() {
        outline-color: var(
          --oo-color-secondary-primary,
          var(--oo-color-primary)
        );
      }
    }
  }
}
