.c-link-boxes-card {
  $c-link-boxes-card: &;

  display: flex;
  flex-direction: column;
  color: var(--oo-color-text);

  &:not(.--on-slider) {
    margin-right: -1rem;
    margin-left: -1rem;

    @include media-breakpoint-up(md) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__wrapper,
  &__link {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
    height: 6.5rem;

    &.--has-image {
    }
    &.--has-icon {
      align-items: center;
      justify-content: left;
      padding: 1.5rem 1.5rem 0;
    }

    &.--has-svg {
      justify-content: left;
      padding: 1.5rem 1.5rem 0;
    }
  }

  &__svg {
    height: 100%;
    width: 100%;
  }

  &__link {
    outline: $outline;
    outline-offset: $outline-offset;
    box-shadow: 0px 0px 0px $outline-offset transparent;
    transition: outline-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

    @include focus-visible() {
      outline-color: var(--oo-color-primary);
      box-shadow: 0px 0px 0px $outline-offset var(--oo-color-contrast-primary);
    }
  }

  &__picture {
    .--has-icon & {
      width: auto;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    .--has-icon & {
      object-fit: contain;
      object-position: left;
      width: min-content;
    }
  }

  &__icon {
    color: var(--oo-color-primary);
    height: 100%;
  }

  &__content {
    width: 100%;
    padding: 1.5rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 1.5rem;

    @include media-breakpoint-up(xl) {
      padding: 2.5rem 1.5rem 1.5rem;
    }
  }

  &__title {
    hyphens: auto;
  }

  &__text {
    flex-grow: 1;
    margin-bottom: 1rem;
  }

  &__button {
    @include media-breakpoint-up(xl) {
      width: fit-content;
    }
  }

  .--bg-transparent & {
    background-color: var(--oo-color-mix-bg-contrast-05);
    &__svg {
      color: var(--oo-color-text);
    }
  }

  .--bg-light & {
    background-color: var(--oo-color-light-mix-bg-contrast-05);
    &__svg {
      color: var(--oo-color-light-text);
    }
  }
  .--bg-dark & {
    background-color: var(--oo-color-dark-mix-bg-contrast-05);
    &__svg {
      color: var(--oo-color-dark-text);
    }
  }
  .--bg-primary & {
    background-color: var(--oo-color-primary-mix-bg-contrast-05);

    &__svg {
      color: var(--oo-color-primary-text);
    }
  }
  .--bg-secondary & {
    background-color: var(--oo-color-secondary-mix-bg-contrast-05);
    &__svg {
      color: var(--oo-color-secondary-text);
    }
  }
}
