.c-module-links {
  $c-module-links: &;

  &__headline {
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__item {
  }

  &__link {
    .--is-header & {
      padding: 0.5rem 0.75rem;
      @include media-breakpoint-up(xxl) {
        display: inline;
        padding: 0;
      }
    }
  }

  &.--is-header {
    display: inline-flex;
    gap: 0;
    width: auto;
    padding: 0;

    @include media-breakpoint-up(xxl) {
      gap: 1.5rem;
    }
  }
  &.--is-footer {
  }
}
