.c-property-card {
  $c-property-card: &;

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  &__inner-wrapper {
  }

  &__inner {
    position: relative;
    overflow: hidden;

    .--bg-transparent & {
      background-color: var(--oo-color-transparent-primary-10);
    }

    .--bg-light & {
      background-color: var(--oo-color-light-transparent-primary-10);
    }
    .--bg-dark & {
      background-color: var(--oo-color-dark-transparent-primary-10);
    }
    .--bg-primary & {
      background-color: var(--oo-color-primary-transparent-primary-10);
    }
    .--bg-secondary & {
      background-color: var(--oo-color-secondary-transparent-primary-10);
    }
  }

  &__picture {
    aspect-ratio: 3 / 2;

    &-wrapper {
      cursor: default;
      pointer-events: none;
      @include media-breakpoint-up(lg) {
        cursor: pointer;
        pointer-events: auto;
      }
      @include focus-visible() {
        outline: $outline !important;
        outline-offset: -4px !important;
        outline-color: var(--oo-color-primary) !important;
      }
    }
  }

  &__image {
  }

  &__status {
  }

  &__favorite {
    &.c-icon-button {
      width: $icon-size;
      height: $icon-size;

      .c-icon-button__icon {
        width: $icon-size-small;
        height: $icon-size-small;
        &.--filled {
          fill: var(--oo-color-contrast-primary);
        }
      }
    }
  }

  &__button {
    grid-column: -2;
    align-self: end;
    align-content: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;

    @include media-breakpoint-up(lg) {
      height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;

    @include media-breakpoint-up(lg) {
      padding: 1.5rem;
    }
  }

  &__main-content-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: fit-content;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    hyphens: manual;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      min-height: 5rem;
    }

    &.o-headline {
      @include font-size($mobile-h5-font-size, $mobile-h5-line-height);

      @include media-breakpoint-up(lg) {
        @include font-size($desktop-h3-font-size, $desktop-h3-line-height);
      }
    }
  }

  &__top {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  &__price {
    display: flex;

    flex-direction: column;
    text-align: right;

    &-value {
      font-weight: 600;
      font-size: 1.125rem;

      &.--blurry {
        filter: blur(8px);
        -webkit-filter: blur(8px);
        pointer-events: none;
        user-select: none;
        position: relative;
        z-index: 1;
      }
    }

    &-label {
      font-size: 0.875rem;
    }
  }

  &__location {
    display: flex;

    flex-direction: column;

    &-label {
      font-weight: 600;
      font-size: 1.125rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    &-value {
      font-size: 0.875rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }

  .--bg-transparent & {
    background-color: var(
      --oo-color-mix-bg-contrast-10,
      var(--oo-color-primary)
    );
  }

  .--bg-light & {
    background-color: var(
      --oo-color-light-mix-bg-contrast-10,
      var(--oo-color-primary)
    );
  }
  .--bg-dark & {
    background-color: var(
      --oo-color-dark-mix-bg-contrast-10,
      var(--oo-color-primary)
    );
  }
  .--bg-primary & {
    background-color: var(
      --oo-color-primary-mix-primary-contrast-10,
      var(--oo-color-primary)
    );
  }
  .--bg-secondary & {
    background-color: var(
      --oo-color-secondary-mix-bg-contrast-10,
      var(---oo-color-primary)
    );
  }
}
