.c-module-login {
  $c-module-login: &;

  &__list {
    display: flex;
    line-height: 1.5rem;
    align-items: center;
    gap: 0.5rem;
    outline: $outline;
    outline-offset: $outline-offset;
    color: var(--oo-color-header-text, var(--oo-color-text));
    @include media-breakpoint-up(xxl) {
      align-items: baseline;
      display: inline-flex;

      .--left &:not(:last-of-type) {
        margin-right: 1.5rem;
      }
      .--right & {
        margin-left: 1.5rem;
      }
    }

    @include focus-visible() {
      #{$c-module-login}__link {
        outline-color: var(--oo-color-header-primary, var(--oo-color-primary));
        text-decoration-color: transparent;
        color: var(--oo-color-header-primary, var(--oo-color-primary));
      }
    }
  }

  &__label {
    width: 1rem;
    height: 1rem;
    align-self: center;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &__value {
    hyphens: auto;
    line-height: 1.5rem;
  }

  &__link {
    cursor: pointer;
    outline: $outline;
    outline-offset: $outline-offset;
    border-radius: $outline-border-radius;
  }
}
