@mixin footer-gradient($direction) {
  background: linear-gradient(
    $direction,
    var(--oo-color-footer-bg, var(--oo-color-bg)) 0% 33.33%,
    var(--oo-color-footer-mix-bg-contrast-10, var(--oo-color-bg)) 33.33% 100%
  );
}

.c-footer {
  $c-footer: &;

  box-shadow: 2px 2px 10px var(--oo-color-transparent-shadow-15);

  &__top {
    position: relative;
    @include footer-gradient(to bottom);
    color: var(--oo-color-footer-text, var(--oo-color-text));
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;

    @include media-breakpoint-up(lg) {
      @include footer-gradient(to right);
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      left: 50%;
      width: min(100%, 1476px);
      transform: translateX(-50%);
      @include footer-gradient(to bottom);
      @include media-breakpoint-up(lg) {
        @include footer-gradient(to right);
      }
      z-index: 0;
    }

    &-container {
      display: flex;
      flex-direction: column;
      gap: 3.75rem 0;
    }

    &-row {
      gap: 3.75rem 0;
    }

    &-column {
      display: flex;
      flex-direction: column;
      gap: 3.75rem 0;
      &.--is-empty {
        display: none;
        @include media-breakpoint-up(xl) {
          display: flex;
        }
      }
      &.--left {
        @include media-breakpoint-up(lg) {
          padding-right: 2rem;
        }
      }
      &.--middle {
        @include media-breakpoint-up(lg) {
          padding-left: 2rem;
        }
      }
      &.--right {
      }
    }
  }

  &__bottom {
    color: var(--oo-color-footer-text-bottom, var(--oo-color-text));
    background-color: var(--oo-color-footer-bg-bottom);
    padding: 1rem 0 0.5rem 0;

    @include media-breakpoint-up(lg) {
      gap: 0;
      padding: 0.5rem 0;
    }

    * {
      font-size: $small-font-size;
      line-height: $small-line-height;
    }

    &-row {
      align-items: center;
      gap: 1rem 0;

      @include media-breakpoint-up(lg) {
        gap: 0;
      }
    }

    &-column {
      &.--left {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @include media-breakpoint-up(xl) {
          flex-direction: row;
          gap: 1.5rem;
        }
      }

      &.--right {
        display: flex;
        justify-content: center;

        @include media-breakpoint-up(lg) {
          justify-content: flex-end;
        }
      }
    }

    &-copyright {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.25rem;
      width: 100%;

      @include media-breakpoint-up(lg) {
        justify-content: flex-start;
        width: auto;
      }
    }

    .onoffice-link {
      display: flex;

      @include plain-visited-hover-focus-active() {
        color: var(--oo-color-footer-text, var(--oo-color-text));
        outline: $outline;
        outline-offset: $outline-offset;
        transition: color 0.25s ease-in-out, outline-color 0.25s ease-in-out;
      }

      @include focus-visible() {
        outline-color: currentColor;
      }
    }

    .onoffice-logo {
      display: flex;
      align-items: center;
      color: currentColor;

      &__svg {
        height: 2.25rem;
      }
    }

    &-text {
    }
  }

  // iFrames Overlap
  .--is-iframe-service-immobilienwertanalyse & {
    padding-bottom: 4rem;
  }
}
