.c-customer-area {
  $customer-area: &;

  &.--logged-in {
    #{$customer-area}__content,
    #{$customer-area}__buttons {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    @include media-breakpoint-up(lg) {
      gap: 5rem;
    }
  }

  &__content {
    gap: 1.5rem;
    @include media-breakpoint-up(lg) {
      gap: 2rem;
    }
  }

  &__headline {
  }

  &__text {
  }

  &.--logged-in {
    #{$customer-area}__content,
    #{$customer-area}__buttons {
      display: none;
    }
  }
}
