.c-header {
  $c-header: &;

  width: 100%;
  z-index: 999;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  max-height: 100dvh;
  transition: all 0.25s;
  display: flex;
  flex-direction: column;
  background-color: var(--oo-color-header-bg, var(--oo-color-bg));

  &.--logo-transparent {
    background-color: var(--oo-color-header-transparent-bg-80);
    position: fixed;
    top: auto;

    &.--main-nav-open {
      background-color: var(--oo-color-header-bg, var(--oo-color-bg));
    }
  }

  &__container {
    padding: 0;
    overflow: unset;

    @include media-breakpoint-down(xl) {
      max-width: unset;
    }

    @include media-breakpoint-up(xxl) {
      display: flex;
      align-items: center;
      gap: 3.75rem;
      padding: 1rem;
      &.--has-no-meta {
      }
    }
  }

  // main
  &__main-wrapper {
    z-index: 1000;
    padding: 1rem 0;
    position: relative;
    @include media-breakpoint-up(xxl) {
      padding-block: 0;
      order: 2;
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--oo-color-header-text, var(--oo-color-text));
    }

    .--main-nav-open &::after {
      content: ' ';
      position: absolute;
      left: 0;
      height: 2px;
      bottom: 0;
      z-index: 9999;
      width: 100%;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
    @include media-breakpoint-up(xxl) {
      padding: 0;
    }
  }

  // wrapper
  &__wrapper {
    flex-direction: column;
    height: 100dvh;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    height: 0;
    opacity: 0;
    transform: translateY(-100%);
    @include media-breakpoint-up(xxl) {
      display: contents;
    }
    .--main-nav-open & {
      display: flex;
      opacity: 1;
      height: auto;
      transform: translateY(0);

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  // nav
  &__nav-wrapper {
    display: flex;
    width: 100%;
    flex: 1;
    padding: 2rem 1rem;
    transition: 0.25s;

    @include media-breakpoint-up(xxl) {
      order: 3;
      padding: 0;
      padding: 0;
      justify-content: flex-end;
    }
  }
  &__nav {
  }

  // meta
  &__meta-wrapper {
    color: var(--oo-color-header-text, var(--oo-color-text));
    position: relative;
    display: flex;
    width: 100%;
    padding: 0;
    margin-top: auto;
    background-color: var(
      --oo-color-header-mix-bg-contrast-05,
      var(--oo-color-header-bg)
    );
    transition: 0.25s;
    z-index: 9991;
    order: 2;
    display: none;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--oo-color-header-text, var(--oo-color-text));
    }

    .--main-nav-open & {
      display: flex;
    }

    &.--hide-mobile {
      display: none;
      @include media-breakpoint-up(xxl) {
        display: flex;
      }
    }

    &.--hide-desktop {
      display: flex;
      @include media-breakpoint-up(xxl) {
        display: none;
      }
    }

    @include media-breakpoint-up(xxl) {
      padding: 0.5rem 0;
      order: unset;
      margin: 0;
      display: flex;
    }

    * {
      font-size: $global-font-size;
      line-height: $global-line-height;

      @include media-breakpoint-up(xxl) {
        font-size: $small-font-size;
        line-height: $small-line-height;
      }
    }

    &.--collapsed {
      height: 0;
      opacity: 0;
      padding: 0;
      visibility: hidden;
      overflow: hidden;
    }

    @include media-breakpoint-up(xxl) {
      background-color: var(--oo-color-header-bg, var(--oo-color-bg));
    }
  }
  &__meta {
    padding: 2rem 1rem;

    @include media-breakpoint-down(xl) {
      max-width: unset;
    }

    @include media-breakpoint-up(xxl) {
      padding: 0;
    }
  }
  &__meta-row {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include media-breakpoint-up(xxl) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__meta-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;

    @include media-breakpoint-up(xxl) {
      gap: 0.5rem;
      flex-direction: unset;
      align-items: center;
      display: inline;
    }

    &.--left {
      @include media-breakpoint-up(xxl) {
        flex-basis: 50%;
      }
    }

    &.--right {
      @include media-breakpoint-up(xxl) {
        flex-basis: 50%;
        text-align: right;
        margin-left: auto;

        .c-modules__item {
          margin-right: 0;
          margin-left: 1.5rem;
        }
      }
    }
  }

  &.--fixed {
    z-index: 9999;
    background-color: var(--oo-color-header-bg, var(--oo-color-bg));
    margin-top: 0;

    #{$c-header}__nav-wrapper {
      margin-top: 0;
    }
  }

  &.--main-nav-open {
    overflow: hidden scroll;
    max-height: 100dvh;

    #{$c-header}__main-wrapper {
      position: sticky;
      top: 0;
      z-index: 1000;
      background-color: var(--oo-color-header-bg, var(--oo-color-bg));
    }
  }

  &.--logo-white {
    @include media-breakpoint-up(xxl) {
      position: sticky;
      top: 0;
    }
  }
}

@keyframes slideDown {
  0% {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
