.c-module-image {
  $c-module-image: &;

  &__headline {
  }

  &__link {
  }

  &__picture {
  }

  &__image {
    width: 100%;
    @include media-breakpoint-up(xl) {
      width: 80%;
    }
  }

  &.--is-header {
  }
  .--is-footer & {
    &__placeholder {
      aspect-ratio: 16 / 9;
    }
  }
}
