.c-reviews {
  $c-reviews: &;
  overflow-x: hidden;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0 1rem 0.5rem 1rem;
    @include media-breakpoint-up(sm) {
      padding-left: 0;
      padding-right: 0;
    }
    @include media-breakpoint-up(xl) {
      padding-block: 0 3rem;
    }

    &.--is-google-reviews {
      justify-content: center;
      text-align: left;
    }
  }

  &__headline {
  }

  &__text {
  }

  &__reviews {
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: 1fr;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__col {
    .--is-google-reviews & {
      &.--is-grid {
        display: grid;
        gap: 2rem;

        @include media-breakpoint-up(md) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(xl) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }

  &__pagination {
  }

  &__buttons {
  }
  &__col {
    .--is-google-reviews & {
      display: flex;
      flex-direction: column;
      gap: 3rem 0;
    }
  }
}
