.c-media {
  $c-media: &;

  &.--is-content-width {
  }
  &.--is-full-width {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include media-breakpoint-up(lg) {
      gap: 2rem;
    }
  }

  &__container {
  }

  &__container-fluid {
    padding: 0;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;

    @include media-breakpoint-up(lg) {
      gap: 2rem;
    }
  }

  &__headline {
  }

  &__text {
  }

  &__picture {
    @include media-breakpoint-up(lg) {
      #{$c-media}__headline + &,
      #{$c-media}__text + &,
      #{$c-media}__headline ~ &,
      #{$c-media}__text ~ & {
        padding-top: 3rem;
      }
    }
  }

  &__image {
    width: 100%;
    height: auto;

    .--is-full-width & {
      max-height: 70vh;
    }
  }

  &__placeholder {
    aspect-ratio: 16 / 9;
    max-height: 70vh;
  }

  &__video {
    @include media-breakpoint-up(lg) {
      #{$c-media}__headline + &,
      #{$c-media}__text + &,
      #{$c-media}__headline ~ &,
      #{$c-media}__text ~ & {
        padding-top: 3rem;
      }
    }
  }

  &__thumbnail-wrapper {
    position: relative;
    cursor: pointer;

    .--is-content-width & {
    }

    @include hover-focus-active {
      #{$c-media}__thumbnail-image {
        transform: scale(1.05);
      }
    }
  }

  &__thumbnail-picture {
    overflow: hidden;

    .--is-content-width & {
    }
  }

  &__thumbnail-image {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    transition: transform 0.25s ease-in-out;

    .--is-full-width & {
      max-height: 70vh;
    }
  }

  &__play {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__iframe {
    border: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    display: none;

    .--is-full-width & {
      max-height: 70vh;
    }

    .--has-no-thumbnail & {
      display: block;
    }
  }

  &__buttons {
  }
}
