.c-price-calculator {
  $c-price-calculator: &;

  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;

  @include media-breakpoint-up(lg) {
    gap: 5rem;
  }


  &__overview {
    width: 100%;
    display: grid;
    gap: 0.5rem;


    @include media-breakpoint-up(md) {
      order: 1;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    line-height: $small-line-height;
    gap: 0.5rem;

    &.--is-total-cost {
      font-weight: $font-weight-text-bold;
      margin-top: .5rem;
    }
  }

  &__color-indicator {
    display: inline-block;
    width: $icon-size-small;
    height: $icon-size-small;
    padding-right: 1.25rem;
  }

  &__criteria {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;

    @include media-breakpoint-up(lg) {
      gap: 5rem;
    }
    @include media-breakpoint-up(xl) {
      gap: 10rem;
    }

  }

  &__value {
    font-weight: $font-weight-text-bold;
  }

  &__chart {
    grid-column: 1/ -1;
    justify-self: center;
    align-self: start;

    @include media-breakpoint-up(md) {
      grid-column: auto;
      order: 2;
    }
  }

  &__notice {
    font-size: $small-font-size;
    margin-top: 2.5rem;
  }

  $colors: (
    0: --oo-color-primary,
    1: --oo-color-primary-complementary,
    2: --oo-color-secondary,
    3: --oo-color-secondary-complementary,
    4: --oo-color-mix-primary-contrast-50,
  );
  @each $index, $color in $colors {
    .oo-donut-chart-color#{$index} {
      fill: var(#{$color});
      background-color: var(#{$color});
      stroke: #fff;
      stroke-width: 4px;
    }
  }
}
