.c-header {
  $c-header: &;

  width: 100%;
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  max-height: 100dvh;
  overflow: hidden;
  transition: all 0.5s;

  @include media-breakpoint-up(xxl) {
    overflow: unset;
  }

  // main
  &__main-wrapper {
    z-index: 1000;
    padding-block: 1rem;
    background-color: var(--oo-color-header-bg, var(--oo-color-bg));
    @include media-breakpoint-up(xxl) {
      padding-block: 0.5rem;
      order: 2;
    }

    .--logo-transparent & {
      background-color: var(--oo-color-header-transparent-bg-90);
    }
  }
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
    @include media-breakpoint-up(xxl) {
      justify-content: center;
    }
  }

  // wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    max-height: 0;
    height: 100dvh;
    overflow: hidden;
    transition: 0.25s;
    @include media-breakpoint-up(xxl) {
      display: contents;
    }
  }

  // nav
  &__nav-wrapper {
    display: flex;
    width: 100%;
    flex: 1;
    padding-block: 2rem;
    background-color: var(--oo-color-header-bg, var(--oo-color-bg));
    transition: 0.25s;

    @include media-breakpoint-up(xxl) {
      order: 3;
      padding-block: 0;
      margin-top: 0.125rem;
      background-color: var(--oo-color-header-transparent-bg-90);
    }
  }
  &__nav {
  }

  // meta
  &__meta-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0;
    margin-top: auto;
    background-color: var(--oo-color-header-primary, var(--oo-color-primary));
    color: var(--oo-color-header-contrast-primary);
    transition: 0.25s;

    @include media-breakpoint-up(xxl) {
      order: 1;
      padding: 0.25rem 0 0 0;
      margin: 0;
      background-color: var(--oo-color-header-bg, var(--oo-color-bg));
      color: var(--oo-color-header-text, var(--oo-color-text));
    }

    .--logo-transparent & {
      @include media-breakpoint-up(xxl) {
        background-color: var(--oo-color-header-transparent-bg-90);
      }
    }

    * {
      font-size: $small-font-size;
      line-height: $small-line-height;
    }
  }
  &__meta {
    padding-block: 2rem;
    @include media-breakpoint-up(xxl) {
      padding-block: 0;
    }
  }
  &__meta-row {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;

    @include media-breakpoint-up(xxl) {
      flex-direction: unset;
      gap: unset;
    }
  }
  &__meta-column {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;

    @include media-breakpoint-up(xxl) {
      flex-direction: unset;
      display: inline;
    }

    &.--left {
    }

    &.--right {
      @include media-breakpoint-up(xxl) {
        text-align: right;
        margin-left: auto;
      }
    }
  }

  &.--fixed {
    z-index: 9999;
    box-shadow: 0 1px 4px var(--oo-color-header-transparent-text-10);
    margin-top: 0;

    #{$c-header}__meta-wrapper {
      @include media-breakpoint-up(xxl) {
        background-color: var(--oo-color-header-bg, var(--oo-color-bg));
      }
    }

    #{$c-header}__main-wrapper {
      background-color: var(--oo-color-header-bg, var(--oo-color-bg));
    }

    #{$c-header}__nav-wrapper {
      margin-top: 0;
      @include media-breakpoint-up(xxl) {
        background-color: var(--oo-color-header-bg, var(--oo-color-bg));
      }
    }
  }

  &.--main-nav-open {
    #{$c-header}__main-wrapper {
      position: sticky;
      top: 0;
      z-index: 1000;
      background-color: var(--oo-color-header-bg, var(--oo-color-bg));
      box-shadow: 0px 1px 4px var(--oo-color-header-transparent-text-10);
    }

    #{$c-header}__wrapper {
      max-height: 100dvh;
      overflow-y: scroll;
    }
  }

  &.--logo-white {
    @include media-breakpoint-up(xxl) {
      position: sticky;
      top: 0;
    }

    #{$c-header}__nav-wrapper {
      @include media-breakpoint-up(xxl) {
        position: absolute;
        top: 100%;
      }
    }
  }
}

@keyframes slideDown {
  0% {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
