.c-link-boxes {
  $c-link-boxes: &;

  position: relative;

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: clip;
    inset: 0;
  }
  &__picture {
    position: sticky;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    inset: 0;
  }

  &__image {
  }

  &__container {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    flex-direction: column;
    gap: 1.5rem;
    @include media-breakpoint-up(xl) {
      gap: 3.75rem;
    }
  }

  &__content {
    gap: 1.5rem;
    @include media-breakpoint-up(xl) {
      gap: 2.625rem;
      display: flex;
      flex-direction: column;
    }
  }

  &__wrapper {
    margin-bottom: 1.25rem;
  }

  &__boxes {
    display: grid;
    gap: 2rem;
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__text {
  }

  &__buttons-wrapper {
  }

  &__buttons {
  }

  &.--has-bg-image {
    #{$c-link-boxes}__content {
      background-color: var(--oo-color-mix-bg-contrast-05);
      padding: 1.5rem;
      border: 2px solid var(--oo-color-bg);
    }

    #{$c-link-boxes}-card {
      border: 2px solid var(--oo-color-bg);
    }

    & .c-button {
      &.--ghost {
        @include plain-visited() {
          background-color: var(--oo-color-bg);
        }

        @include hover() {
          background-color: var(--oo-color-bg);
        }

        @include disabled() {
          background-color: var(--oo-color-bg);
        }
      }
    }
  }

  &.--bg-light {
    #{$c-link-boxes}__picture {
      &::after {
        background-color: var(--oo-color-light-transparent-bg-80);
      }
    }
  }

  &.--bg-dark {
    #{$c-link-boxes}__picture {
      &::after {
        background-color: var(--oo-color-dark-transparent-bg-80);
      }
    }
  }

  &.--bg-primary {
    #{$c-link-boxes}__picture {
      &::after {
        background-color: var(--oo-color-primary-transparent-bg-80);
      }
    }
  }

  &.--bg-secondary {
    #{$c-link-boxes}__picture {
      &::after {
        background-color: var(--oo-color-secondary-transparent-bg-80);
      }
    }
  }
}
