.c-info-messages {
  $info-messages: &;

  font-family: $font-family-text-bold;
  font-weight: $font-weight-text-bold;
  padding: 1rem;
  color: var(--oo-color-contrast-text);
  background-color: var(--oo-color-bg);
  border: 2px solid var(--oo-color-text);

  &.--is-success {
    color: var(--oo-color-contrast-success);
    background-color: var(--oo-color-success);
  }

  &.--is-warning {
    color: var(--oo-color-contrast-warning);
    background-color: var(--oo-color-warning);
  }

  &.--is-error {
    color: var(--oo-color-contrast-error);
    background-color: var(--oo-color-error);
  }
}
