.c-iframe-script {
  $c-iframe-script: &;

  &__headline {
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(xl) {
      margin-bottom: 2rem;
    }
  }

  &__text {
    margin-bottom: 2.5rem;
    @include media-breakpoint-up(xl) {
      margin-bottom: 5rem;
    }
  }

  &__iframe {
    width: 100%;
    border: none;
    aspect-ratio: 16 / 9;
    height: auto;

    &.--is-ogulo {
    }

    &.--is-onoffice {
    }

    &.--is-calendly {
    }

    &.--is-timum {
    }

    &.--is-matterport {
    }

    &.--is-flatfinder {
    }

    &.--is-sprengnetter {
      aspect-ratio: auto;
    }

    &.--is-iwa {
      aspect-ratio: auto;
    }

    &.--is-imag {
      aspect-ratio: auto;
    }

    &.--is-energieausweisformulare {
      aspect-ratio: auto;
      min-height: 1500px;
      @include media-breakpoint-up(sm) {
        min-height: 1300px;
      }
      @include media-breakpoint-up(md) {
        min-height: 1200px;
      }
      @include media-breakpoint-up(lg) {
        min-height: 950px;
      }
    }

    &.--is-bottimmo {
      aspect-ratio: auto;
    }

    &.--is-erblotse {
    }

    &.--is-fiba-immohyp-zinsinfo {
      min-height: 900px;

      @include media-breakpoint-up(xl) {
        min-height: 1000px;
      }
    }

    &.--is-heyflow {
    }

    &.--is-immosparrow {
      aspect-ratio: auto;
    }

    &.--is-vcita {
    }

    &.--is-maklaro {
      aspect-ratio: auto;
    }

    &.--is-avvocato-andreani {
      min-height: 650px;
    }

    &.--is-prohyp {
      height: 100dvh;
    }

    &.--is-pricehubble {
      iframe#fisher-widget,
      iframe#fisher-widget-v2 {
        width: 100%;
        border: none;
      }
    }

    &.--is-trustlocal {
      aspect-ratio: unset;
    }

    &.--is-justhome {
      min-height: 1100px;

      @include media-breakpoint-up(md) {
        min-height: 900px;
      }
      @include media-breakpoint-up(xl) {
        min-height: 1000px;
      }
    }

    &.--is-baufipasst {
      display: flex;
      justify-content: center;
      aspect-ratio: auto;
    }

    &.--is-eTracker {
      padding: 0;
      justify-self: center;
      aspect-ratio: auto;
    }

    &.--is-dr-klein {
      min-height: 2000px;

      @include media-breakpoint-up(md) {
        min-height: 1500px;
      }

      @include media-breakpoint-up(lg) {
        min-height: 1250px;
      }
    }

    &.--is-immonewsfeed {
      aspect-ratio: unset;
      height: revert-layer;
      min-height: 630px;
    }

    &.--is-eTracker {
      padding: 0;
      justify-self: center;
      aspect-ratio: auto;
    }

    &.--is-areabutler {
      min-height: 400px;
    }

    &.--is-stmate {
      aspect-ratio: unset;

      iframe {
        width: 100%;
        height: 100%;
        min-height: 700px;
      }
    }

    &.--is-hype {
      aspect-ratio: unset;
    }

    &.--is-leadmarkt {
    }

    &.--is-provenexpert {
      aspect-ratio: unset;
    }

    &.--is-itrk {
    }

    &.--is-ivd {
      min-height: 900px;
    }

    &.--is-energieausweis-vorschau {
    }

    &.--is-hausverkauf-energieausweis {
    }

    &.--is-finlink {
      min-height: 900px;

      @include media-breakpoint-up(xl) {
        min-height: 1000px;
      }
    }

    &.--is-fincrm {
      aspect-ratio: auto;
    }

    &.--is-dasinvest {
      min-height: 700px;
    }

    &.--is-europace {
      min-height: 1700px;
      @include media-breakpoint-up(md) {
        min-height: 1300px;
      }
    }

    &.--is-immobillie {
      min-height: 600px;
    }

    &.--is-immofenster {
      min-height: 700px;
    }

    &.--is-wohnrechner {
      min-height: 1100px;
    }
  }

  &__itrk-legaltext {
    & h2 {
      margin-top: 2rem;
    }

    @include media-breakpoint-up(md) {
      margin-top: 4rem;
    }
  }
}
