.c-main-nav {
  $c-main-nav: &;

  font-family: $font-family-navigation;
  font-weight: $font-weight-navigation;
  overflow: hidden;
  padding-top: 0.25rem;
  @include media-breakpoint-up(xxl) {
    overflow: inherit;
    padding-top: 0;
  }

  &__button {
    .--open {
    }
    .--close {
      display: none;
    }

    @include media-breakpoint-up(xxl) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include media-breakpoint-up(xxl) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  &__item {
    font-size: $global-font-size;
    line-height: $global-line-height;
    @include media-breakpoint-up(xxl) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &.--is-top-level {
      @include media-breakpoint-up(xxl) {
        border: 0;
        flex-basis: content;
        max-width: 25%;
        position: relative;
      }
    }

    &.--is-active {
    }

    &.--has-children {
      position: relative;

      @include media-breakpoint-up(xxl) {
        &:focus-within {
          > #{$c-main-nav}__sub-menu {
            visibility: visible;
            opacity: 1;
          }

          &::after {
            height: 500%;
          }
        }

        @media (hover: hover) and (pointer: fine) {
          &:hover,
          &:focus-visible {
            > #{$c-main-nav}__sub-menu {
              visibility: visible;
              opacity: 1;
            }

            &::after {
              height: 500%;
            }
          }
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          opacity: 0;
          background: transparent;
          width: 100%;
          height: 0;
          top: 100%;
          z-index: 10;
          overflow: hidden;
        }

        #{$c-main-nav}__link {
          &.--is-top-level {
            display: flex;
            gap: 1rem;
            align-items: center;

            &::after {
              content: '';
              display: inline-block;
              background-color: var(--oo-color-header-text);
              mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20viewBox%3D%220%200%2012%206%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20d%3D%22M0%2C0l6%2C6L12%2C0%22%2F%3E%3C%2Fsvg%3E');
              mask-repeat: no-repeat;
              mask-size: $icon-width-dropdown;
              mask-position: center;
              margin-left: 0.25rem;
              height: $icon-height-dropdown;
              width: $icon-width-dropdown;
            }
          }
        }
      }
    }

    &.--is-active {
      &::after {
        opacity: 1;
      }
    }

    &.--is-ancestor {
    }
  }

  &__link {
    hyphens: auto;
    padding: 0.75rem 0 0.75rem 1rem;
    width: 100%;
    font-family: var(--oo-font-navigation, var(--oo-font-text));
    color: var(--oo-color-header-text, var(--oo-color-text));
    display: block;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: transparent;
    text-underline-offset: $link-underline-offset;
    letter-spacing: 1.5px;

    @include visited-active() {
      color: var(--oo-color-header-text, var(--oo-color-text));
    }

    @include media-breakpoint-down(xl) {
      @media (hover: hover) and (pointer: fine) {
        &:hover,
        &:focus-visible {
          color: var(--oo-color-header-contrast-primary);
          background-color: var(
            --oo-color-header-primary,
            var(--oo-color-primary)
          );
        }
      }
    }

    @include media-breakpoint-up(xxl) {
      padding: 0.5rem;

      @media (hover: hover) and (pointer: fine) {
        &:hover,
        &:focus-visible {
            text-decoration-color: var(
              --oo-color-header-text,
              var(--oo-color-text)
            );
            color: var(--oo-color-header-text, var(--oo-color-text));

        }
      }
    }

    &.--is-active {
      text-decoration-color: var(--oo-color-header-text, var(--oo-color-text));
      color: var(--oo-color-header-text, var(--oo-color-text));
    }

    @include media-breakpoint-down(xl) {
      &.--is-active {
        text-decoration-color: transparent;
        color: var(--oo-color-header-text, var(--oo-color-text));
        background-color: var(--oo-color-header-transparent-primary-20);
      }
    }

    &.--is-ancestor {
      text-decoration: underline;
      text-decoration-color: var(--oo-color-header-text, var(--oo-color-text));
      text-underline-offset: $link-underline-offset;
      @include media-breakpoint-down(xl) {
        @media (hover: hover) and (pointer: fine) {
          &:hover,
          &:focus-visible {
                color: var(--oo-color-header-contrast-primary);
                background-color: var(
                  --oo-color-header-primary,
                  var(--oo-color-primary)
                );

          }
        }
      }
    }
  }

  &__sub-menu {
    font-family: $font-family-text;
    font-weight: $font-weight-text;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(xxl) {
      z-index: 100;
      position: absolute;
      top: 100%;
      left: 50%;
      visibility: hidden;
      opacity: 0;
      transform: translateX(-50%);
      min-width: 200px;
      width: 100%;
      background-color: var(--oo-color-header-bg, var(--oo-color-bg));
      padding: 0;
      transition: text-decoration 0.25s ease-in-out,
        visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;
    }

    #{$c-main-nav}__item {
      &:last-of-type {
        @include media-breakpoint-up(xxl) {
          border-radius: inherit;
        }
      }
    }

    #{$c-main-nav}__link {
      text-decoration: none;

      @media (hover: hover) and (pointer: fine) {
        &:hover,
        &:focus-visible {
            color: var(--oo-color-header-contrast-primary);
            background-color: var(
              --oo-color-header-primary,
              var(--oo-color-primary)
            );

        }
      }

      @include media-breakpoint-down(xl) {
        padding-inline: 2rem;
      }

      &:last-of-type {
        @include media-breakpoint-up(xxl) {
          border-radius: inherit;
        }
      }

      &.--is-active {
        color: var(--oo-color-header-text, var(--oo-color-text));
        background-color: var(--oo-color-header-transparent-primary-20);
        cursor: default;

        @include visited-active() {
          color: var(--oo-color-header-text, var(--oo-color-text));
        }
      }
    }
  }

  &.--is-open {
    width: 100%;
  }
}
