.c-property-list {
  $c-property-list: &;

  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include media-breakpoint-up(xxl) {
      gap: 2rem;
    }
  }

  &__content {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
    @include media-breakpoint-up(xxl) {
      gap: 2rem;
      margin-bottom: 3rem;
    }
  }

  &__headline {
  }

  &__text {
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include media-breakpoint-up(lg) {
      gap: 2rem;
    }
  }

  &__nav {
    display: flex;
    align-items: flex-end;
    gap: 1.5rem 0;

    @include media-breakpoint-up(lg) {
      gap: unset;
    }
  }

  &__count {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    &.--no-properties {
    }
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: $border-radius;
    background-color: var(--oo-color-primary);
    color: var(--oo-color-contrast-primary);
    font-family: $font-family-button;
    font-weight: $font-weight-button;
    min-width: $icon-wrapper-size;
    height: $icon-wrapper-size;
    padding: 0 0.5rem;

    .--bg-light & {
      background-color: var(--oo-color-light-primary, var(--oo-color-primary));
      color: var(--oo-color-light-contrast-primary);
    }
    .--bg-dark & {
      background-color: var(--oo-color-dark-primary, var(--oo-color-primary));
      color: var(--oo-color-dark-contrast-primary);
    }
    .--bg-primary & {
      background-color: var(
        --oo-color-primary-primary,
        var(--oo-color-primary)
      );
      color: var(--oo-color-primary-contrast-primary);
    }
    .--bg-secondary & {
      background-color: var(
        --oo-color-secondary-primary,
        var(--oo-color-primary)
      );
      color: var(--oo-color-secondary-contrast-primary);
    }
  }

  &__sort-wrapper {
    display: flex;
    justify-content: flex-start;

    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
    }
  }

  &__sort {
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: auto;
    }
  }

  &__properties {
    display: grid;
    gap: 1.5rem;

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    @include media-breakpoint-up(xxl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__slider {
  }

  &__pagination {
  }

  &__buttons-wrapper {
  }

  &__buttons {
  }
}
