.c-contact-card {
  $c-contact-card: &;

  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;

  @include media-breakpoint-up(md) {
    gap: 5rem 2rem;
  }

  &__data-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include media-breakpoint-up(md) {
      grid-column: span 4;
    }
  }

  &__data {
    padding-left: 1rem;
    padding-right: 1rem;

    @include media-breakpoint-up(sm) {
      padding-left: 0;
      padding-right: 0;
    }

    &.--is-opening-hours {
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }

  &__list {
    display: flex;
    gap: 0 0.5rem;

    &.--is-opening-hours {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: span 2;
    }
  }

  &__label {
    max-width: 250px;
  }

  &__title {
    font-family: var(--oo-font-text-bold, var(--oo-font-text));
    font-weight: var(--oo-font-text-bold-weight, var(--oo-font-text-weight));
  }

  &__value {
    hyphens: auto;
    word-break: break-word;
  }

  &.--is-map {
    display: grid;
    grid-template-columns: 1fr;

    #{$c-contact-card}__label {
      max-width: 250px;

      @include media-breakpoint-up(md) {
        max-width: 120px;
      }

      @include media-breakpoint-up(lg) {
        max-width: 150px;
      }

      @include media-breakpoint-up(xl) {
        max-width: 120px;
      }
    }

    #{$c-contact-card}__map {
      aspect-ratio: 3/2;

      @include media-breakpoint-up(xl) {
        aspect-ratio: 2/1;
      }

      @include media-breakpoint-up(md) {
        grid-column: span 6;
      }
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(10, 1fr);
    }

    &.--position-left {
      @include media-breakpoint-up(md) {
        #{$c-contact-card}__map {
          grid-row: 1;
        }
      }
    }

    &.--position-alternating {
      &:nth-child(even) {
        @include media-breakpoint-up(md) {
          #{$c-contact-card}__map {
            grid-row: 1;
          }
        }
      }
    }
  }
}
