.c-gallery {
  $c-gallery: &;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @include media-breakpoint-up(lg) {
    gap: 2rem;
  }

  img {
    height: 180px;

    @include media-breakpoint-up(lg) {
      height: 350px;
    }
  }

  &__wrapper {
    &.--is-full-width {
    }
  }

  &__headline {
    display: block;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 180px;

    @include media-breakpoint-up(lg) {
      height: 350px;
    }

    &.--is-image {
      min-width: 150px;
    }
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: auto;

    @include media-breakpoint-up(lg) {
      height: 350px;
    }
  }

  &__image {
    width: auto;
    height: 100%;
    max-height: inherit;
    object-fit: contain;
  }

  &__placeholder {
    aspect-ratio: 1 / 1;
  }

  &__widget {
    width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &.--is-provenexpert {
      max-width: 400px;
      width: 100%;

      img {
        max-width: 100%;
        max-height: 135px;
        width: auto;
        object-fit: contain;

        @include media-breakpoint-up(xxxl) {
          max-height: 200px;
        }
      }
    }

    &.--is-immowelt {
      #{$c-gallery}__iframe {
        scale: 75%;
        @include media-breakpoint-up(md) {
          scale: 75%;
        }
        @include media-breakpoint-up(xxxl) {
          scale: 100%;
        }
      }
    }
    &.--is-immoscout24 {
      #{$c-gallery}__iframe {
        height: 140px;
        width: 182px;
        scale: 80%;

        @include media-breakpoint-up(md) {
          scale: 100%;
        }
      }
    }
  }
  &__row {
    display: flex;
    align-items: flex-start;
    gap: 2.5rem;
    @include media-breakpoint-up(lg) {
      gap: 5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    word-break: break-word;
  }

  &__link {
    display: flex;
    width: 100%;
    outline: $outline;
    outline-offset: $outline-offset;
    box-shadow: 0px 0px 0px $outline-offset transparent;
    transition: outline-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

    @include focus-visible() {
      outline-color: var(--oo-color-primary);
      box-shadow: 0px 0px 0px $outline-offset var(--oo-color-contrast-primary);
    }
  }

  &__inner {
    &.--is-grid {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5rem;

      @include media-breakpoint-up(lg) {
        gap: 1rem;
      }

      #{$c-gallery}__item {
        height: 180px;

        @include media-breakpoint-up(lg) {
          height: 350px;
        }
      }
    }
    &.--is-slider {
      .--is-provenexpert {
        scale: 0.55;
      }
    }
  }
  &.--bg-light {
    #{$c-gallery}__link {
      @include focus-visible() {
        outline-color: var(--oo-color-light-primary, var(--oo-color-primary));
        box-shadow: 0px 0px 0px $outline-offset
          var(--oo-color-light-contrast-primary);
      }
    }
  }
  &.--bg-dark {
    #{$c-gallery}__link {
      @include focus-visible() {
        outline-color: var(--oo-color-dark-primary, var(--oo-color-primary));
        box-shadow: 0px 0px 0px $outline-offset
          var(--oo-color-dark-contrast-primary);
      }
    }
  }
  &.--bg-primary {
    #{$c-gallery}__link {
      @include focus-visible() {
        outline-color: var(--oo-color-primary-primary, var(--oo-color-primary));
        box-shadow: 0px 0px 0px $outline-offset
          var(--oo-color-primary-contrast-primary);
      }
    }
  }
  &.--bg-secondary {
    #{$c-gallery}__link {
      @include focus-visible() {
        outline-color: var(
          --oo-color-secondary-primary,
          var(--oo-color-primary)
        );
        box-shadow: 0px 0px 0px $outline-offset
          var(--oo-color-secondary-contrast-primary);
      }
    }
  }
  &.--bg-transparent {
    #{$c-gallery}__link {
      @include focus-visible() {
        outline-color: var(--oo-color-primary);
        box-shadow: 0px 0px 0px $outline-offset var(--oo-color-contrast-primary);
      }
    }
  }
}
