.c-price-calculator {
  $c-price-calculator: &;

  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @include media-breakpoint-up(md) {
    grid-template-columns: 2fr 1fr;
  }

  @include media-breakpoint-up(lg) {
    gap: 5rem;
  }

  &__overview {
    width: 100%;
    display: grid;
    row-gap: 1rem;

    @include media-breakpoint-up(md) {
      order: 1;
      row-gap: 0.5rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    line-height: $small-line-height;
    gap: 0.5rem;

    @include media-breakpoint-up(md) {
      gap: 1rem;
    }

    &.--is-total-cost {
      font-weight: $font-weight-text-bold;
      margin-top: 0.5rem;
      padding-left: 2rem;
      font-size: 1.125rem;
      font-weight: 600;

      @include media-breakpoint-up(md) {
        padding-left: 3rem;
      }

      #{$c-price-calculator}__value {
        font-size: 1.125rem;
        font-weight: 600;
      }
    }
  }

  &__color-indicator {
    width: 1.5rem;
    height: 1.5rem;
    aspect-ratio: 1/1;

    @include media-breakpoint-up(md) {
      width: 2rem;
      height: 2rem;
    }
  }

  &__criteria {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;

    @include media-breakpoint-up(lg) {
      gap: 5rem;
    }
    @include media-breakpoint-up(xl) {
      gap: 10rem;
    }
  }

  &__value {
    font-weight: $font-weight-text-bold;
  }

  &__chart {
    grid-column: 1/ -1;
    justify-self: center;
    align-self: start;

    @include media-breakpoint-up(md) {
      grid-column: auto;
      order: 2;
    }
  }

  &__notice {
    font-size: $small-font-size;
    margin-top: 2.5rem;
  }

  $colors: (
    0: --oo-color-primary,
    1: --oo-color-primary-complementary,
    2: --oo-color-secondary,
    3: --oo-color-secondary-complementary,
    4: --oo-color-mix-primary-contrast-50,
  );
  @each $index, $color in $colors {
    .oo-donut-chart-color#{$index} {
      fill: var(#{$color});
      background-color: var(#{$color});
      stroke: #fff;
      stroke-width: 4px;
    }
  }
}
