.c-seals {
  $c-seals: &;

  &__headline {
    display: block;
  }

  &__slider {
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - (0.5rem / 2));
    padding: 0.5rem;
    aspect-ratio: 1 / 1;

    @include media-breakpoint-up(xxxl) {
      width: calc(33% - ((0.5rem * 2) / 3));
    }
  }

  &__link {
    display: flex;
    width: 100%;

    @include focus-visible() {
      outline-color: var(--oo-color-footer-text, var(--oo-color-text));
    }
  }

  &__picture {
  }

  &__image {
    object-fit: contain;
  }

  &__widget {
    width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__iframe {
    .--is-immowelt & {
      scale: 75%;

      @include media-breakpoint-up(sm) {
        scale: inherit;
      }

      @include media-breakpoint-up(md) {
        scale: 75%;
      }

      @include media-breakpoint-up(xxxl) {
        scale: 64%;
      }
    }

    .--is-immoscout24 & {
      scale: 80%;

      @include media-breakpoint-up(sm) {
        scale: inherit;
      }

      @include media-breakpoint-up(md) {
        scale: 80%;
      }

      @include media-breakpoint-up(xxxl) {
        scale: 70%;
      }
    }
  }

  &.--is-slider {
    #{$c-seals}__item {
      height: 140px;
      max-width: 140px;
    }

    .--is-proseal__widget {
      scale: 55%;
    }
  }

  &.--is-grid {
    display: flex;
    flex-wrap: wrap;
  }
}
