.c-footer {
  $c-footer: &;

  box-shadow: 2px 2px 10px var(--oo-color-transparent-shadow-15);

  &__top {
    position: relative;
    background-color: var(--oo-color-footer-bg, var(--oo-color-bg));
    color: var(--oo-color-footer-text, var(--oo-color-text));
    padding: 2.5rem 0;

    &-container {
      display: flex;
      flex-direction: column;
      gap: 2.5rem 0;
    }

    &-row {
      gap: 2.5rem 0;
    }

    &-column {
      display: flex;
      flex-direction: column;
      gap: 2.5rem 0;
      &.--is-empty {
        display: none;
        @include media-breakpoint-up(xl) {
          display: flex;
        }
      }
      &.--left {
      }
      &.--middle {
      }
      &.--right {
      }
    }
  }

  &__bottom {
    background-color: var(--oo-color-footer-mix-bg-contrast-10);
    padding: 1rem 0 0.5rem 0;

    @include media-breakpoint-up(lg) {
      gap: 0;
      padding: 0.5rem 0;
    }

    * {
      font-size: $small-font-size;
      line-height: $small-line-height;
    }

    &-row {
      align-items: center;
      gap: 1rem 0;

      @include media-breakpoint-up(lg) {
        gap: 0;
      }
    }

    &-column {
      &.--left {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @include media-breakpoint-up(xl) {
          flex-direction: row;
          gap: 1.5rem;
        }
      }

      &.--right {
        a {
          color: var(--oo-color-footer-contrast-bg);
        }
      }
    }

    &-copyright {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.25rem;
      width: 100%;

      @include media-breakpoint-up(lg) {
        justify-content: flex-start;
        width: auto;
      }
    }

    .onoffice-logo {
      display: flex;
      align-items: center;
      color: var(--oo-color-footer-contrast-bg);
      max-width: 150px;
      margin: 0 auto;

      @include media-breakpoint-up(lg) {
        margin: 0 0 0 auto;
      }
    }

    &-text {
      &.--year {
        color: var(--oo-color-footer-text, var(--oo-color-text));
      }
    }
  }

  // iFrames Overlap
  .--is-iframe-service-immobilienwertanalyse & {
    padding-bottom: 4rem;
  }
}
