.c-footer-nav {
  $c-footer-nav: &;

  @include media-breakpoint-up(lg) {
    display: flex;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-up(lg) {
      gap: 0.25rem 0;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: auto;
    }
    &:last-child {
      &::after {
        content: none;
      }
    }
  }

  &__link {
    padding: 0.5em;
    color: var(--oo-color-footer-text, var(--oo-color-text));
    text-decoration: underline transparent;
    outline-offset: 0;
    @include media-breakpoint-up(lg) {
      margin-right: 1.5rem;
      padding: 0;
      outline-offset: $outline-offset;
    }

    @include visited-active() {
      color: currentColor;
      text-decoration-color: currentColor;
    }

    @include hover-focus() {
      color: currentColor;
      text-decoration-color: currentColor;
    }

    &.--is-active,
    &.--is-ancestor {
      text-decoration-color: currentColor;
    }
    width: 100%;
    text-align: center;

    @include media-breakpoint-up(lg) {
      width: auto;
      text-align: left;
    }
  }

  &__sub-menu {
    display: none;
  }
}
