.c-modules {
  $c-modules: &;

  &__item {
    .--is-header & {
      display: flex;
      gap: 1.5rem;
      width: 100%;

      @include media-breakpoint-up(xxl) {
        display: inline-block;
        width: auto;
        padding: 0;
      }
    }

    .--is-footer & {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  &.--is-header {
  }

  &.--is-footer {
  }
}
