.c-contact-person {
  &__picture {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    background-color: var(--oo-color-mix-bg-text-20);
    border-radius: $button-border-radius;
    margin-bottom: 1rem;

    @include media-breakpoint-up(xl) {
      margin-bottom: 2rem;
    }
  }

  &__name {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__contact {
    display: flex;
    gap: 0.5rem;

    &-label {
      flex-shrink: 0;
    }
    &-value {
      hyphens: auto;
      word-break: break-word;
    }
  }
}
