.c-module-login {
  $c-module-login: &;

  &__list {
    display: flex;
    line-height: 1.5rem;
    align-items: center;
    gap: 0.5rem;
    @include media-breakpoint-up(xxl) {
      align-items: baseline;
      display: inline-flex;

      .--left &:not(:last-of-type) {
        margin-right: 1.5rem;
      }
      .--right & {
        margin-left: 1.5rem;
      }
    }
    svg {
      color: var(--oo-color-header-primary, var(--oo-color-primary));
    }
  }

  &__label {
    align-self: center;
  }

  &__value {
    hyphens: auto;
    line-height: 1.5rem;
  }

  &__link {
    cursor: pointer;
  }
}
