.c-flag {
  $c-flag: &;

  color: var(--oo-color-contrast-primary);
  background-color: var(--oo-color-primary);
  font-family: $font-family-button;
  font-weight: $font-weight-button;
  display: flex;
  padding: 0.375rem 0.75rem;
  border-radius: $border-radius-small;
  line-height: $small-line-height;
  min-height: $icon-wrapper-size;

  &.--property-status {
    color: var(--oo-color-property-status-contrast-bg);
    background: var(--oo-color-property-status-bg);
  }
}
