.c-social-media {
  $c-social-media: &;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--oo-social-media-gap, 1rem);

  &__item {
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--oo-social-media-color, var(--oo-color-primary));

    @include visited-active() {
      color: var(--oo-social-media-color, var(--oo-color-primary));
    }

    @include hover-focus() {
      color: var(
        --oo-social-media-color-hover,
        var(--oo-color-mix-primary-contrast-20)
      );
    }
  }

  &__icon {
    display: block;
    width: var(--oo-social-media-size, 2rem);
    height: var(--oo-social-media-size, 2rem);
    transition: opacity 0.25s ease-in-out;
  }

  .--bg-light & {
    --oo-social-media-color: var(
      --oo-color-light-primary,
      var(--oo-color-primary)
    );
    --oo-social-media-color-hover: var(
      --oo-color-light-mix-primary-contrast-20
    );
  }

  .--bg-dark & {
    --oo-social-media-color: var(
      --oo-color-dark-primary,
      var(--oo-color-primary)
    );
    --oo-social-media-color-hover: var(--oo-color-dark-mix-primary-contrast-20);
  }

  .--bg-primary & {
    --oo-social-media-color: var(
      --oo-color-primary-primary,
      var(--oo-color-primary)
    );
    --oo-social-media-color-hover: var(
      --oo-color-primary-mix-primary-contrast-20
    );
  }

  .--bg-secondary & {
    --oo-social-media-color: var(
      --oo-color-secondary-primary,
      var(--oo-color-primary)
    );
    --oo-social-media-color-hover: var(
      --oo-color-secondary-mix-primary-contrast-20
    );
  }

  .--bg-header & {
    --oo-social-media-color: var(
      --oo-color-header-primary,
      var(--oo-color-primary)
    );
    --oo-social-media-color-hover: var(
      --oo-color-header-mix-primary-contrast-20
    );
  }

  .--bg-footer & {
    --oo-social-media-color: var(
      --oo-color-footer-primary,
      var(--oo-color-primary)
    );
    --oo-social-media-color-hover: var(
      --oo-color-footer-mix-primary-contrast-20
    );
  }

  .--bg-transparent & {
    --oo-social-media-color: var(--oo-color-primary);
    --oo-social-media-color-hover: var(--oo-color-mix-primary-contrast-20);
  }

  &.--is-footer {
    --oo-social-media-size: 2rem;
    --oo-social-media-gap: 1rem;
  }

  &.--is-header {
    --oo-social-media-size: 2rem;
    --oo-social-media-gap: 1.5rem;

    display: inline-flex;
    @include media-breakpoint-up(xxl) {
      --oo-social-media-size: 1rem;
      --oo-social-media-gap: 0.75rem;
      position: relative;
      top: 0.25rem;
    }
  }

  &.--is-content {
    --oo-social-media-size: 1.5rem;
    --oo-social-media-gap: 0.5rem;

    display: inline-flex;
  }

  &.--is-share {
    --oo-social-media-size: 2.5rem;
    --oo-social-media-gap: 2rem;

    justify-content: center;

    .--link {
      #{$c-social-media}__link {
        position: relative;

        &::before {
          content: attr(data-tooltip);
          position: absolute;
          bottom: 95%;
          right: 0;
          background-color: var(
            --oo-social-media-color,
            var(--oo-color-primary)
          );
          color: var(--oo-color-contrast-primary);
          padding: 0.25rem;
          border-radius: 0.25rem;
          font-size: 1rem;
          white-space: nowrap;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
        }

        &:hover::before,
        &:focus::before,
        &[data-tooltip-visible='true']::before {
          opacity: 1;
          visibility: visible;
        }
      }
      #{$c-social-media}__icon {
        &.--copy {
        }

        &.--copy-success {
          display: none;
        }
      }
    }
  }
}
