.c-stars {
  $c-stars: &;

  display: flex;
  gap: 0.5rem;

  &__star {
    width: 1.5rem;
    height: 1.5rem;

    svg {
      width: 100%;
      height: 100%;
      color: var(--oo-color-primary);
      stroke: var(--oo-color-primary);
    }

    .--star-color-bg-primary & {
      svg {
        color: var(--oo-color-primary);
        stroke: var(--oo-color-primary);
      }

      &.--filled {
        svg {
          stroke: var(--oo-color-primary);
          fill: var(--oo-color-primary);
        }
      }
    }
    .--star-color-bg-gold & {
      svg {
        color: var(--oo-color-google-gold);
        stroke: var(--oo-color-google-gold);
      }

      &.--filled {
        svg {
          stroke: var(--oo-color-google-gold);
          fill: var(--oo-color-google-gold);
        }
      }
    }
    &.--empty {
      svg {
        stroke: currentColor;
      }
    }
  }

  &.--small {
    #{$c-stars}__star {
      width: 1rem;
      height: 1rem;
    }
  }

  &.--light-empty-stars {
    #{$c-stars}__star {
      &.--empty {
        color: var(--oo-color-mix-bg-text-30);
      }
    }
  }

  .--half {
    position: relative;
    #{$c-stars}__star {
      position: absolute;
      inset: 0;
      &.--filled {
        width: 50%;
        overflow: hidden;
        z-index: 1;
        svg {
          width: auto;
        }
      }
    }
  }
  .--star-color-bg-primary & {
    .--bg-light & {
      svg {
        stroke: var(--oo-color-light-primary, var(--oo-color-primary));
      }
      .--filled {
        color: var(--oo-color-light-primary, var(--oo-color-primary));
        svg {
          fill: var(--oo-color-light-primary, var(--oo-color-primary));
        }
      }
      .--empty {
        color: var(
          --oo-color-light-mix-bg-text-20,
          var(--oo-color-mix-bg-text-20)
        );
      }
    }
    .--bg-dark & {
      svg {
        stroke: var(--oo-color-dark-primary, var(--oo-color-primary));
      }
      .--filled {
        color: var(--oo-color-dark-primary, var(--oo-color-primary));

        svg {
          fill: var(--oo-color-dark-primary, var(--oo-color-primary));
        }
      }
      .--empty {
        color: var(
          --oo-color-dark-mix-bg-text-20,
          var(--oo-color-mix-bg-text-20)
        );
      }
    }

    .--bg-primary & {
      svg {
        stroke: var(--oo-color-primary-primary, var(--oo-color-primary));
      }
      .--filled {
        color: var(--oo-color-primary-primary, var(--oo-color-primary));
        svg {
          fill: var(--oo-color-primary-primary, var(--oo-color-primary));
        }
      }
      .--empty {
        color: var(
          --oo-color-primary-mix-bg-text-20,
          var(--oo-color-mix-bg-text-20)
        );
      }
    }

    .--bg-secondary & {
      svg {
        stroke: var(--oo-color-secondary-primary, var(--oo-color-primary));
      }
      .--filled {
        color: var(--oo-color-secondary-primary, var(--oo-color-primary));
      }
      .--empty {
        color: var(
          --oo-color-secondary-mix-bg-text-20,
          var(--oo-color-mix-bg-text-20)
        );
      }
    }

    .--bg-transparent & {
      svg {
        stroke: var(--oo-color-primary);
      }
      .--filled {
        color: var(--oo-color-primary);

        svg {
          fill: var(--oo-color-primary);
        }
      }
      .--empty {
        color: var(--oo-color-mix-bg-text-20);
      }
    }
  }

  &.--small {
    #{$c-stars}__star {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}