.c-back-to-top {
  $c-back-to-top: &;

  width: $icon-wrapper-size;
  height: $icon-wrapper-size;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-50%);
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 99;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  outline: $outline;
  outline-offset: $outline-offset;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    outline-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  cursor: pointer;

  @include media-breakpoint-up(xl) {
    right: 2rem;
    bottom: 2rem;
  }

  @include plain-visited() {
    color: var(--oo-color-contrast-primary);
    background-color: var(--oo-color-primary);
  }

  @include hover() {
    background-color: var(--oo-color-mix-primary-contrast-20);
  }

  @include focus-visible() {
    outline-color: var(--oo-color-primary);
  }

  @include active() {
    background-color: var(--oo-color-mix-primary-contrast-40);
  }

  @include disabled() {
    background-color: var(--oo-color-primary);
    opacity: 0.2;
    outline-color: transparent;
    cursor: default;
  }

  &__text {
  }

  &__icon,
  svg {
    height: $icon-size;
    width: $icon-size;
  }

  &.--visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
  }

  // iFrames Overlap
  .--is-iframe-service-immobilienwertanalyse & {
    transform: translateY(-4rem);
  }
}
