.c-property-card {
  $c-property-card: &;
  background-color: var(--oo-color-mix-bg-contrast-05);

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  &__inner-wrapper {
  }

  &__inner {
    position: relative;
    overflow: hidden;
    background-color: var(--oo-color-transparent-primary-10);
  }

  &__picture {
    aspect-ratio: 3 / 2;

    &-wrapper {
      cursor: default;
      pointer-events: none;
      @include media-breakpoint-up(lg) {
        cursor: pointer;
        pointer-events: auto;
      }
      @include focus-visible() {
        outline: $outline !important;
        outline-offset: -4px !important;
        outline-color: var(--oo-color-primary) !important;
      }
    }
  }

  &__image {
  }

  &__status {
  }

  &__favorite {
    &.c-icon-button {
      width: $icon-size;
      height: $icon-size;
      &.--on-bg-transparent,
      .--bg-transparent & {
        @include plain-visited() {
          background-color: var(--oo-color-primary);
        }
      }

      @include hover() {
        background-color: var(--oo-color-mix-primary-contrast-20);
      }

      @include active() {
        background-color: var(--oo-color-mix-primary-contrast-40);
      }

      .c-icon-button__icon {
        width: $icon-size-small;
        height: $icon-size-small;
        stroke: var(--oo-color-contrast-primary);
        &.--filled {
          fill: var(--oo-color-contrast-primary);
        }
      }
    }
  }

  &__button {
    grid-column: -2;
    align-self: end;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5rem;
  }

  &__main-content-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: fit-content;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    hyphens: manual;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      min-height: 5rem;

    }
  }

  &__top {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    justify-items: stretch;
  }

  &__price {
    display: flex;

    flex-direction: column;
    text-align: right;

    &-label {
      font-weight: 500;
      font-size: 1.125rem;
    }

    &-price {
      font-size: 0.875rem;
    }
  }

  &__location {
    display: flex;

    flex-direction: column;

    &-label {
      font-weight: 500;
      font-size: 1.125rem;
    }

    &-price {
      font-size: 0.875rem;
    }
  }
}
