.c-contact-map {
  $c-contact-map: &;

  &__container {
  }

  &__row {
    position: relative;
    display: flex;
    gap: 2.5rem;
    @include media-breakpoint-up(xl) {
      gap: 5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  &__headline {
  }

  &__text {
  }

  &__map {
  }
  &__map-wrapper {
    padding-inline: 0rem;
    @include media-breakpoint-up(sm) {
      padding-inline: 1rem;
    }
    width: 100%;
    .c-map {
      aspect-ratio: 3/2;
      @include media-breakpoint-up(sm) {
        aspect-ratio: 16/9;
      }
    }
  }
}
