.c-property-features {
  $c-property-features: &;

  border-radius: $button-border-radius;
  color: var(--oo-color-property-status-contrast-bg);
  background-color: var(--oo-color-property-status-bg);
  border: 0px;
  padding: 0.2rem 0.2rem;
  margin: 2px;
  white-space: nowrap;
  display: inline-block;
}
