.c-reviews {
  $c-reviews: &;
  overflow-x: hidden;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
   
    @include media-breakpoint-up(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  
  }

  &__headline {
  }

  
  &__headline-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  &__text {
  }

  &__reviews {
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: 1fr;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__col {
    .--is-google-reviews & {
      padding-right: 0;
      padding-left: 0;

      @include media-breakpoint-up(md) {
        padding-right: 1rem;
        padding-left: 1rem;
      }

      &.--is-grid {
        display: grid;
        gap: 2rem;


        @include media-breakpoint-up(md) {
          grid-template-columns: repeat(2, 1fr);
        
        }

        @include media-breakpoint-up(xl) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }

  &__pagination {
  }

  &__buttons {
  }
  &__col {
    .--is-google-reviews & {
      display: flex;
      flex-direction: column;
      gap: 3rem 0;
    }
  }

  &__google {
    &-wrapper {
      display: flex;
      gap: 0.5rem;
      flex-direction: row;
      justify-content: flex-start;
    }

    &-total {
      font-size: 2rem;
      font-weight: $font-weight-text-bold;
    }

    &-logo {
      svg {
        height: 2rem;
      }
    }

    &-headline {
      font-size: 1.75rem;
      font-weight: $font-weight-text-bold;
    }

    .c-popup & {
      &-wrapper {
        margin-bottom: 0 !important;
      }
      &-total {
        font-size: 1.5rem;
      }
      &-count {
        font-size: 0.875rem;
        color: var(--oo-color-mix-bg-text-50);
      }
      &-headline {
        font-size: 1.5rem;
      }
    }
  }
}
