.c-banner {
  $c-banner: &;

  position: relative;
  background-color: var(--oo-color-bg);

  // none of the slides have content
  &.--content-none {
    #{$c-banner}__media,
    #{$c-banner}__slide {
      max-height: 60vh;
    }
  }

  &__slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    @include media-breakpoint-up(lg) {
      min-height: 60vh;
      justify-content: center;
      &:not(.--content-none) {
        padding-block: $desktop-section-padding-top
          $desktop-section-padding-bottom;
      }

      .--is-header-style-transparent & {
        min-height: calc(60vh + var(--header-height));
      }

      &.--content-none {
        & #{$c-banner}__media {
          width: 100%;
        }
      }
    }

    &.--content-is-right {
      flex-direction: column-reverse;
    }

    &.--content-property-search {
    }
    &.--content-text {
    }
  }
  &__media {
    height: auto;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    aspect-ratio: 4 / 3;
    background-color: var(--oo-color-transparent-primary-10);

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      margin: 0;
      aspect-ratio: unset;

      &.--content-is-left {
        right: 0;
      }

      &.--content-is-right {
        left: 0;
      }
    }
  }

  &__picture {
  }

  &__image {
  }

  &__video-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--video-width, 133.33vw); // width = 75vw / (9 / 16) = 133.33
    height: var(--video-height, 75vw);
    transform: translate(-50%, -50%);
    pointer-events: none;

    @include media-breakpoint-up(lg) {
      --video-ratio-height: 100%;
      --video-ratio-width: 100vw;
      --video-height: var(--video-ratio-height);
      --video-width: var(--video-ratio-width);
    }
  }

  &__container {
    padding-block: $mobile-section-padding-top $mobile-section-padding-bottom;
    @include media-breakpoint-up(lg) {
      padding-block: 0;
      margin-top: 0;
    }
  }

  &__row {
    margin: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 2.5rem 0;

    &.--content-none {
    }
    &.--content-property-search {
    }
    &.--content-text & {
    }
    &.--text-align-center {
      #{$c-banner}__headline,
      #{$c-banner}__text {
        text-align: center;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
  }

  &__headline {
    width: 100%;
  }

  &__text {
    width: 100%;
  }

  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      margin-top: 1.25rem;
    }
  }

  &__button {
    display: flex;
  }

  &__video-playback-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--oo-color-contrast-primary);
    background-color: var(--oo-color-primary);
    border: 0;
    width: $icon-wrapper-size;
    height: $icon-wrapper-size;
    outline: $outline !important;
    outline-offset: $outline-offset !important;
    opacity: 1;
    padding: 0.25rem;
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4rem;
    z-index: 2;

    #{$c-banner}__icon {
      width: $icon-size;
      height: $icon-size;

      @include media-breakpoint-up(xl) {
        width: $icon-size;
        height: $icon-size;
      }
    }

    @include plain-visited() {
      color: var(--oo-color-contrast-primary);
      background-color: var(--oo-color-primary);
      opacity: 1;
    }

    @include hover() {
      background-color: var(--oo-color-mix-primary-contrast-20);
      opacity: 1;
    }

    @include focus-visible() {
      outline-color: var(--oo-color-primary) !important;
    }

    @include active() {
      background-color: var(--oo-color-mix-primary-contrast-40);
    }

    &[aria-pressed='false'] {
      #{$c-banner}__icon.--play {
        display: none;
      }
      #{$c-banner}__icon.--pause {
        display: inline-block;
      }
    }

    &[aria-pressed='true'] {
      #{$c-banner}__icon.--pause {
        display: none;
      }
      #{$c-banner}__icon.--play {
        display: inline-block;
      }
    }

    @include media-breakpoint-up(xl) {
      bottom: 5rem;
    }

    &.--single-slide {
      bottom: 1rem;
    }
  }

  &.--bg-light {
    color: var(--oo-color-light-text, var(--oo-color-text));
    background-color: var(--oo-color-light-bg, var(--oo-color-bg));
  }
  &.--bg-dark {
    color: var(--oo-color-dark-text, var(--oo-color-text));
    background-color: var(--oo-color-dark-bg, var(--oo-color-bg));
  }
  &.--bg-primary {
    color: var(--oo-color-primary-text, var(--oo-color-text));
    background-color: var(--oo-color-primary-bg, var(--oo-color-bg));
  }
  &.--bg-secondary {
    color: var(--oo-color-secondary-text, var(--oo-color-text));
    background-color: var(--oo-color-secondary-bg, var(--oo-color-bg));
  }

  &.--bg-transparent {
    color: var(--oo-color-transparent-text);
    background-color: var(--oo-color-transparent-bg);
  }

  & + *:not(&) {
    padding-top: $mobile-section-padding-top;
    @include media-breakpoint-up(xl) {
      padding-top: $desktop-section-padding-top;
    }
  }
}
