.c-module-language-switcher {
  $c-module-language-switcher: &;

  &.--is-header {
    display: inline-block;
    background: transparent;
    border: 0;
    padding: 0;
    .wpml-ls-statics-shortcode_actions {
      margin: 0;
      a {
        background: transparent;
        border: 0;
        line-height: $small-line-height;
        text-align: left;
        padding: 0 1.5rem 0 0;

        @include plain-visited() {
          color: var(--oo-color-header-mix-text-contrast-20);
        }

        @include hover-focus() {
          color: var(--oo-color-header-primary, var(--oo-color-primary));
        }

        &:not(.wpml-ls-link) {
          transition: text-decoration-color 0.25s ease-in-out,
            text-decoration 0.25s ease-in-out;
          text-decoration: underline currentColor;
          text-underline-offset: $link-underline-offset;

          @include hover() {
            text-decoration-color: transparent;
          }
        }
      }
    }
    .wpml-ls-legacy-dropdown {
      a {
        span {
          vertical-align: unset;
        }
      }
    }
    .wpml-ls-legacy-dropdown,
    .wpml-ls-legacy-dropdown-click {
      width: auto;
      .wpml-ls-sub-menu {
        z-index: 9991;
        border-top: 0;
        bottom: 100%;
        top: auto;
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 0.5rem;

        @include media-breakpoint-up(xl) {
          border-radius: 0px 0px $border-radius $border-radius;
          li:last-of-type {
            border-radius: inherit;
            a {
              border-radius: inherit;
            }
          }
        }

        @include media-breakpoint-up(xxl) {
          top: 100%;
          bottom: auto;
          display: block;
          padding-bottom: 0rem;
          padding-top: 0.5rem;
        }
        a {
          padding: 0.25rem 0.5rem;
          text-align: center;
          border-radius: inherit;

          @include plain-visited() {
            color: var(--oo-color-header-text, var(--oo-color-text));
            background: var(--oo-color-header-mix-bg-contrast-5);
          }

          @include hover() {
            color: var(--oo-color-header-contrast-primary);
            background-color: var(
              --oo-color-header-primary,
              var(--oo-color-primary)
            );
          }
        }
      }
    }
  }
}
