.c-player {
  $c-player: &;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  border-radius: $border-radius;
  outline: $outline;
  outline-offset: $outline-offset;
  box-shadow: 0px 0px 0px $outline-offset transparent;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out, transform 0.25s ease-in-out,
    outline-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

  .--is-full-width & {
    border-radius: 0;
  }

  @include focus-visible() {
    outline-color: currentColor;
    box-shadow: 0px 0px 0px $outline-offset var(--oo-color-contrast-primary);
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    filter: drop-shadow(2px 2px 10px var(--oo-color-transparent-shadow-50));
  }

  &.--on-bg-transparent {
    color: var(--oo-color-primary);

    @include hover() {
      background-color: var(--oo-color-transparent-bg-25);
    }

    @include focus-visible() {
      outline-color: currentColor;
      box-shadow: 0px 0px 0px $outline-offset var(--oo-color-contrast-primary);
    }
  }

  &.--on-bg-light {
    color: var(--oo-color-light-primary, var(--oo-color-primary));

    @include hover() {
      background-color: var(
        --oo-color-light-transparent-bg-25,
        var(--oo-color-transparent-bg-25)
      );
    }

    @include focus-visible() {
      outline-color: currentColor;
      box-shadow: 0px 0px 0px $outline-offset
        var(--oo-color-light-contrast-primary);
    }
  }

  &.--on-bg-dark {
    color: var(--oo-color-dark-primary, var(--oo-color-primary));

    @include hover() {
      background-color: var(
        --oo-color-dark-transparent-bg-25,
        var(--oo-color-transparent-bg-25)
      );
    }

    @include focus-visible() {
      outline-color: currentColor;
      box-shadow: 0px 0px 0px $outline-offset
        var(--oo-color-dark-contrast-primary);
    }
  }

  &.--on-bg-primary {
    color: var(--oo-color-primary-primary, var(--oo-color-primary));

    @include hover() {
      background-color: var(
        --oo-color-primary-transparent-bg-25,
        var(--oo-color-transparent-bg-25)
      );
    }

    @include focus-visible() {
      outline-color: currentColor;
      box-shadow: 0px 0px 0px $outline-offset
        var(--oo-color-primary-contrast-primary);
    }
  }

  &.--on-bg-secondary {
    color: var(--oo-color-secondary-primary, var(--oo-color-primary));

    @include hover() {
      background-color: var(
        --oo-color-secondary-transparent-bg-25,
        var(--oo-color-transparent-bg-25)
      );
    }

    @include focus-visible() {
      outline-color: currentColor;
      box-shadow: 0px 0px 0px $outline-offset
        var(--oo-color-secondary-contrast-primary);
    }
  }
}
