.c-contact-person {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include media-breakpoint-up(xl) {
    gap: 1.5rem;
  }

  &__link {
    display: flex;
    border-radius: $border-radius;
    outline: $outline;
    outline-offset: $outline-offset;
    box-shadow: 0px 0px 0px $outline-offset transparent;
    transition: outline-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

    @include focus-visible() {
      outline-color: var(--oo-color-primary);
      box-shadow: 0px 0px 0px $outline-offset var(--oo-color-contrast-primary);
    }
  }

  &__picture {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: $border-radius;
    overflow: hidden;
  }

  &__name {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__contact {
    display: flex;
    gap: 0.5rem;

    &-label {
      flex-shrink: 0;
    }
    &-value {
      hyphens: auto;
      word-break: break-word;
    }
  }
}
