.c-modules {
  $c-modules: &;

  &__item {
    .--is-header & {
      display: flex;
      gap: 1.5rem;

      @include media-breakpoint-up(xxl) {
        display: inline-block;
        margin-right: 1.5rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .--is-footer & {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
    }
  }

  &.--is-header {
  }

  &.--is-footer {
  }
}
