.c-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  &.--is-column {
    flex-direction: column;
  }

  &.--position-center {
    justify-content: center;
  }

  &.--align-start {
    align-items: flex-start;
  }
}
