.c-button {
  $c-button: &;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: $font-family-button;
  font-weight: $font-weight-button;
  @include font-size($global-font-size, $small-line-height);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 1rem 4rem;
  width: 100%;
  border: 2px solid transparent;
  outline: $outline;
  outline-offset: $outline-offset;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, outline-color 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
  cursor: pointer;

  @include media-breakpoint-up(md) {
    width: auto;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $icon-size-small;
    width: auto;

    svg {
      height: $icon-size-small;
      width: auto;
    }
  }

  @include plain-visited() {
    color: var(--oo-color-contrast-primary);
    background-color: var(--oo-color-primary);
    border-color: var(--oo-color-primary);
  }

  @include hover() {
    background-color: var(--oo-color-mix-primary-contrast-20);
    border-color: var(--oo-color-mix-primary-contrast-20);
  }

  @include focus-visible() {
    outline-color: var(--oo-color-text);
  }

  @include active() {
    background-color: var(--oo-color-mix-primary-contrast-40);
    border-color: var(--oo-color-mix-primary-contrast-40);
  }

  @include disabled() {
    background-color: var(--oo-color-primary);
    border-color: var(--oo-color-primary);
    opacity: 0.2;
    outline-color: transparent;
    text-decoration: line-through;
    cursor: default;
  }

  &.--has-icon {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
  }

  &.--is-small {
    padding: 0.75rem;
  }

  &.--on-bg-light,
  .--bg-light & {
    @include plain-visited() {
      color: var(
        --oo-color-light-contrast-primary,
        var(--oo-color-contrast-primary)
      );
      background-color: var(--oo-color-light-primary, var(--oo-color-primary));
      border-color: var(--oo-color-light-primary, var(--oo-color-primary));
    }

    @include hover() {
      background-color: var(
        --oo-color-light-mix-primary-contrast-20,
        var(--oo-color-mix-primary-contrast-20)
      );
      border-color: var(
        --oo-color-light-mix-primary-contrast-20,
        var(--oo-color-mix-primary-contrast-20)
      );
    }

    @include focus-visible() {
      outline-color: var(--oo-color-light-text, var(--oo-color-text));
    }

    @include active() {
      background-color: var(
        --oo-color-light-mix-primary-contrast-40,
        var(--oo-color-mix-primary-contrast-40)
      );
      border-color: var(
        --oo-color-light-mix-primary-contrast-40,
        var(--oo-color-mix-primary-contrast-40)
      );
    }

    @include disabled() {
      background-color: var(--oo-color-light-primary, var(--oo-color-primary));
      border-color: var(--oo-color-light-primary, var(--oo-color-primary));
      outline-color: transparent;
    }
  }

  &.--on-bg-dark,
  .--bg-dark & {
    @include plain-visited() {
      color: var(--oo-color-dark-contrast-primary);
      background-color: var(--oo-color-dark-primary, var(--oo-color-primary));
      border-color: var(--oo-color-dark-primary, var(--oo-color-primary));
    }

    @include hover() {
      background-color: var(--oo-color-dark-mix-primary-contrast-20);
      border-color: var(--oo-color-dark-mix-primary-contrast-20);
    }

    @include focus-visible() {
      outline-color: var(--oo-color-dark-primary, var(--oo-color-primary));
    }

    @include active() {
      background-color: var(--oo-color-dark-mix-primary-contrast-40);
      border-color: var(--oo-color-dark-mix-primary-contrast-40);
    }

    @include disabled() {
      background-color: var(--oo-color-dark-primary);
      border-color: var(--oo-color-dark-primary);
      outline-color: transparent;
    }
  }

  &.--on-bg-primary,
  .--bg-primary & {
    @include plain-visited() {
      color: var(--oo-color-primary-contrast-primary);
      background-color: var(
        --oo-color-primary-primary,
        var(--oo-color-primary)
      );
      border-color: var(--oo-color-primary-primary, var(--oo-color-primary));
    }

    @include hover() {
      background-color: var(--oo-color-primary-mix-primary-contrast-20);
      border-color: var(--oo-color-primary-mix-primary-contrast-20);
    }

    @include focus-visible() {
      outline-color: var(--oo-color-primary-primary, var(--oo-color-primary));
    }

    @include active() {
      background-color: var(--oo-color-primary-mix-primary-contrast-40);
      border-color: var(--oo-color-primary-mix-primary-contrast-40);
    }

    @include disabled() {
      background-color: var(--oo-color-primary-primary);
      border-color: var(--oo-color-primary-primary);
      outline-color: transparent;
    }
  }

  &.--on-bg-secondary,
  .--bg-secondary & {
    @include plain-visited() {
      color: var(--oo-color-secondary-contrast-primary);
      background-color: var(
        --oo-color-secondary-primary,
        var(--oo-color-primary)
      );
      border-color: var(--oo-color-secondary-primary, var(--oo-color-primary));
    }

    @include hover() {
      background-color: var(--oo-color-secondary-mix-primary-contrast-20);
      border-color: var(--oo-color-secondary-mix-primary-contrast-20);
    }

    @include active() {
      background-color: var(--oo-color-secondary-mix-primary-contrast-40);
      border-color: var(--oo-color-secondary-mix-primary-contrast-40);
    }

    @include disabled() {
      background-color: var(--oo-color-secondary-primary);
      border-color: var(--oo-color-secondary-primary);
      outline-color: transparent;
    }
  }

  &.--on-bg-footer,
  .--bg-footer & {
    @include plain-visited() {
      color: var(--oo-color-footer-contrast-primary);
      background-color: var(--oo-color-footer-primary, var(--oo-color-primary));
      border-color: var(--oo-color-footer-primary, var(--oo-color-primary));
    }

    @include hover() {
      background-color: var(--oo-color-footer-mix-primary-contrast-20);
      border-color: var(--oo-color-footer-mix-primary-contrast-20);
    }

    @include active() {
      background-color: var(--oo-color-footer-mix-primary-contrast-40);
      border-color: var(--oo-color-footer-mix-primary-contrast-40);
    }

    @include disabled() {
      background-color: var(--oo-color-footer-primary);
      border-color: var(--oo-color-footer-primary);
      outline-color: transparent;
    }
  }

  &.--on-bg-transparent,
  .--bg-transparent & {
    @include plain-visited() {
      color: var(--oo-color-contrast-primary);
      background-color: var(--oo-color-primary);
      border-color: var(--oo-color-primary);
    }

    @include hover() {
      background-color: var(--oo-color-mix-primary-contrast-20);
      border-color: var(--oo-color-mix-primary-contrast-20);
    }

    @include focus-visible() {
      outline-color: var(--oo-color-text);
    }

    @include active() {
      background-color: var(--oo-color-mix-primary-contrast-40);
      border-color: var(--oo-color-mix-primary-contrast-40);
    }

    @include disabled() {
      background-color: var(--oo-color-primary);
      border-color: var(--oo-color-primary);
      outline-color: transparent;
    }
  }

  &.--ghost {
    @include plain-visited() {
      color: var(--oo-color-primary);
      background-color: transparent;
      border-color: var(--oo-color-primary);
    }

    @include hover() {
      color: var(--oo-color-mix-primary-contrast-30);
      border-color: var(--oo-color-mix-primary-contrast-30);
      background-color: transparent;
    }

    @include focus-visible() {
      outline-color: var(--oo-color-text);
    }

    @include active() {
      color: var(--oo-color-mix-primary-contrast-40);
      border-color: var(--oo-color-mix-primary-contrast-40);
      background-color: transparent;
    }

    @include disabled() {
      color: var(--oo-color-text);
      background-color: transparent;
      border-color: var(--oo-color-text);
      opacity: 0.2;
      outline-color: transparent;
      cursor: default;
    }

    &.--on-bg-light,
    .--bg-light & {
      @include plain-visited() {
        color: var(--oo-color-light-primary, var(--oo-color-primary));
        background-color: transparent;
        border-color: var(--oo-color-light-primary, var(--oo-color-primary));
      }

      @include hover() {
        color: var(
          --oo-color-light-mix-primary-contrast-30,
          var(--oo-color-mix-primary-contrast-30)
        );
        border-color: var(
          --oo-color-light-mix-primary-contrast-30,
          var(--oo-color-mix-primary-contrast-30)
        );
        background-color: transparent;
      }

      @include focus-visible() {
        outline-color: var(--oo-color-light-text);
      }

      @include active() {
        color: var(
          --oo-color-light-mix-primary-contrast-40,
          var(--oo-color-mix-primary-contrast-40)
        );
        border-color: var(
          --oo-color-light-mix-primary-contrast-40,
          var(--oo-color-mix-primary-contrast-40)
        );
        background-color: transparent;
      }

      @include disabled() {
        color: var(--oo-color-light-text, var(--oo-color-text));
        background-color: transparent;
        border-color: var(--oo-color-light-text, var(--oo-color-text));
        outline-color: transparent;
      }
    }

    &.--on-bg-dark,
    .--bg-dark & {
      @include plain-visited() {
        color: var(--oo-color-dark-text, var(--oo-color-text));
        background-color: transparent;
        border-color: var(--oo-color-dark-text, var(--oo-color-text));
      }

      @include hover() {
        color: var(--oo-color-dark-mix-text-contrast-30);
        border-color: var(--oo-color-dark-mix-text-contrast-30);
        background-color: transparent;
      }

      @include focus-visible() {
        outline-color: var(--oo-color-dark-primary, var(--oo-color-primary));
      }

      @include active() {
        color: var(--oo-color-dark-mix-text-contrast-40);
        border-color: var(--oo-color-dark-mix-text-contrast-40);
        background-color: transparent;
      }

      @include disabled() {
        color: var(--oo-color-dark-text);
        background-color: transparent;
        border-color: var(--oo-color-dark-text);
        outline-color: transparent;
      }
    }

    &.--on-bg-primary,
    .--bg-primary & {
      @include plain-visited() {
        color: var(--oo-color-primary-text, var(--oo-color-text));
        background-color: transparent;
        border-color: var(--oo-color-primary-text, var(--oo-color-text));
      }

      @include hover() {
        color: var(--oo-color-primary-mix-text-contrast-30);
        border-color: var(--oo-color-primary-mix-text-contrast-30);
        background-color: transparent;
      }

      @include focus-visible() {
        outline-color: var(--oo-color-primary-primary, var(--oo-color-primary));
      }

      @include active() {
        color: var(--oo-color-primary-mix-text-contrast-40);
        border-color: var(--oo-color-primary-mix-text-contrast-40);
        background-color: transparent;
      }

      @include disabled() {
        color: var(--oo-color-primary-text);
        background-color: transparent;
        border-color: var(--oo-color-primary-text);
        outline-color: transparent;
      }
    }

    &.--on-bg-secondary,
    .--bg-secondary & {
      @include plain-visited() {
        color: var(--oo-color-secondary-text, var(--oo-color-text));
        background-color: transparent;
        border-color: var(--oo-color-secondary-text, var(--oo-color-text));
      }

      @include hover() {
        color: var(--oo-color-secondary-mix-text-contrast-30);
        border-color: var(--oo-color-secondary-mix-text-contrast-30);
        background-color: transparent;
      }

      @include focus-visible() {
        outline-color: var(
          --oo-color-secondary-primary,
          var(--oo-color-primary)
        );
      }

      @include active() {
        color: var(--oo-color-secondary-mix-text-contrast-40);
        border-color: var(--oo-color-secondary-mix-text-contrast-40);
        background-color: transparent;
      }

      @include disabled() {
        color: var(--oo-color-secondary-text);
        background-color: transparent;
        border-color: var(--oo-color-secondary-text);
        outline-color: transparent;
      }
    }

    &.--on-bg-footer,
    .--bg-footer & {
      @include plain-visited() {
        color: var(--oo-color-footer-text, var(--oo-color-text));
        background-color: transparent;
        border-color: var(--oo-color-footer-text, var(--oo-color-text));
      }

      @include hover() {
        color: var(--oo-color-footer-mix-text-contrast-30);
        border-color: var(--oo-color-footer-mix-text-contrast-30);
        background-color: transparent;
      }

      @include focus-visible() {
        outline-color: var(--oo-color-footer-primary, var(--oo-color-primary));
      }

      @include active() {
        color: var(--oo-color-footer-mix-text-contrast-40);
        border-color: var(--oo-color-footer-mix-text-contrast-40);
        background-color: transparent;
      }

      @include disabled() {
        color: var(--oo-color-footer-text, var(--oo-color-text));
        background-color: transparent;
        border-color: var(--oo-color-footer-text, var(--oo-color-text));
        outline-color: transparent;
      }
    }

    &.--on-bg-transparent,
    .--bg-transparent & {
      @include plain-visited() {
        color: var(--oo-color-primary);
        background-color: transparent;
        border-color: var(--oo-color-primary);
      }

      @include hover() {
        color: var(--oo-color-mix-primary-contrast-30);
        border-color: var(--oo-color-mix-primary-contrast-30);
        background-color: transparent;
      }

      @include focus-visible() {
        outline-color: var(--oo-color-text);
      }

      @include active() {
        color: var(--oo-color-mix-primary-contrast-40);
        border-color: var(--oo-color-mix-primary-contrast-40);
        background-color: transparent;
      }

      @include disabled() {
        color: var(--oo-color-text);
        background-color: transparent;
        border-color: var(--oo-color-text);
        outline-color: transparent;
      }
    }
  }

  &.--full-width {
    width: 100%;
  }

  &.--show-more {
    display: inline-block;
    margin-top: 1rem;
  }
}
