.c-map {
  $c-map: &;

  width: 100%;
  height: auto;
  aspect-ratio: 2/3;
  max-height: 60vh;
  outline: $outline;
  outline-offset: $outline-offset;
  box-shadow: 0px 0px 0px $outline-offset transparent;

  @include media-breakpoint-up(md) {
    aspect-ratio: 2/1;
  }

  @include focus-visible() {
    outline-color: currentColor;
    box-shadow: 0px 0px 0px $outline-offset var(--oo-color-contrast-primary);
  }

  button,
  a[role='button'] {
    outline: $outline;
    outline-offset: $outline-offset;

    @include focus-visible() {
      outline-color: var(--oo-color-primary);
    }
  }

  &.--is-colored {
  }

  &.--is-open-street-map {
    #{$c-map}__osm-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    background-color: #aad3df;

    &.--is-black-white {
      // open street map
      .leaflet-tile {
        filter: grayscale(100%) contrast(110%);
      }
      background-color: #d3d3d3;
    }

    &.--is-dark {
      .leaflet-tile {
        filter: invert(100%) hue-rotate(180deg) contrast(98%) grayscale(95%);
      }
      background-color: #323434;
    }

    &.--is-retro {
      .leaflet-tile {
        filter: sepia(0.4) contrast(1) brightness(1) saturate(1.2);
      }
      background-color: #bcc7ab;

      #{$c-map}__custom-pane {
        mix-blend-mode: hard-light;
      }

      #{$c-map}__osm-overlay {
        background-color: #4c41223d;
      }
    }

    &.--is-aubergine {
      .leaflet-tile {
        filter: invert(90%) hue-rotate(200deg) brightness(85%) saturate(150%)
          contrast(95%) sepia(20%) saturate(140%);
      }
      background-color: #224555;

      #{$c-map}__custom-pane {
        mix-blend-mode: hue;
      }

      #{$c-map}__osm-overlay {
        background-color: #023e58;
      }
    }
  }

  // google map
  .gm-style {
    // marker
    div {
      color: var(--oo-color-primary);
      outline: $outline;
      outline-offset: $outline-offset;

      @include focus-visible() {
        outline-color: var(--oo-color-primary);
      }
    }
    // info window
    .gm-style-iw {
      background-color: var(--oo-color-bg);
      color: var(--oo-color-text);
      padding: 0.75rem !important;
    }
    .gm-style-iw-tc {
      &:after {
        background-color: var(--oo-color-bg);
      }
    }
    .gm-style-iw-d {
      overflow-x: hidden !important;
      overflow-y: auto !important;
      scrollbar-color: var(--oo-color-text) var(--oo-color-bg) !important;
    }
    .gm-ui-hover-effect {
      opacity: 1 !important;
      > span {
        background: var(--oo-color-text);
      }
    }
  }

  // open street map
  // info window
  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    background-color: var(--oo-color-bg);
  }
  a.leaflet-popup-close-button {
    color: var(--oo-color-text);
    @include visited-active() {
      color: var(--oo-color-text);
    }

    @include hover-focus() {
      color: var(--oo-color-text);
    }
  }
  .leaflet-popup-content p {
    margin: 0;
  }

  &__marker {
    display: none;
    outline: $outline;
    outline-offset: $outline-offset;

    @include focus-visible() {
      outline-color: var(--oo-color-primary);
    }
  }

  &__cluster-marker {
    display: none;
    outline: $outline;
    outline-offset: $outline-offset;

    @include focus-visible() {
      outline-color: var(--oo-color-primary);
    }
  }

  &__info {
    color: var(--oo-color-text) !important;
    font-family: $font-family-text;
    font-weight: $font-weight-text;
    @include font-size($global-font-size, $global-line-height);
    max-width: 20rem;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__headline {
    max-height: calc($mobile-h3-line-height * 3);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;

    @include media-breakpoint-up(xl) {
      max-height: calc($desktop-h3-line-height * 3);
    }
  }

  &__text {
  }

  &__button-wrapper {
    .c-property-details & {
      display: none;
    }
  }

  &__link-wrapper {
  }

  &__link {
  }

  &__button {
  }
}
