.c-news-details {
  $c-news-details: &;
  
  &__container {
    display: flex;
    flex-direction: row; // Standard row direction
  }

  &__content {
    flex: 1; // Take remaining space
    padding-right: 2rem; // Add some space between content and image
  }

  &__media {
    width: 50%; // Fixed width for the image section
    order: 2; // Force to the right side
  }

  &__picture {
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1.5rem; // 24px
  }

  &__category {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.75rem;
    background-color: var(--oo-color-mix-bg-contrast-05);
    color: var(--oo-color-text);
    font-size: 1rem;
    line-height: 1.75;
    border-radius: 4px;
  }

  &__date {
    display: block;
    width: fit-content;
    font-size: 1rem;
    line-height: 1.75;
    color: var(--oo-color-text);
    margin-bottom: 1.5rem; // 24px
  }

  &__title {
    font-size: 2.5rem;
    line-height: 1.3;
    color: var(--oo-color-headline);
    margin-bottom: 1.5rem; // 24px
  }

  &__text {
    font-size: 1rem;
    line-height: 1.75;
    color: var(--oo-color-text);

    p {
      margin-bottom: 1.5rem;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  & + * {
    padding-top: $mobile-section-padding-top;
  }
}
