.c-news-details {
  $c-news-details: &;

  &__banner {
    max-width: 100%;
    width: 100vw;
    height: 70vh;
    background-color: var(--oo-color-mix-bg-text-20);

    @include media-breakpoint-up(xl) {
      min-height: 70vh;
    }
    @include media-breakpoint-up(xxl) {
      min-height: 80vh;
    }
  }

  &__picture {
  }

  &__image {
  }

  &__info {
    padding-top: calc($mobile-header-height + $mobile-section-padding-top);
    @include media-breakpoint-up(xl) {
      padding-top: calc($mobile-header-height + $desktop-section-padding-top);
    }
    @include media-breakpoint-up(xxl) {
      padding-top: calc($desktop-header-height + $desktop-section-padding-top);
    }
  }

  &__container {
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include media-breakpoint-up(xl) {
      gap: 2rem;
    }
  }

  &__date {
    color: var(--oo-color-contrast-primary);
    background-color: var(--oo-color-primary);
    border: 2px solid var(--oo-color-bg);
    font-family: $font-family-button;
    font-weight: $font-weight-button;
    padding: 0.5rem 0.75rem;
    width: fit-content;
  }

  &__title {
  }

  &__text {
  }

  &__banner + &__info {
    padding-top: $mobile-section-padding-top;
    @include media-breakpoint-up(xl) {
      padding-top: $desktop-section-padding-top;
    }
  }

  & + * {
    padding-top: $mobile-section-padding-top;
    @include media-breakpoint-up(xl) {
      padding-top: $desktop-section-padding-top;
    }
  }
}
