.c-address-details {
  $c-address-details: &;

  position: relative;
  display: flex;
  flex-direction: column;

  &__container {
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      gap: 0;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__name {
  }

  &__job {
    font-family: $font-family-text-bold;
    font-weight: $font-weight-text-bold;
  }

  &__reviews {
  }

  &__features {
  }

  &__features-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;

    &.--is-open {
      max-height: 100rem;
      display: contents;
    }
  }

  &__more {
    margin-top: 1rem;
    align-self: flex-start;
  }

  &__sidebar {
    display: contents;

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__sidebar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 1rem;
    width: 100%;

    @include media-breakpoint-up(lg) {
      padding-inline: 0;
    }
  }

  &__networks {
  }

  &__picture {
    overflow: hidden;
    aspect-ratio: 1/1;
    order: -1;
    margin-inline: 1rem;
    width: calc(100% - 2rem);
    height: auto;

    @include media-breakpoint-up(lg) {
      order: unset;
      margin-inline: 0;
      width: 100%;
    }
  }

  &__image {
  }

  &__buttons {
  }

  &__button-contact {
  }

  &__button-share {
  }

  &__properties {
    // if no properties
    &:not(:has(.c-property-card)) {
      display: none;
    }
  }

  &__form {
  }
}
