.c-player {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out, transform 0.25s ease-in-out;

  --oo-play-icon-shadow-size: 2px 2px 10px;
  --oo-play-icon-shadow-opacity: 0.5;

  svg {
    height: 2.5rem;
  }

  &.--on-bg-transparent {
    color: var(--oo-color-primary);

    svg {
      filter: drop-shadow(
        var(--oo-play-icon-shadow-size)
          rgba(
            var(--oo-color-bg-r),
            var(--oo-color-bg-g),
            var(--oo-color-bg-b),
            var(--oo-play-icon-shadow-opacity)
          )
      );
    }

    @include hover() {
      background-color: var(--oo-color-transparent-bg-25);
    }
  }

  &.--on-bg-light {
    color: var(--oo-color-light-primary, var(--oo-color-primary));

    svg {
      filter: drop-shadow(
        var(--oo-play-icon-shadow-size)
          rgba(
            var(--oo-color-light-bg-r),
            var(--oo-color-light-bg-g),
            var(--oo-color-light-bg-b),
            var(--oo-play-icon-shadow-opacity)
          )
      );
    }

    @include hover() {
      background-color: var(
        --oo-color-light-transparent-bg-25,
        var(--oo-color-transparent-bg-25)
      );
    }
  }

  &.--on-bg-dark {
    color: var(--oo-color-dark-primary, var(--oo-color-primary));

    svg {
      filter: drop-shadow(
        var(--oo-play-icon-shadow-size)
          rgba(
            var(--oo-color-dark-bg-r),
            var(--oo-color-dark-bg-g),
            var(--oo-color-dark-bg-b),
            var(--oo-play-icon-shadow-opacity)
          )
      );
    }

    @include hover() {
      background-color: var(
        --oo-color-dark-transparent-bg-25,
        var(--oo-color-transparent-bg-25)
      );
    }
  }

  &.--on-bg-primary {
    color: var(--oo-color-primary-primary, var(--oo-color-primary));

    svg {
      filter: drop-shadow(
        var(--oo-play-icon-shadow-size)
          rgba(
            var(--oo-color-primary-bg-r),
            var(--oo-color-primary-bg-g),
            var(--oo-color-primary-bg-b),
            var(--oo-play-icon-shadow-opacity)
          )
      );
    }

    @include hover() {
      background-color: var(
        --oo-color-primary-transparent-bg-25,
        var(--oo-color-transparent-bg-25)
      );
    }
  }

  &.--on-bg-secondary {
    color: var(--oo-color-secondary-primary, var(--oo-color-primary));

    svg {
      filter: drop-shadow(
        var(--oo-play-icon-shadow-size)
          rgba(
            var(--oo-color-secondary-bg-r),
            var(--oo-color-secondary-bg-g),
            var(--oo-color-secondary-bg-b),
            var(--oo-play-icon-shadow-opacity)
          )
      );
    }

    @include hover() {
      background-color: var(
        --oo-color-secondary-transparent-bg-25,
        var(--oo-color-transparent-bg-25)
      );
    }
  }
}
