.c-news-card {
  $c-news-card: &;

  color: var(--oo-color-text);
  background-color: var(--oo-color-bg);
  border: 2px solid var(--oo-color-bg);
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;

  &__wrapper {
    position: relative;
    display: flex;
    background-color: var(--oo-color-transparent-text-20);
    border-bottom: 2px;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    & .c-placeholder {
      border-radius: $border-radius;
    }
  }

  &__date {
    position: absolute;
    border-radius: $border-radius;
    top: 4px;
    right: 4px;
    color: var(--oo-color-contrast-primary);
    background-color: var(--oo-color-primary);
    font-family: $font-family-button;
    font-weight: $font-weight-button;
    display: flex;
    padding: 0.5rem 0.75rem;
  }

  &__picture {
    border-radius: $border-radius $border-radius 0 0;
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__content {
    width: 100%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    gap: 1rem;
    flex-grow: 1;
  }

  &__title {
  }

  &__text {
    flex-grow: 1;
  }

  &__button {
    margin-top: auto;
    width: fit-content;
  }
}
