.c-news-details {
  $c-news-details: &;

  &__banner {
    max-width: 100%;
    width: 100vw;
    height: 70vh;
    background-color: var(--oo-color-mix-bg-text-20);

    @include media-breakpoint-up(xl) {
      min-height: 70vh;
    }
    @include media-breakpoint-up(xxl) {
      min-height: 80vh;
    }
  }

  &__picture {
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
  }

  &__info {
    padding-top: calc($mobile-header-height + $mobile-section-padding-top);
    @include media-breakpoint-up(xl) {
      padding-top: calc($mobile-header-height + $desktop-section-padding-top);
    }
  }

  &__container {
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include media-breakpoint-up(xl) {
      gap: 2rem;
    }
  }

  &__date {
    width: fit-content;
  }

  &__title {
  }

  &__text {
  }

  &__banner + &__info {
    padding-top: $mobile-section-padding-top;
    @include media-breakpoint-up(xl) {
      padding-top: $desktop-section-padding-top;
    }
  }

  & + * {
    padding-top: $mobile-section-padding-top;
    @include media-breakpoint-up(xl) {
      padding-top: $desktop-section-padding-top;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    @include media-breakpoint-up(lg) {
      gap: 0;
    }
  }
}
