.c-team-card {
  $c-team-card: &;

  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: var(--oo-color-primary);

  @include hover-focus-active() {
    @include media-breakpoint-up(xl) {
      #{$c-team-card}__overlay {
        transform: translateY(0);
      }
      #{$c-team-card}__header {
        padding-bottom: 0.25rem;
      }
      #{$c-team-card}__icon {
        &.--less {
          display: flex;
        }
        &.--more {
          display: none;
        }
      }
    }
  }

  &__picture {
    height: auto;
    aspect-ratio: 3 / 4;
  }

  &__image {
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--oo-color-transparent-bg-80);

    @include media-breakpoint-up(xl) {
      transform: translateY(100%);
      transition: transform 0.25s ease-in-out;
    }

    &:not(:has(#{$c-team-card}__job)) {
      #{$c-team-card}__header {
        padding-bottom: 1rem;
      }
    }
  }

  &__header {
    position: absolute;
    top: 0;
    padding: 1rem 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--oo-color-transparent-bg-80);
    transform: translateY(-100%);
    transition: transform 0.25s ease-in-out, padding 0.25s ease-in-out;

    @include media-breakpoint-up(xl) {
      padding: 1rem;
      min-height: 7.5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0 1rem 1rem;
  }

  &__icon {
    display: none;
    transition: all 0.25s ease-in-out;

    &.--more,
    &.--less {
      display: none;
    }

    @include media-breakpoint-up(xl) {
      display: flex;
      align-self: center;
      margin-top: -2rem;

      &.--more {
        display: flex;

        &.--visible {
          display: flex;
        }
      }
      &.--less {
        &.--visible {
          display: flex;
        }
        display: none;
      }
    }
  }

  &__name {
    @include media-breakpoint-up(xl) {
      width: min-content;
    }
  }

  &__job {
    font-family: $font-family-text-bold;
    font-weight: $font-weight-text-bold;
    font-size: 1.25rem;
    line-height: 1.75rem;
    @include media-breakpoint-up(xl) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__contact {
    hyphens: auto;
    word-break: break-word;

    &.--is-networks {
      margin-top: 1rem;
    }
  }

  &__button {
    margin-top: 1rem;
  }

  &.--on-bg-light {
    background-color: var(--oo-color-light-primary);
    #{$c-team-card}__overlay,
    #{$c-team-card}__header {
      background-color: var(--oo-color-light-transparent-bg-80);
    }
  }
  &.--on-bg-dark {
    background-color: var(--oo-color-dark-primary);
    #{$c-team-card}__overlay,
    #{$c-team-card}__header {
      background-color: var(--oo-color-dark-transparent-bg-80);
    }
  }
  &.--on-bg-primary {
    background-color: var(--oo-color-primary-primary);
    #{$c-team-card}__overlay,
    #{$c-team-card}__header {
      background-color: var(--oo-color-primary-transparent-bg-80);
    }
  }
  &.--on-bg-secondary {
    background-color: var(--oo-color-secondary-primary);
    #{$c-team-card}__overlay,
    #{$c-team-card}__header {
      background-color: var(--oo-color-secondary-transparent-bg-80);
    }
  }
}
