.c-review-card {
  $c-review-card: &;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header {
    display: flex;
    height: 100px;
    align-items: flex-start;
    &.--hide-images {
      height: auto;
      align-items: center;
    }
  }

  &__image-wrapper {
    flex: 0 0 100px;
  }

  &__picture {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    gap: 0.5rem;
    &.--hide-images {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 0;
      width: 100%;
      .c-review-card__date {
        align-self: center;
        margin-left: 0;
      }
      .c-review-card__stars {
        align-self: center;
        margin-right: 0;
      }
    }
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: auto;
    padding: 1.5rem;
  }

  &__content-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__name {
  }

  &__text {
    &.--shorten {
      max-height: calc($global-line-height * 7);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      transition: max-height 0.25s ease-in-out;

      @include media-breakpoint-up(xl) {
        max-height: calc($global-line-height * 10);
        -webkit-line-clamp: 10;
        line-clamp: 10;
      }

      &.--is-open {
        flex-grow: 1;
        max-height: none;
        -webkit-line-clamp: unset;
        line-clamp: unset;
        overflow: visible;
      }
    }
  }

  &__more {
    display: none;
  }

  &__title {
  }
  &__date {
  }

  &__stars {
    .c-stars__star {
      height: 1.25rem;
    }
  }
  background-color: var(--oo-color-mix-bg-contrast-05);
  .--bg-light & {
    background-color: var(
      --oo-color-light-mix-bg-contrast-05,
      var(--oo-color-mix-bg-contrast-05)
    );
  }

  .--bg-dark & {
    background-color: var(
      --oo-color-dark-mix-bg-contrast-05,
      var(--oo-color-mix-bg-contrast-05)
    );
  }

  .--bg-primary & {
    background-color: var(
      --oo-color-primary-mix-bg-contrast-05,
      var(--oo-color-mix-bg-contrast-05)
    );
  }

  .--bg-secondary & {
    background-color: var(
      --oo-color-secondary-mix-bg-contrast-05,
      var(--oo-color-mix-bg-contrast-05)
    );
  }
}
