.c-leadgenerator {
  $leadgenerator: &;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  &__content {
    gap: 1.5rem;
  }

  &__headline {
  }

  &__text {
  }
}
