.c-module-text {
  $c-module-text: &;

  &__headline {
  }

  &__text {
    @include media-breakpoint-up(xxl) {
      display: inline;
    }
  }

  &__buttons {
    flex-direction: column;
  }

  &__button {
  }

  &.--is-header {
  }
  &.--is-footer {
  }
}
