.c-property-list {
  $c-property-list: &;

  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include media-breakpoint-up(xxl) {
      gap: 2rem;
    }
  }

  &__content {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
    @include media-breakpoint-up(xxl) {
      gap: 2rem;
      margin-bottom: 3rem;
    }

    .--is-address-details & {
      margin-bottom: 0;
    }
  }

  &__headline {
  }

  &__text {
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include media-breakpoint-up(lg) {
      gap: 2rem;
    }
  }

  &__nav {
    display: flex;
    align-items: flex-end;
    gap: 1.5rem 0;

    @include media-breakpoint-up(lg) {
      gap: unset;
    }
  }

  &__count {
    font-size: 1.5rem;
    text-transform: uppercase;

    &.--no-properties {
    }
  }

  &__sort-wrapper {
    display: flex;
    justify-content: flex-start;

    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
    }
  }

  &__sort {
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: auto;
    }
  }

  &__properties {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1.5rem;

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    @include media-breakpoint-up(xxl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__slider {
  }

  &__pagination {
  }

  &__buttons-wrapper {
  }

  &__buttons {
  }
}
