.c-popup {
  $c-popup: &;
  display: flex;
  position: fixed;
  inset: 0;
  z-index: 50001;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.35s ease, visibility 0.35s ease;
  opacity: 0;
  visibility: hidden;
  max-height: 80vh;

  @include media-breakpoint-up(lg) {
    max-width: 50vw;
  }

  &.--is-open {
    opacity: 1;
    visibility: visible;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.35s ease;
  }

  &.--is-open::backdrop {
    cursor: pointer;
    background-color: var(--oo-color-transparent-shadow-80);
  }

  &__wrapper {
    max-width: calc(100vw - 2rem);
    max-height: calc(100dvh - 2rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--oo-color-bg);
    box-shadow: 0 0 5px var(--oo-color-transparent-shadow-15);
    position: relative;
    z-index: 1003;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.5rem 0.5rem 0 1rem;
  }

  &__title {
    @include font-size($mobile-h4-font-size, $mobile-h4-line-height);
    font-weight: $font-weight-headline;

    @include media-breakpoint-up(xl) {
      @include font-size($desktop-h4-font-size, $desktop-h4-line-height);
    }
  }

  &__close {
    flex-shrink: 0;
    width: $icon-wrapper-size;
    height: $icon-wrapper-size;
  }

  &__content {
    padding: 0 1rem 2rem;
    overflow-y: auto;
  }

  &.--is-share {
    #{$c-popup}__wrapper {
      @include media-breakpoint-up(lg) {
        min-width: 600px;
      }
    }
    #{$c-popup}__content {
      overflow: visible;
    }
  }

  &.--is-login {
    margin: auto;
    width: fit-content;
    #{$c-popup}__wrapper {
      @include media-breakpoint-up(md) {
        min-width: 450px;
        width: auto;
      }
    }

    #{$c-popup}__content {
      width: 100%;
      padding: 2rem;
      padding-top: 3rem;
    }

    #{$c-popup}__close {
      min-width: unset;
      background-color: transparent;
      width: 2rem;
      height: 2rem;
      border-color: transparent;
      padding: 0;
      right: 16px;
      top: 16px;
      position: absolute;
      .c-button__icon {
        width: 2rem;
        height: 2rem;
        color: black;
      }
    }
  }

  &.--is-widget {
    #{$c-popup} {
      &__close {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
      }

      &__row {
        margin: 0;
        height: 100%;
      }

      &__wrapper {
        border: none;
        box-shadow: 0 0 5px var(--oo-color-transparent-shadow-15);
        overflow-y: auto;

        @include media-breakpoint-up(lg) {
          overflow: hidden;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem;

        @include media-breakpoint-up(lg) {
          height: 100%;
          max-height: 80vh;
          padding-top: 3.5rem;
        }
      }

      &__text {
        word-wrap: break-word;
      }

      &__picture {
        aspect-ratio: 4 / 3;
        width: 100%;
        height: max-content;
        padding: 0;

        @include media-breakpoint-up(lg) {
          height: 100%;
        }
      }

      &__headline {
        max-width: calc(100% - 2rem);

        @include media-breakpoint-up(lg) {
          max-width: 100%;
        }
      }

      &__buttons {
        margin-top: auto;
      }
    }

    // Image Helper
    &.--has-image {
    }

    // Background Colors
    &.--bg-transparent {
      #{$c-popup} {
        &__wrapper {
          background-color: var(--oo-color-bg);
        }
      }
    }

    &.--bg-light {
      #{$c-popup} {
        &__wrapper {
          background-color: var(--oo-color-light-bg);
        }
      }
    }

    &.--bg-dark {
      #{$c-popup} {
        &__wrapper {
          background-color: var(--oo-color-dark-bg);
        }
      }
    }

    &.--bg-primary {
      #{$c-popup} {
        &__wrapper {
          background-color: var(--oo-color-primary-bg);
        }
      }
    }

    &.--bg-secondary {
      #{$c-popup} {
        &__wrapper {
          background-color: var(--oo-color-secondary-bg);
        }
      }
    }
  }

  &.--is-fullscreen {
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0;
    padding-right: 0;
    @include media-breakpoint-up(lg) {
      min-width: 600px;
      max-width: 95%;
    }
    #{$c-popup}__wrapper {
    }

    &:not(.--has-image) {
      #{$c-popup}__wrapper {
        @include media-breakpoint-up(lg) {
          max-width: 1024px;
        }
      }
    }
  }

  &.--is-sticky {
    z-index: 50000;

    @include media-breakpoint-up(lg) {
      left: auto;
      top: auto;

      right: 0;
      bottom: 0;
    }

    &:not(.--has-image) {
      #{$c-popup}__headline {
        max-width: calc(100% - 2.25rem);
      }
    }

    #{$c-popup} {
      &__wrapper {
        max-width: 400px;
        overflow-y: auto;
      }

      &__content {
        padding: 1.5rem 1rem;
        max-height: max-content;
        overflow: visible;
      }
    }
  }
}
