.c-media-text {
  $c-media-text: &;

  &__container {
  }

  &__row {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    @include media-breakpoint-up(lg) {
      gap: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include media-breakpoint-up(xl) {
      gap: 2rem;
    }
  }

  &__headline {
  }

  &__text {
  }

  &__picture {
    order: -1;

    @include media-breakpoint-up(xl) {
      order: unset;
    }

    .--is-icon & {
      text-align: center;
    }
  }

  &__placeholder {
    aspect-ratio: 4 / 3;
    border-radius: $component-border-radius;
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    border-radius: $component-border-radius;

    .--is-icon & {
      width: auto;
      height: auto;
      max-width: 100%;
      aspect-ratio: auto;
    }
  }

  &__video {
    order: -1;
    width: 100%;

    @include media-breakpoint-up(xl) {
      order: unset;
    }
  }

  &__thumbnail-wrapper {
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: transparent;
      transition: background-color 0.25s ease-in-out;
    }

    @include hover-focus-active {
      &:after {
        background-color: var(--oo-color-transparent-bg-25);

        .--bg-light & {
          background-color: var(--oo-color-light-transparent-bg-25);
        }

        .--bg-dark & {
          background-color: var(--oo-color-dark-transparent-bg-25);
        }

        .--bg-primary & {
          background-color: var(--oo-color-primary-transparent-bg-25);
        }

        .--bg-secondary & {
          background-color: var(--oo-color-secondary-transparent-bg-25);
        }
      }
      #{$c-media-text}__thumbnail-image {
        transform: scale(1.05);
      }
      #{$c-media-text}__play {
        &.--on-bg-transparent {
          background: var(--oo-color-mix-primary-contrast-10);
        }
      }
    }
  }

  &__thumbnail-picture {
    overflow: hidden;
    border-radius: $component-border-radius;
  }

  &__thumbnail-image {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    transition: transform 0.3s;

    .--is-video & {
      aspect-ratio: 16 / 9;
    }
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    svg {
      height: 2.5rem;
      filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
    }
  }

  &__iframe {
    border: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    display: none;

    .--has-no-thumbnail & {
      display: block;
    }
  }

  &__buttons {
  }
}
