.c-team {
  $c-team: &;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    @include media-breakpoint-up(md) {
      gap: 5rem;
    }
    @include media-breakpoint-down(sm) {
      max-width: 100vw;
    }
  }

  &__row {
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem 0;
  }

  &__headline {
  }

  &__text {
  }

  &__wrapper {
    margin-inline: -1rem;
    @include media-breakpoint-up(md) {
      margin-inline: 0;
    }
  }

  &__members {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 1rem;
    width: 100%;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include media-breakpoint-up(xxl) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  &__slider {
    overflow: visible;
    width: 100vw;

    @include media-breakpoint-up(md) {
      width: auto;
    }
  }

  &__buttons {
    justify-content: start;
    margin-top: 2.5rem;
    @include media-breakpoint-up(md) {
      margin-top: 3.75rem;
    }
  }
}
