.c-pagination {
  $c-pagination: &;

  &__list {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: min-content;
    margin: 0 auto;
    padding: 0.625rem;
    background-color: var(--oo-color-mix-bg-contrast-05);
    @include media-breakpoint-up(xl) {
      gap: 0.5rem;
    }
  }

  &__item {
    font-family: $font-family-button;
    font-weight: $font-weight-button;
  }

  &__link {
    width: $icon-size;
    height: $icon-size;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0 0.5rem;
    border-radius: 50%;
    outline: $outline;
    outline-offset: $outline-offset;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
      outline-color 0.25s ease-in-out;
    cursor: pointer;

    @include plain-visited() {
      color: var(--oo-color-text);
      background-color: transparent;
    }

    @include hover() {
      background-color: var(--oo-color-mix-primary-contrast-20);
      color: var(--oo-color-contrast-primary);
    }

    @include focus-visible() {
      outline-color: var(--oo-color-primary);
    }

    @include active() {
      background-color: var(--oo-color-mix-bg-contrast-10);
    }

    &.--has-icon {
      padding: 0;
    }

    &.--first,
    &.--last,
    &.--prev,
    &.--next {
    }

    &.--is-current {
      color: var(--oo-color-contrast-primary);
      background-color: var(--oo-color-primary);

      @include hover() {
        background-color: var(--oo-color-mix-primary-contrast-20);
      }
    }
  }

  &__icon,
  svg {
    height: $icon-size;
    width: $icon-size;
  }

  &.--on-bg-light {
    #{$c-pagination}__list {
      background-color: var(--oo-color-light-mix-bg-contrast-05);
    }
    #{$c-pagination}__link {
      @include plain-visited() {
        color: var(--oo-color-light-primary, var(--oo-color-primary));
      }

      @include hover() {
        background-color: var(--oo-color-light-mix-bg-contrast-10);
      }

      @include focus-visible() {
        outline-color: var(--oo-color-light-primary, var(--oo-color-primary));
      }

      @include active() {
        background-color: var(--oo-color-light-mix-bg-contrast-10);
      }

      &.--is-current {
        color: var(--oo-color-light-contrast-primary);
        background-color: var(
          --oo-color-light-primary,
          var(--oo-color-primary)
        );
      }
    }
  }

  &.--on-bg-dark {
    #{$c-pagination}__list {
      background-color: var(--oo-color-dark-mix-bg-contrast-05);
    }
    #{$c-pagination}__link {
      @include plain-visited() {
        color: var(--oo-color-dark-primary, var(--oo-color-primary));
      }

      @include hover() {
        background-color: var(--oo-color-dark-mix-bg-contrast-10);
      }

      @include focus-visible() {
        outline-color: var(--oo-color-dark-primary, var(--oo-color-primary));
      }

      @include active() {
        background-color: var(--oo-color-dark-mix-bg-contrast-10);
      }

      &.--is-current {
        color: var(--oo-color-dark-contrast-primary);
        background-color: var(--oo-color-dark-primary, var(--oo-color-primary));
      }
    }
  }

  &.--on-bg-primary {
    #{$c-pagination}__list {
      background-color: var(--oo-color-primary-mix-bg-contrast-05);
    }
    #{$c-pagination}__link {
      @include plain-visited() {
        color: var(--oo-color-primary-primary, var(--oo-color-primary));
      }

      @include hover() {
        background-color: var(--oo-color-primary-mix-bg-contrast-10);
      }

      @include focus-visible() {
        outline-color: var(--oo-color-primary-primary, var(--oo-color-primary));
      }

      @include active() {
        background-color: var(--oo-color-primary-mix-bg-contrast-10);
      }

      &.--is-current {
        color: var(--oo-color-primary-contrast-primary);
        background-color: var(
          --oo-color-primary-primary,
          var(--oo-color-primary)
        );
      }
    }
  }

  &.--on-bg-secondary {
    #{$c-pagination}__list {
      background-color: var(--oo-color-secondary-mix-bg-contrast-05);
    }
    #{$c-pagination}__link {
      @include plain-visited() {
        color: var(--oo-color-secondary-primary, var(--oo-color-primary));
      }

      @include hover() {
        background-color: var(--oo-color-secondary-mix-bg-contrast-10);
      }

      @include focus-visible() {
        outline-color: var(
          --oo-color-secondary-primary,
          var(--oo-color-primary)
        );
      }

      @include active() {
        background-color: var(--oo-color-secondary-mix-bg-contrast-10);
      }

      &.--is-current {
        color: var(--oo-color-secondary-contrast-primary);
        background-color: var(
          --oo-color-secondary-primary,
          var(--oo-color-primary)
        );
      }
    }
  }
}
