.c-accordion-card {
  $c-accordion-card: &;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include media-breakpoint-up(xl) {
    gap: 2rem;
  }

  &__title {
    display: grid;
    grid-template-columns: auto $icon-wrapper-size;
    gap: 1rem;
    cursor: pointer;
    border-top: 1px solid var(--oo-color-mix-bg-text-50);
    padding-top: 1rem;

    @include visited-active() {
      #{$c-accordion-card}__headline {
        color: var(--oo-color-primary);
      }
    }

    @include hover-focus() {
      #{$c-accordion-card}__headline {
        color: var(--oo-color-primary);
      }
    }

    @include media-breakpoint-up(xl) {
      gap: 2rem;
      padding-top: 2rem;
    }
  }

  &__headline {
    @include media-breakpoint-up(xl) {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  &__icon-wrapper {
    width: $icon-wrapper-size;
    height: $icon-wrapper-size;
    background-color: var(--oo-color-primary);
    border-radius: $border-radius;
    color: var(--oo-color-contrast-primary);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: $icon-size;
    height: $icon-size;
    transition: transform 0.25s ease-in-out;

    .--is-closed & {
    }

    .--is-open & {
      transform: rotate(180deg);
    }
  }

  &__content {
    .--is-open & {
      display: block;
    }

    .--is-closed & {
      display: none;
    }
  }

  .--bg-light & {
    #{$c-accordion-card}__title {
      @include visited-active() {
        #{$c-accordion-card}__headline {
          color: var(--oo-color-light-primary, var(--oo-color-primary));
        }
      }
      @include hover-focus() {
        #{$c-accordion-card}__headline {
          color: var(--oo-color-light-primary, var(--oo-color-primary));
        }
      }
    }
    #{$c-accordion-card}__title {
      border-color: var(--oo-color-light-mix-bg-text-50);
    }
    #{$c-accordion-card}__icon-wrapper {
      background-color: var(--oo-color-light-primary, var(--oo-color-primary));
      color: var(--oo-color-light-contrast-primary);
    }
  }
  .--bg-dark & {
    #{$c-accordion-card}__title {
      @include visited-active() {
        #{$c-accordion-card}__headline {
          color: var(--oo-color-dark-primary, var(--oo-color-primary));
        }
      }
      @include hover-focus() {
        #{$c-accordion-card}__headline {
          color: var(--oo-color-dark-primary, var(--oo-color-primary));
        }
      }
    }
    #{$c-accordion-card}__title {
      border-color: var(--oo-color-dark-mix-bg-text-50);
    }
    #{$c-accordion-card}__icon-wrapper {
      background-color: var(--oo-color-dark-primary, var(--oo-color-primary));
      color: var(--oo-color-dark-contrast-primary);
    }
  }
  .--bg-secondary & {
    #{$c-accordion-card}__title {
      @include visited-active() {
        #{$c-accordion-card}__headline {
          color: var(--oo-color-secondary-primary, var(--oo-color-primary));
        }
      }
      @include hover-focus() {
        #{$c-accordion-card}__headline {
          color: var(--oo-color-secondary-primary, var(--oo-color-primary));
        }
      }
    }
    #{$c-accordion-card}__title {
      border-color: var(--oo-color-secondary-mix-bg-text-50);
    }
    #{$c-accordion-card}__icon-wrapper {
      background-color: var(
        --oo-color-secondary-primary,
        var(--oo-color-primary)
      );
      color: var(--oo-color-secondary-contrast-primary);
    }
  }
  .--bg-primary & {
    #{$c-accordion-card}__title {
      @include visited-active() {
        #{$c-accordion-card}__headline {
          color: var(--oo-color-primary-primary, var(--oo-color-primary));
        }
      }
      @include hover-focus() {
        #{$c-accordion-card}__headline {
          color: var(--oo-color-primary-primary, var(--oo-color-primary));
        }
      }
    }
    #{$c-accordion-card}__title {
      border-color: var(--oo-color-primary-mix-bg-text-50);
    }
    #{$c-accordion-card}__icon-wrapper {
      background-color: var(
        --oo-color-primary-primary,
        var(--oo-color-primary)
      );
      color: var(--oo-color-primary-contrast-primary);
    }
  }
}
