.c-icon-button {
  $c-icon-button: &;

  width: $icon-wrapper-size;
  height: $icon-wrapper-size;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  outline: $outline;
  outline-offset: $outline-offset;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    outline-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  cursor: pointer;

  @include plain-visited() {
    color: var(--oo-color-contrast-bg);
    background-color: var(--oo-color-mix-bg-contrast-05);
  }

  @include hover() {
    color: var(--oo-color-contrast-primary);
    background-color: var(--oo-color-primary);
  }

  @include focus-visible() {
    outline-color: var(--oo-color-text);
  }

  @include active() {
    background-color: var(--oo-color-mix-primary-contrast-40);
  }

  @include disabled() {
    opacity: 0.2;
    outline-color: transparent;
    cursor: default;
  }

  &__text {
  }

  &__icon {
    height: $icon-size;
    width: $icon-size;

    svg {
      height: $icon-size;
      width: $icon-size;
    }

    &.--filled {
      fill: var(--oo-color-contrast-primary);
    }
  }

  &.--on-bg-light,
  .--bg-light & {
    @include plain-visited() {
      color: var(--oo-color-light-contrast-bg);
      background-color: var(--oo-color-light-mix-bg-contrast-05);
    }

    @include hover() {
      color: var(--oo-color-light-contrast-primary);
      background-color: var(--oo-color-light-primary);
    }

    @include focus-visible() {
      outline-color: var(--oo-color-light-text, var(--oo-color-text));
    }

    @include active() {
      background-color: var(
        --oo-color-light-mix-primary-contrast-40,
        var(--oo-color-mix-primary-contrast-40)
      );
    }

    @include disabled() {
      outline-color: transparent;
    }
  }

  &.--on-bg-dark,
  .--bg-dark & {
    @include plain-visited() {
      color: var(--oo-color-dark-contrast-bg);
      background-color: var(--oo-color-dark-mix-bg-contrast-05);
    }

    @include hover() {
      color: var(--oo-color-dark-contrast-primary);
      background-color: var(--oo-color-dark-primary);
    }

    @include focus-visible() {
      outline-color: var(--oo-color-dark-primary, var(--oo-color-primary));
    }

    @include active() {
      background-color: var(--oo-color-dark-mix-primary-contrast-40);
    }

    @include disabled() {
      outline-color: transparent;
    }
  }

  &.--on-bg-primary,
  .--bg-primary & {
    @include plain-visited() {
      color: var(--oo-color-primary-contrast-bg);
      background-color: var(--oo-color-primary-mix-bg-contrast-05);
    }

    @include hover() {
      color: var(--oo-color-primary-contrast-primary);
      background-color: var(--oo-color-primary-primary);
    }

    @include focus-visible() {
      outline-color: var(--oo-color-primary-primary, var(--oo-color-primary));
    }

    @include active() {
      background-color: var(--oo-color-primary-mix-primary-contrast-40);
    }

    @include disabled() {
      outline-color: transparent;
    }
  }

  &.--on-bg-secondary,
  .--bg-secondary & {
    @include plain-visited() {
      color: var(--oo-color-secondary-contrast-bg);
      background-color: var(--oo-color-secondary-mix-bg-contrast-05);
    }

    @include hover() {
      color: var(--oo-color-secondary-contrast-primary);
      background-color: var(--oo-color-secondary-primary);
    }

    @include focus-visible() {
      outline-color: var(--oo-color-secondary-primary, var(--oo-color-primary));
    }

    @include active() {
      background-color: var(--oo-color-secondary-mix-primary-contrast-40);
    }

    @include disabled() {
      outline-color: transparent;
    }
  }

  &.--on-bg-header,
  .--bg-header & {
    @include plain-visited() {
      color: var(--oo-color-header-contrast-bg);
      background-color: var(--oo-color-header-mix-bg-contrast-05);
    }

    @include hover() {
      color: var(--oo-color-header-contrast-primary);
      background-color: var(--oo-color-header-primary);
    }

    @include focus-visible() {
      outline-color: var(--oo-color-primary);
    }

    @include active() {
    }

    @include disabled() {
      outline-color: transparent;
    }
  }

  &.--on-bg-footer,
  .--bg-footer & {
    @include plain-visited() {
      color: var(--oo-color-footer-contrast-bg);
      background-color: var(--oo-color-footer-mix-bg-contrast-05);
    }

    @include hover() {
      color: var(--oo-color-footer-contrast-primary);
      background-color: var(--oo-color-footer-primary);
    }

    @include focus-visible() {
      outline-color: var(--oo-color-footer-primary, var(--oo-color-primary));
    }

    @include active() {
      background-color: var(--oo-color-footer-mix-primary-contrast-40);
    }

    @include disabled() {
      outline-color: transparent;
    }
  }

  &.--on-bg-transparent,
  .--bg-transparent & {
    @include plain-visited() {
      color: var(--oo-color-contrast-bg);
      background-color: var(--oo-color-mix-bg-contrast-05);
    }

    @include hover() {
      color: var(--oo-color-contrast-primary);
      background-color: var(--oo-color-primary);
    }

    @include focus-visible() {
      outline-color: var(--oo-color-text);
    }

    @include active() {
      background-color: var(--oo-color-mix-primary-contrast-40);
    }

    @include disabled() {
      outline-color: transparent;
    }
  }

  &.--bigger {
    width: $button-size;
    height: $button-size;
  }
}
