.c-review-detail {
  $c-review-detail: &;
  display: flex;
  padding: 3.75rem 2rem;
  gap: 2rem;

  &__author {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__picture {
    width: calc(100% + 2rem);
    height: auto;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin: -3.75rem 0 0 -2rem;
  }
  &__content {
  }
  background-color: var(--oo-color-mix-bg-contrast-05);
  .--bg-light & {
    color: var(--oo-color-light-text, var(--oo-color-text));
    background-color: var(
      --oo-color-light-mix-bg-contrast-05,
      var(--oo-color-mix-bg-contrast-05)
    );
  }

  .--bg-dark & {
    color: var(--oo-color-dark-text, var(--oo-color-text));
    background-color: var(
      --oo-color-dark-mix-bg-contrast-05,
      var(--oo-color-mix-bg-contrast-05)
    );
  }

  .--bg-primary & {
    color: var(--oo-color-primary-text, var(--oo-color-text));
    background-color: var(
      --oo-color-primary-mix-bg-contrast-05,
      var(--oo-color-mix-bg-contrast-05)
    );
  }

  .--bg-secondary & {
    color: var(--oo-color-secondary-text, var(--oo-color-text));
    background-color: var(
      --oo-color-secondary-mix-bg-contrast-05,
      var(--oo-color-mix-bg-contrast-05)
    );
  }
}
