.--iframe-display {
  .o-section {
    padding-block: 2rem !important;
    &.c-property-details {
      padding-top: 0 !important;
    }
  }

  .o-container,
  .o-container-fluid {
    max-width: 100%;
  }

  .c-footer {
    &__bottom {
      @include media-breakpoint-up(lg) {
        gap: 0;
        padding: 1rem 0;
      }
      .c-footer__bottom-column {
        &.--right {
          justify-content: flex-start;
        }
      }

      .onoffice-logo {
        opacity: 1;
      }
    }
  }

  .c-property-details {
    &__row {
      @include media-breakpoint-up(lg) {
        gap: 0;
      }
    }

    &__fields-row {
      @include media-breakpoint-up(lg) {
        gap: 0;
        row-gap: 5rem;
      }
    }

    &__header-wrapper {
      margin-top: 5rem;
    }
  }

  .c-lightbox .c-lightbox__container {
    height: auto;
    top: 5rem;
  }

  & .o-main > *:first-child .c-banner__slide {
    min-height: 500px;
  }

  .c-banner__picture {
    height: 500px;
  }
}

body.--iframe-display {
  height: auto !important;
}
